table td,
#layout-menu {
	font-size: 1.08rem;/*11.5px*/
}

#layout-main > h1 {
	font-family: "Century Gothic","Lucida Grande",sans-serif !important;
	font-size: 2.05rem;
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: 0.1em;
}

h2,
h2 a,
h2 span {
	font-family: "Century Gothic","Lucida Grande",sans-serif !important;
	font-size: 1.8rem;
	font-weight: normal !important;
}

caption,
h4,
h4 a,
h4 span {
	font-family: "Century Gothic","Lucida Grande",sans-serif !important;
	font-size: 1.59rem;
	font-weight: normal !important;
}

h4 a.i_icon {
	font-family: 'FontAwesome',"Century Gothic","Lucida Grande",sans-serif !important;
}

#layout-menu #menu-account li a {
	text-decoration: none;
	text-transform: capitalize;
	font-weight: bold;
}

.g_definitionlist table th,
.g_definitionlist table th a,
#layout-main div.tabbed_pane ul.tabs li,
#layout-main tr.header th,
#layout-tabs ul.main-tabs > li {
	font-size: 1.14rem; /*12px*/
}

#layout-main tr.header th {
	font-weight: normal;
}

#layout-main div.admin_all div.g_menu h4 span,
#layout-main tr.header th,
#layout-main tr.header th.sortable a,
#layout-menu li.sub-menu span.tab {
	text-transform: capitalize;
}

div.anime_all div.episodes table.filelist th,
div.mylist_list table.eplist th {
	font-size: 0.95rem;
}

.s_small {
	font-size: 0.9rem;
}

abbr {
	cursor: help;
}