/*
On the ed2k dump page, highlight the leftmost mylist state column with purple for anything in your mylist
*/
#layout-main div.ed2kdump_all tr td.mylist.in
{
  background-color: #FF82D5 !important;
  color: #000000 !important;
}
#layout-main div.ed2kdump_all tr.g_odd td.mylist.in
{
  background-color: #FF59AC !important;
  color: #000000 !important;
}

/*
Experimental colour highlight of mylist entries based on mylist state, on all anidb pages.
Font colour changes possibly require additional steps. See dropped state black for example.

NOTE: The order the colours are applied matters!  Current order is correct!
1. red default
2. red .collecting
3. blue .complete
4. orange .completed
5. green .all_watched
6. black .dropped
7. orange .watching
8. red .stalled

*/
/*default colour: red for if not fully collected (missing files), and have not started*/
#layout-main div.producer_all table tr.mylist,
#layout-main div.latest2_all table tr.mylist,
#layout-main div.latest2_all table tr td.mylist,
#layout-main div.character_all div.tabbed_pane_main table tr.mylist,
#layout-main div.creator_all div.tabbed_pane_main table tr.mylist,
#layout-main div.collection_all div.tabbed_pane_main table tr.mylist,
#layout-main div.song_all div.tabbed_pane_main table tr.mylist,
#layout-main div.song_all div.tabbed_pane_main table tr td.mylist,
#layout-main div.anime_all div.tabbed_pane_main table tr.mylist,
#layout-main div.animelist_all table tr.mylist,
#layout-main div.group_released table tr.mylist,
#layout-main table.animelist tr.mylist,
#layout-main div.latestanimes_all div.g_section.mylist tr.mylist td,  /* deprecated? */
#layout-main div.timeline_all div.timeline ul.row li a,
#layout-main div:not(.ed2kdump_all) tr td.mylist,
#layout-main div.anime_all div.tabbed_pane_main div.similaranime div.stripe.mylist,
.g_bubble.stripe.mylist,
.g_bubble.box.mylist > div.top,
#layout-main div.mylist_all tr[id^="a"]:not(.epsrow),
/* #layout-main table.wishlist tbody tr, */
#layout-main table.wishlist tr.mylist,
#layout-main div.g_content.userpage_all div.g_section.userprefs div.g_section.content.anime div.g_bubble.stripe.mini.mylist
{
  background-color: #E69696;
}
#layout-main div.producer_all table tr.g_odd.mylist,
#layout-main div.latest2_all table tr.g_odd.mylist,
#layout-main div.latest2_all table tr.g_odd td.mylist,
#layout-main div.character_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.creator_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.collection_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.song_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.song_all div.tabbed_pane_main table tr.g_odd td.mylist,
#layout-main div.anime_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.animelist_all table tr.g_odd.mylist,
#layout-main div.group_released table tr.g_odd.mylist,
#layout-main table.animelist tr.g_odd.mylist,
#layout-main div.latestanimes_all div.g_section.mylist tr.g_odd.mylist td, /* deprecated? */
#layout-main div.timeline_all div.timeline ul.row.g_odd li a,
#layout-main div:not(.ed2kdump_all) tr.g_odd td.mylist,
#layout-main div.anime_all div.tabbed_pane_main div.similaranime div.g_odd.stripe.mylist,
.g_odd.g_bubble.stripe.mylist,
.g_odd.g_bubble.box.mylist > div.top,
#layout-main div.mylist_all tr.g_odd[id^="a"]:not(.epsrow),
/* #layout-main table.wishlist tbody tr.g_odd, */
#layout-main table.wishlist tr.g_odd.mylist,
#layout-main div.g_content.userpage_all div.g_section.userprefs div.g_section.content.anime div.g_odd.g_bubble.stripe.mini.mylist
{
  background-color: #E67878;
}

/* red for default .collecting state */
#layout-main > :not(.timeline_all) .mylist.collecting,
#layout-main table.animelist .collecting,
#layout-main table.wishlist .collecting,
#layout-main div.timeline_all div.timeline ul.row li.collecting a,
.g_bubble.box.mylist.collecting > div.top
{
  background-color: #E69696 !important;
}
#layout-main > :not(.timeline_all) .mylist.g_odd.collecting,
#layout-main table.animelist .g_odd.collecting,
#layout-main table.wishlist .g_odd.collecting,
#layout-main div.timeline_all div.timeline ul.row.g_odd li.collecting a,
.g_odd.g_bubble.box.mylist.collecting > div.top,
#layout-main > :not(.timeline_all) .g_odd .mylist.collecting
{
  background-color: #E67878 !important;
}

/*blue for .complete (fully collected and "ready to watch")*/
#layout-main > :not(.timeline_all) .mylist.complete,
#layout-main table.animelist .complete,
#layout-main table.wishlist .complete,
#layout-main div.timeline_all div.timeline ul.row li.complete a,
.g_bubble.box.mylist.complete > div.top
{
  background-color: #8DDFE4 !important;
}
#layout-main > :not(.timeline_all) .mylist.g_odd.complete,
#layout-main table.animelist .g_odd.complete,
#layout-main table.wishlist .g_odd.complete,
#layout-main div.timeline_all div.timeline ul.row.g_odd li.complete a,
.g_odd.g_bubble.box.mylist.complete > div.top,
#layout-main > :not(.timeline_all) .g_odd .mylist.complete
{
  background-color: #68CACE !important;
}

/*orange for mylist state .completed */
#layout-main > :not(.timeline_all) .mylist.completed,
#layout-main table.animelist .completed,
#layout-main table.wishlist .completed,
#layout-main div.timeline_all div.timeline ul.row li.completed a,
.g_bubble.box.mylist.completed > div.top
{
  background-color: #FFB84D !important;
}
#layout-main > :not(.timeline_all) .mylist.g_odd.completed,
#layout-main table.animelist .g_odd.completed,
#layout-main table.wishlist .g_odd.completed,
#layout-main div.timeline_all div.timeline ul.row.g_odd li.completed a,
.g_odd.g_bubble.box.mylist.completed > div.top,
#layout-main > :not(.timeline_all) .g_odd .mylist.completed
{
  background-color: #FFA319 !important;
}

/*green for .all_watched */
#layout-main > :not(.timeline_all) .mylist.all_watched,
#layout-main table.animelist .all_watched,
#layout-main table.wishlist .all_watched,
#layout-main div.timeline_all div.timeline ul.row li.all_watched a,
.g_bubble.box.mylist.all_watched > div.top
{
  background-color: #A0E6A0 !important;
}
#layout-main > :not(.timeline_all) .mylist.g_odd.all_watched,
#layout-main table.animelist .g_odd.all_watched,
#layout-main table.wishlist .g_odd.all_watched,
#layout-main div.timeline_all div.timeline ul.row.g_odd li.all_watched a,
.g_odd.g_bubble.box.mylist.all_watched > div.top,
#layout-main > :not(.timeline_all) .g_odd .mylist.all_watched
{
  background-color: #85D485 !important;
}

/*black for .dropped */
#layout-main > :not(.timeline_all) .mylist.dropped,
#layout-main .mylist.dropped > :not(.image) > :not(.tooltip) a.name-colored,
#layout-main .mylist.dropped .name a,
#layout-main table.animelist .dropped,
#layout-main table.animelist .dropped .name a,
#layout-main table.wishlist .dropped,
#layout-main table.wishlist .dropped .name a,
#layout-main div.timeline_all div.timeline ul.row li.dropped a,
.g_bubble.box.mylist.dropped > div.top
{
  background-color: #444444 !important;
  color: #FFFFFF !important;
}
#layout-main .mylist.dropped div.tooltip {
  color: initial;
}
#layout-main > :not(.timeline_all) .mylist.g_odd.dropped,
#layout-main .mylist.g_odd.dropped > :not(.image) > :not(.tooltip) a.name-colored,
#layout-main .mylist.g_odd.dropped .name a,
#layout-main table.animelist .g_odd.dropped,
#layout-main table.animelist .g_odd.dropped .name a,
#layout-main table.wishlist .g_odd.dropped,
#layout-main table.wishlist .g_odd.dropped .name a,
#layout-main div.timeline_all div.timeline ul.row.g_odd li.dropped a,
.g_odd.g_bubble.box.mylist.dropped > div.top,
#layout-main > :not(.timeline_all) .g_odd .mylist.dropped
{
  background-color: #222222 !important;
  color: #FFFFFF !important;
}
#layout-main .mylist.g_odd.dropped div.tooltip {
  color: initial;
}

/*orange for .watching */
#layout-main > :not(.timeline_all) .mylist.watching,
#layout-main table.animelist .watching,
#layout-main table.wishlist .watching,
#layout-main div.timeline_all div.timeline ul.row li.watching a,
.g_bubble.box.mylist.watching > div.top
{
  background-color: #FFB84D !important;
}
#layout-main > :not(.timeline_all) .mylist.g_odd.watching,
#layout-main table.animelist .g_odd.watching,
#layout-main table.wishlist .g_odd.watching,
#layout-main div.timeline_all div.timeline ul.row.g_odd li.watching a,
.g_odd.g_bubble.box.mylist.watching > div.top,
#layout-main > :not(.timeline_all) .g_odd .mylist.watching
{
  background-color: #FFA319 !important;
}

/*red for .stalled */
#layout-main > :not(.timeline_all) .mylist.stalled,
#layout-main table.animelist .stalled,
#layout-main table.wishlist .stalled,
#layout-main div.timeline_all div.timeline ul.row li.stalled a,
.g_bubble.box.mylist.stalled > div.top
{
  background-color: #E69696 !important;
}
#layout-main > :not(.timeline_all) .mylist.g_odd.stalled,
#layout-main table.animelist .g_odd.stalled,
#layout-main table.wishlist .g_odd.stalled,
#layout-main div.timeline_all div.timeline ul.row.g_odd li.stalled a,
.g_odd.g_bubble.box.mylist.stalled > div.top,
#layout-main > :not(.timeline_all) .g_odd .mylist.stalled
{
  background-color: #E67878 !important;
}