/*
On the ed2k dump page, highlight the leftmost mylist state column with purple for anything in your mylist
*/
#layout-main div.ed2kdump_all tr td.mylist.in
{
  background-color: #FF82D5 !important;
  color: #000000 !important;
}
#layout-main div.ed2kdump_all tr.g_odd td.mylist.in
{
  background-color: #FF59AC !important;
  color: #000000 !important;
}

/*
Experimental colour highlight of mylist entries based on mylist state, on all anidb pages.
Font colour changes possibly require additional steps. See dropped state black for example.

NOTE: The order the colours are applied matters!  Current order is correct!
1. red default
2. red .liststate_collecting
3. blue .complete
4. orange .liststate_completed
5. green .all_watched
6. black .liststate_dropped
7. orange .liststate_watching
8. red .liststate_stalled

*/
/*default colour: red for if not fully collected (missing files), and have not started*/
#layout-main div.producer_all table tr.mylist,
#layout-main div.latest2_all table tr.mylist,
#layout-main div.latest2_all table tr td.mylist,
#layout-main div.character_all div.tabbed_pane_main table tr.mylist,
#layout-main div.creator_all div.tabbed_pane_main table tr.mylist,
#layout-main div.collection_all div.tabbed_pane_main table tr.mylist,
#layout-main div.song_all div.tabbed_pane_main table tr.mylist,
#layout-main div.song_all div.tabbed_pane_main table tr td.mylist,
#layout-main div.anime_all div.tabbed_pane_main table tr.mylist,
#layout-main div.animelist_all table tr.mylist,
#layout-main div.group_released table tr.mylist,
#layout-main table.animelist tr.mylist,
#layout-main div.timeline_all div.timeline_entry,
#layout-main div:not(.ed2kdump_all) tr td.mylist,
#layout-main div.anime_all div.tabbed_pane_main div.similaranime div.stripe.mylist,
.g_bubble.stripe.mylist,
.g_bubble.box.mylist,
.g_bubble.box.mylist > div.top,
#layout-main div.mylist_all tr[id^="a"]:not(.epsrow),
/* #layout-main table.wishlist tbody tr, */
#layout-main table.wishlist tr.mylist,
#layout-main div.g_content.userpage_all div.g_section.userprefs div.g_section.content.anime div.g_bubble.stripe.mini.mylist
{
  background-color: #E69696;
}
#layout-main div.producer_all table tr.g_odd.mylist,
#layout-main div.latest2_all table tr.g_odd.mylist,
#layout-main div.latest2_all table tr.g_odd td.mylist,
#layout-main div.character_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.creator_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.collection_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.song_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.song_all div.tabbed_pane_main table tr.g_odd td.mylist,
#layout-main div.anime_all div.tabbed_pane_main table tr.g_odd.mylist,
#layout-main div.animelist_all table tr.g_odd.mylist,
#layout-main div.group_released table tr.g_odd.mylist,
#layout-main table.animelist tr.g_odd.mylist,
#layout-main div:not(.ed2kdump_all) tr.g_odd td.mylist,
#layout-main div.anime_all div.tabbed_pane_main div.similaranime div.g_odd.stripe.mylist,
.g_odd.g_bubble.stripe.mylist,
.g_odd.g_bubble.box.mylist,
.g_odd.g_bubble.box.mylist > div.top,
#layout-main div.mylist_all tr.g_odd[id^="a"]:not(.epsrow),
/* #layout-main table.wishlist tbody tr.g_odd, */
#layout-main table.wishlist tr.g_odd.mylist,
#layout-main div.g_content.userpage_all div.g_section.userprefs div.g_section.content.anime div.g_odd.g_bubble.stripe.mini.mylist
{
  background-color: #E67878;
}

/* red for default .liststate_collecting state */
#layout-main > :not(.timeline_all) .mylist.liststate_collecting,
#layout-main table.animelist .liststate_collecting,
#layout-main table.wishlist .liststate_collecting,
#layout-main div.timeline_all div.liststate_collecting,
.g_bubble.box.mylist.liststate_collecting,
.g_bubble.box.mylist.liststate_collecting > div.top
{
  background-color: #E69696 !important;
}
#layout-main > :not(.timeline_all) .mylist.g_odd.liststate_collecting,
#layout-main table.animelist .g_odd.liststate_collecting,
#layout-main table.wishlist .g_odd.liststate_collecting,
.g_odd.g_bubble.box.mylist.liststate_collecting,
.g_odd.g_bubble.box.mylist.liststate_collecting > div.top,
#layout-main > :not(.timeline_all) .g_odd .mylist.liststate_collecting
{
  background-color: #E67878 !important;
}

/*blue for .complete (fully collected and "ready to watch")*/
#layout-main > :not(.timeline_all) .mylist.complete,
#layout-main table.animelist .complete,
#layout-main table.wishlist .complete,
#layout-main div.timeline_all div.complete,
.g_bubble.box.mylist.complete,
.g_bubble.box.mylist.complete > div.top
{
  background-color: #8DDFE4 !important;
}
#layout-main > :not(.timeline_all) .mylist.g_odd.complete,
#layout-main table.animelist .g_odd.complete,
#layout-main table.wishlist .g_odd.complete,
.g_odd.g_bubble.box.mylist.complete,
.g_odd.g_bubble.box.mylist.complete > div.top,
#layout-main > :not(.timeline_all) .g_odd .mylist.complete
{
  background-color: #68CACE !important;
}

/*orange for mylist state .liststate_completed */
#layout-main > :not(.timeline_all) .mylist.liststate_completed,
#layout-main table.animelist .liststate_completed,
#layout-main table.wishlist .liststate_completed,
#layout-main div.timeline_all div.liststate_completed,
.g_bubble.box.mylist.liststate_completed,
.g_bubble.box.mylist.liststate_completed > div.top
{
  background-color: #FFB84D !important;
}
#layout-main > :not(.timeline_all) .mylist.g_odd.liststate_completed,
#layout-main table.animelist .g_odd.liststate_completed,
#layout-main table.wishlist .g_odd.liststate_completed,
.g_odd.g_bubble.box.mylist.liststate_completed,
.g_odd.g_bubble.box.mylist.liststate_completed > div.top,
#layout-main > :not(.timeline_all) .g_odd .mylist.liststate_completed
{
  background-color: #FFA319 !important;
}

/*green for .all_watched */
#layout-main > :not(.timeline_all) .mylist.all_watched,
#layout-main table.animelist .all_watched,
#layout-main table.wishlist .all_watched,
#layout-main div.timeline_all div.all_watched,
.g_bubble.box.mylist.all_watched,
.g_bubble.box.mylist.all_watched > div.top
{
  background-color: #A0E6A0 !important;
}
#layout-main > :not(.timeline_all) .mylist.g_odd.all_watched,
#layout-main table.animelist .g_odd.all_watched,
#layout-main table.wishlist .g_odd.all_watched,
.g_odd.g_bubble.box.mylist.all_watched,
.g_odd.g_bubble.box.mylist.all_watched > div.top,
#layout-main > :not(.timeline_all) .g_odd .mylist.all_watched
{
  background-color: #85D485 !important;
}

/*black for .liststate_dropped */
#layout-main > :not(.timeline_all) .mylist.liststate_dropped,
#layout-main .mylist.liststate_dropped > :not(.image) > :not(.tooltip) a.name-colored,
#layout-main .mylist.liststate_dropped .name a,
#layout-main table.animelist .liststate_dropped,
#layout-main table.animelist .liststate_dropped .name a,
#layout-main table.wishlist .liststate_dropped,
#layout-main table.wishlist .liststate_dropped .name a,
#layout-main div.timeline_all div.liststate_dropped,
.g_bubble.box.mylist.liststate_dropped,
.g_bubble.box.mylist.liststate_dropped > div.top
{
  background-color: #444444 !important;
  color: #FFFFFF !important;
}
#layout-main .mylist.liststate_dropped div.tooltip {
  color: initial;
}
#layout-main > :not(.timeline_all) .mylist.g_odd.liststate_dropped,
#layout-main .mylist.g_odd.liststate_dropped > :not(.image) > :not(.tooltip) a.name-colored,
#layout-main .mylist.g_odd.liststate_dropped .name a,
#layout-main table.animelist .g_odd.liststate_dropped,
#layout-main table.animelist .g_odd.liststate_dropped .name a,
#layout-main table.wishlist .g_odd.liststate_dropped,
#layout-main table.wishlist .g_odd.liststate_dropped .name a,
.g_odd.g_bubble.box.mylist.liststate_dropped,
.g_odd.g_bubble.box.mylist.liststate_dropped > div.top,
#layout-main > :not(.timeline_all) .g_odd .mylist.liststate_dropped
{
  background-color: #333333 !important;
  color: #FFFFFF !important;
}
#layout-main .mylist.g_odd.liststate_dropped div.tooltip {
  color: initial;
}

/*orange for .liststate_watching */
#layout-main > :not(.timeline_all) .mylist.liststate_watching,
#layout-main table.animelist .liststate_watching,
#layout-main table.wishlist .liststate_watching,
#layout-main div.timeline_all div.liststate_watching,
.g_bubble.box.mylist.liststate_watching,
.g_bubble.box.mylist.liststate_watching > div.top
{
  background-color: #FFB84D !important;
}
#layout-main > :not(.timeline_all) .mylist.g_odd.liststate_watching,
#layout-main table.animelist .g_odd.liststate_watching,
#layout-main table.wishlist .g_odd.liststate_watching,
.g_odd.g_bubble.box.mylist.liststate_watching,
.g_odd.g_bubble.box.mylist.liststate_watching > div.top,
#layout-main > :not(.timeline_all) .g_odd .mylist.liststate_watching
{
  background-color: #FFA319 !important;
}

/*red for .liststate_stalled */
#layout-main > :not(.timeline_all) .mylist.liststate_stalled,
#layout-main table.animelist .liststate_stalled,
#layout-main table.wishlist .liststate_stalled,
#layout-main div.timeline_all div.liststate_stalled,
.g_bubble.box.mylist.liststate_stalled,
.g_bubble.box.mylist.liststate_stalled > div.top
{
  background-color: #E69696 !important;
}
#layout-main > :not(.timeline_all) .mylist.g_odd.liststate_stalled,
#layout-main table.animelist .g_odd.liststate_stalled,
#layout-main table.wishlist .g_odd.liststate_stalled,
.g_odd.g_bubble.box.mylist.liststate_stalled,
.g_odd.g_bubble.box.mylist.liststate_stalled > div.top,
#layout-main > :not(.timeline_all) .g_odd .mylist.liststate_stalled
{
  background-color: #E67878 !important;
}