/*
Wishlist state highlighting.  Highlight if the anime is in your wishlist.

Currently, does not differentiate between different wishlist states.
*/
#layout-main div.producer_all table tr.wishlist .thumb,
#layout-main div.latest2_all table tr.wishlist .thumb,
#layout-main div.latest2_all table tr.wishlist .name.anime a:not(.filter),
#layout-main div.latest2_all table tr td.wishlist.thumb,
#layout-main div.latest2_all table tr td.wishlist.name.anime a:not(.filter),
#layout-main div.character_all div.tabbed_pane_main table tr.wishlist .thumb,
#layout-main div.character_all div.tabbed_pane_main table tr.wishlist .type.relation,
#layout-main div.creator_all div.tabbed_pane_main div.anime_songs table tr.wishlist .thumb,
#layout-main div.creator_all div.tabbed_pane_main table tr.wishlist .name.anime > a,
#layout-main div.creator_all div.tabbed_pane_main table tr.wishlist .name.anime label a,
#layout-main div.collection_all div.tabbed_pane_main table tr.wishlist .thumb,
#layout-main div.collection_all div.tabbed_pane_main table tr.wishlist .name.anime a,
#layout-main div.song_all div.tabbed_pane_main table tr td.wishlist.version,
#layout-main div.song_all div.tabbed_pane_main table tr td.wishlist.thumb,
#layout-main div.song_all div.tabbed_pane_main table tr td.wishlist.name a,
#layout-main div.anime_all div.tabbed_pane_main table tr.wishlist .thumb,
#layout-main div.anime_all div.tabbed_pane_main table tr.wishlist .check,
#layout-main div.anime_all div.tabbed_pane_main table tr.wishlist .number,
#layout-main div.animelist_all table tr.wishlist .thumb,
#layout-main div.animelist_all table tr.wishlist .check,
#layout-main div.animelist_all table tr.wishlist .number,
#layout-main div.group_released table tr.wishlist td.date,
#layout-main table.animelist tr.wishlist .thumb,
#layout-main table.animelist tr.wishlist .number,
#layout-main table.animelist tr.wishlist .check,
#layout-main div:not(.ed2kdump_all) tr td.wishlist .thumb,
#layout-main div.anime_all div.tabbed_pane_main div.similaranime div.stripe.wishlist div.name,
#layout-main .g_bubble.stripe.wishlist div.data div.name,
#layout-main .g_bubble.stripe.wishlist div.data div.name a,
#layout-main div.calendar_all .g_bubble.box.wishlist > div.top,
#layout-main div.mylist_all tr.wishlist[id^="a"]:not(.epsrow) .number,
#layout-main div.mylist_all tr.wishlist[id^="a"]:not(.epsrow) .check,
#layout-main div.mynotifies_all tr.wishlist > .check,
#layout-main div.g_content.userpage_all div.g_section.userprefs div.g_section.content.anime div.g_bubble.stripe.mini.wishlist div.name,
#layout-main table.animelist .wishlist .number,
#layout-main table.animelist .wishlist .check
{
  background-color: #FF82D5 !important;
  color: #000000 !important;
}
#layout-main div.producer_all table tr.g_odd.wishlist .thumb,
#layout-main div.latest2_all table tr.g_odd.wishlist .thumb,
#layout-main div.latest2_all table tr.g_odd.wishlist .name.anime a:not(.filter),
#layout-main div.latest2_all table tr.g_odd td.wishlist.thumb,
#layout-main div.latest2_all table tr.g_odd td.wishlist.name.anime a:not(.filter),
#layout-main div.character_all div.tabbed_pane_main table tr.g_odd.wishlist .thumb,
#layout-main div.character_all div.tabbed_pane_main table tr.g_odd.wishlist .type.relation,
#layout-main div.creator_all div.tabbed_pane_main div.anime_songs table tr.g_odd.wishlist .thumb,
#layout-main div.creator_all div.tabbed_pane_main table tr.g_odd.wishlist .name.anime > a,
#layout-main div.creator_all div.tabbed_pane_main table tr.g_odd.wishlist .name.anime label a,
#layout-main div.collection_all div.tabbed_pane_main table tr.g_odd.wishlist .thumb,
#layout-main div.collection_all div.tabbed_pane_main table tr.g_odd.wishlist .name.anime a,
#layout-main div.song_all div.tabbed_pane_main table tr.g_odd td.wishlist.version,
#layout-main div.song_all div.tabbed_pane_main table tr.g_odd td.wishlist.thumb,
#layout-main div.song_all div.tabbed_pane_main table tr.g_odd td.wishlist.name a,
#layout-main div.anime_all div.tabbed_pane_main table tr.g_odd.wishlist .thumb,
#layout-main div.anime_all div.tabbed_pane_main table tr.g_odd.wishlist .check,
#layout-main div.anime_all div.tabbed_pane_main table tr.g_odd.wishlist .number,
#layout-main div.animelist_all table tr.g_odd.wishlist .thumb,
#layout-main div.animelist_all table tr.g_odd.wishlist .check,
#layout-main div.animelist_all table tr.g_odd.wishlist .number,
#layout-main div.group_released table tr.g_odd.wishlist td.date,
#layout-main table.animelist tr.g_odd.wishlist .thumb,
#layout-main table.animelist tr.g_odd.wishlist .check,
#layout-main table.animelist tr.g_odd.wishlist .number,
#layout-main div:not(.ed2kdump_all) tr.g_odd td.wishlist .thumb,
#layout-main div.anime_all div.tabbed_pane_main div.similaranime div.g_odd.stripe.wishlist div.name,
#layout-main .g_odd.g_bubble.stripe.wishlist div.data div.name,
#layout-main .g_odd.g_bubble.stripe.wishlist div.data div.name a,
#layout-main div.calendar_all .g_odd.g_bubble.box.wishlist > div.top,
#layout-main div.mylist_all tr.g_odd.wishlist[id^="a"]:not(.epsrow) .number,
#layout-main div.mylist_all tr.g_odd.wishlist[id^="a"]:not(.epsrow) .check,
#layout-main div.mynotifies_all tr.g_odd.wishlist > .check,
#layout-main div.g_content.userpage_all div.g_section.userprefs div.g_section.content.anime div.g_odd.g_bubble.stripe.mini.wishlist div.name,
#layout-main table.animelist .wishlist.g_odd .number,
#layout-main table.animelist .wishlist.g_odd .check
{
  background-color: #FF59AC !important;
  color: #000000 !important;
}