#layout-content {
	border-radius: 5px 0 0 5px;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-top: 1px solid;
}

#layout-menu li.sub-menu {
	border: 1px solid;
}

#layout-menu li.sub-menu,
#layout-menu li.sub-menu ul {
	border-radius: 5px;
}

#layout-menu li.sub-menu li:first-child:hover {
	border-radius: 2px 2px 0px 0px;
}

#layout-menu li.sub-menu li:last-child:hover {
	border-radius: 0px 0px 2px 2px;
}

#layout-menu li.sub-menu li+li {
	border-top: 1px solid;
}

#layout-menu > li ul {
	border: none;
}