table {
	border-collapse: separate;
}

#layout-tabs ul.main-tabs > li:hover,
#layout-tabs ul.main-tabs > li.selected,
#layout-tabs ul.main-tabs > li,
#layout-main div.tabbed_pane_cfg ul.tabs li:hover,
#layout-main div.tabbed_pane_cfg ul.tabs li.selected,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected {
	border-bottom: 2px double;
}

input[type="submit"],
input[type="button"],
button,
.g_bubble,
.g_button a,
input[type="text"],
input[type="password"],
input.text,
textarea,
select,
#layout-main div.tabbed_pane_cfg div.body,
#layout-main div.tabbed_pane_cfg ul.tabs li,
#layout-main div.addtagentityrel_all div.suggestions > span.focus,
#layout-main div.addtagentityrel_all div.suggestions > span:hover,
#layout-search select,
#layout-search input.text,
#layout-main div.tabbed_pane ul.tabs li,
#layout-main div.pagination span a,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-main ul.g_list li,
#layout-tabs ul.main-tabs > li,
#layout-menu > li ul,
#layout-main div.avatar .image,
#layout-main .g_image img,
#layout-main div.search_all div.suggestions {
	border: 1px solid;
}

tr + tr td,
li.g_odd + li,
li + li.g_odd,
tr + tr th,
#layout-main div.g_definitionlist tr th,
#layout-main div div.explanation div.description dl + dl,
#layout-main div.report_all div.body ul li + li,
#layout-main div.votes_all div.graph div.group + div.group_odd,
#layout-main div.votes_all div.graph div.group_odd + div.group,
#layout-main div.votes_all div.graph.eps div.row + div.row,
#layout-main #tagtree div.tag-column div.tag {
	border-top: 1px solid;
}

#layout-main div.characterlist_all tr td + td,
#layout-main div.creatorlist_all tr td + td,
#layout-main div.clublist_all tr td + td,
#layout-main div.collectionlist_all tr td + td,
#layout-main div.grouplist_all tr td + td,
#layout-main div.songlist_all tr td + td,
#layout-main div.taglist_all tr td + td,
#layout-main div.userlist_all tr td + td,
#layout-main div.tag_all tr td + td,
#layout-main div.mylist_all td+td,
#layout-main div.myvotes_all td+td,
#layout-main div.mywishlist_all tr td+td,
#layout-main div.animelist_all tr td+td,
#layout-main div.mynotifies_all tr td+td,
#layout-main div.mydb_all table tr td + td,
#layout-main div.modlatest_all table tr td + td,
#layout-main div.latest2_all table tr td + td,
#layout-main div.latest2_all table tr.rowspan td:first-child,
#layout-main div.tag-column .tag-block + .tag-block {
	border-left: 1px solid;
}

#layout-main div.ep_all .staffblock + .staffblock table,
#layout-main div.anime_all .staffblock + .staffblock table,
#layout-main div.anime_all div.episodes tr.newtype td {
	border-top: 2px dotted;
}

#layout-main div.animeatt_reviews div.review span.stamp,
#layout-main div.userpage_all div.blog div.g_timedentry span.stamp,
#layout-main div.anime_all div.info div.caststaff div table,
#layout-main > h1,
#layout-nav div.menu_hr,
#layout-main div.g_timedentry h4,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.userpage_all > div.g_section > h4,
#layout-main div.addtagentityrel_all #tag-list div.tag + div.tag {
	border-top: 1px solid;
}

.tooltip {
	outline:none;
}

.tooltip span.text:after,
.tooltip span.text:before {
	border: solid transparent;
}

.tooltip span.text:after {
	border-width: 10px;
}
.tooltip span.text:before {
	border-width: 13px;
}

table table,
img,
a,
#layout-search div.g_bubble.search,
#layout-main .block .g_definitionlist table,
#layout-main div.anime_all div.data table.relationlist tr,
#layout-main div.profile_all div.tabbed_pane div.general table tr,
#layout-main div.anime_all div.data table.relationlist tr,
#layout-main div.tabbed_pane div.body div.pane ul li {
	border: none;
}

#layout-main div.mylist_all table.filelist tr.action td.submit,
#layout-main div.mylist_all table.eplist tr.action td.submit,
#layout-main div.animeatt_reviews div.review h4,
#layout-main div.userpage_all div.blog div.g_timedentry h4,
#layout-main div.anime_all div.info div.caststaff div tr.more td,
#layout-main div.g_definitionlist tr:first-child th,
#layout-main div.ep_all div.info table,
#layout-main div.hint2_all table,
#layout-main div.anime_all div.info div.data table,
#layout-main div.song_all div.info table {
	border-top: none;
}

/*rounded corners*/
h4,
*.g_button a,
*.g_msg,
span.test,
button,
input[type="text"],
input[type="password"],
input.text,
textarea,
select,
input[type="submit"],
input[type="button"],
#layout-main h1,
#layout-main ul.g_list li,
#layout-main .modlatest_all .g_list.filter li,
#layout-main div.userpage_all > div.g_section > h4,
#layout-main div.pagination span a,
#layout-main div.pagination span strong,
#layout-search .submit,
#layout-main ul.g_list li.g_odd,
#layout-search select,
#layout-main div.format-buttons input,
#layout-main div.format-buttons select,
#layout-main div.addtagentityrel_all div.suggestions > span.focus,
#layout-main div.addtagentityrel_all div.suggestions > span:hover {
	border-radius: 5px;
}

#layout-search input.text {
	border-radius: 5px 0 0 5px;
}

#layout-search select {
	border-radius: 0 5px 5px 0;
}

#layout-search div.results_available input.text {
	border-radius: 5px 0 0;
}

#layout-search div.results_available select {
	border-radius: 0 5px 0 0;
}

#layout-main div.animeatt_reviews div.review h4,
#layout-main div.userpage_all div.blog div.g_timedentry h4 {
	border-radius: 0 10px 0 0;
}

#layout-main div.anime_all div.info div.caststaff div h4,
#layout-tabs ul.main-tabs > li,
#layout-main div.tabbed_pane ul.tabs > li,
#layout-main div.main_all div.rightbar h4 {
	border-radius: 5px 5px 0 0;
}

#layout-search input.text.focus {
	border-radius: 5px 0 0;
}

#layout-search input.text.focus + select {
	border-radius: 0 5px 0 0;
}

/*temporarily restricted*/
#layout-main div.anime_all .g_section > h2,
#layout-main div.anime_all .g_section > form > h2 {
	border-bottom: 1px solid;
}