#layout-menu li.sub-menu.main span.tab {
	display: block;
}

#layout-content {
	margin-left: 0;
	margin-top: 5.3em;
	padding-left: 0.5em;
}

#layout-menu {
	width: 46.7em;
	height: 31px;
	margin-left: 0.8em;
}

#layout-menu > li {
	display:block;
	float:left;
	font-weight:700;
	line-height:20px;
	padding-left:18px;
	padding-right:18px;
	padding-top:-20px;
}

#layout-menu > li ul {
	border-top:0;
	display:none;
	font-weight:400;
	line-height:normal;
	margin-left:-18px;
	margin-top:31px;
	padding:0;
	position:absolute;
	width: 144px;
}

#layout-menu a {
	display:block;
	padding:3px 8px;
}
#layout-menu a.history {
	padding:3px 0px;
}

#layout-menu span.tab {
	display:inline;
	float:right;
	cursor: pointer;
}

#layout-menu li.sub-menu ul li.main span,
#layout-menu > li.sub-menu:hover ul {
	display:block;
}

#layout-menu li.sub-menu ul li.main a {
	height: 28px;
	width: auto;
	margin-top: 0;
}

#layout-menu li.sub-menu ul li a {
	box-sizing: border-box;
	height: 28px;
}

#layout-menu li.sub-menu ul li.main a {
	position: static;
}

#layout-main {
	margin-left: 0.5em;
}

#layout-search div.search,
#layout-search {
	height: 70px;
}

#layout-tabs {
	margin: 116px 3px;
}

#layout-hint + #layout-nav + #layout-content #layout-tabs {
	margin: 132px 3px 0;
}

#layout-hint + #layout-nav #layout-menu,
#layout-menu {
	margin-top: -23px;
}

#layout-menu li.sub-menu ul li.alert {
	height: 28px;
}

#layout-menu li.sub-menu {
	margin-bottom: 0;
	cursor: pointer;
}

@media screen and (max-width: 950px) {
	#layout-nav {
		margin-top: 10.6em;
	}

	#layout-tabs {
	    margin: 14.1em 0.5em 0 0;
	}

	#layout-search div.search a.advsearch {
		display: none;
	}

	#layout-search .text {
		width: calc(100% - 18em);
		margin-left: 0.5em;
	}

	#layout-search div.search form > div {
		top: 7em;
		width: 100%;
		left: -0.9em;
	}

	#layout-search input.text {
		margin-left: 1em;
	}

	#layout-hint + #layout-nav #layout-menu,
	#layout-menu {
	    margin-top: 0;
	}
}

@media screen and (max-width: 550px) {
	#layout-menu li.sub-menu.support {
		display: none;
	}

	#layout-menu {
    	width: 38.7em;
    }
}

@media screen and (max-width: 450px) {
	#layout-menu li.sub-menu.mod {
		display: none;
	}

	#layout-menu {
		width: 30.05em;
	}
}