@import "floaty-menu.css";

#layout-search {
	background: none;
	height: 60px;
}

#layout-nav {
	margin-top: 60px;
}

#layout-search div.search {
	height: 30px;
	text-align: right;
}

#layout-search div.search a.advsearch,
#layout-search div.search form > div {
	position: relative;
	right: auto;
	top: auto;
}

#layout-search div.search a.advsearch,
#layout-search div.search form:not(.random) {
	display: inline-block;
}

#layout-search div.search a.advsearch {
	margin-left: 0.5em;
	margin-right: 1em;
}

#layout-content {
	margin-top: 0;
}

#layout-menu {
	position: absolute;
	top: 0.5em;
	margin-top: 0;
}

#layout-hint + #layout-nav #layout-menu {
	top: 2.1em;
	margin-top: 0;
}

#layout-hint + #layout-nav {
	margin-top: 80px;
}

#layout-menu li.sub-menu ul li.main a {
	position: relative;
	height: auto;
	margin-top: 0;
	width: auto;
}

#layout-menu li.sub-menu ul li.main span {
	display: block;
}