@media screen and (max-width: 950px) {
	#anidb:not(.nodropdownmenu) #layout-content {
		margin-top: 5.3em;
	}

	#anidb:not(.nodropdownmenu) #layout-nav {
		margin-top: 12.4em;
	}

	#anidb:not(.nodropdownmenu) #layout-search div.search a.advsearch {
		display: none;
	}

	#anidb:not(.nodropdownmenu) #layout-search .text {
		width: calc(100% - 18em);
		margin-left: 0.5em;
	}

	#anidb:not(.nodropdownmenu) #layout-search div.search form > div {
		top: 7em;
		width: 100%;
		left: -0.9em;
	}

	#anidb:not(.nodropdownmenu) #layout-search input.text {
		margin-left: 1em;
	}

	#anidb:not(.nodropdownmenu) #layout-hint + #layout-nav #layout-menu,
	#anidb:not(.nodropdownmenu) #layout-menu {
	    margin-top: -0.25em;
	}

	#anidb:not(.nodropdownmenu) #layout-menu > li ul {
		padding-top: 1em;
	}
}

@media screen and (max-width: 550px) {
	#anidb:not(.nodropdownmenu) #layout-menu li.sub-menu.support {
		display: none;
	}
}

@media screen and (max-width: 450px) {
	#anidb:not(.nodropdownmenu) #layout-menu li.sub-menu.mod {
		display: none;
	}
}