#anidb:not(.nodropdownmenu) #layout-content,
#anidb:not(.nodropdownmenu) #layout-main {
	min-height: 0;
}

#anidb:not(.nodropdownmenu) #layout-menu li.sub-menu.main span.tab {
	display: block;
}

#anidb:not(.nodropdownmenu) #layout-content {
	margin-left: 0;
	margin-top: 6.5em;
	padding-left: 0.5em;
}

#anidb:not(.nodropdownmenu) #layout-menu {
	display: inline-block;
	height: 31px;
	margin-left: 0.8em;
	width: auto;
}

#anidb:not(.nodropdownmenu) #layout-menu > li {
	display:block;
	float:left;
	font-weight:700;
	line-height:20px;
	padding-left:18px;
	padding-right:18px;
	padding-top:0;
}

#anidb:not(.nodropdownmenu) #layout-menu > li ul {
	border-top:0;
	visibility: hidden;
	font-weight:400;
	line-height:normal;
	margin-left:-18px;
	margin-top:31px;
	padding:0;
	position:absolute;
	width: 144px;
}

#anidb:not(.nodropdownmenu) #layout-menu a {
	display:block;
	padding:3px 8px;
}
#anidb:not(.nodropdownmenu) #layout-menu a.history {
	padding:3px 0px;
}

#anidb:not(.nodropdownmenu) #layout-menu span.tab {
	display:inline;
	float:right;
	cursor: pointer;
}

#anidb:not(.nodropdownmenu) #layout-menu > li.sub-menu.touched ul,
#anidb:not(.nodropdownmenu) #layout-menu > li.sub-menu:active ul,
#anidb:not(.nodropdownmenu) #layout-menu > li.sub-menu:focus ul,
#anidb:not(.nodropdownmenu) #layout-menu > li.sub-menu:hover ul {
	visibility: visible;
}

#anidb:not(.nodropdownmenu) #layout-menu li.sub-menu ul li a {
	box-sizing: border-box;
	height: 28px;
}

#anidb:not(.nodropdownmenu) #layout-main {
	margin-left: 0.5em;
}

#anidb:not(.nodropdownmenu) #layout-search div.search,
#anidb:not(.nodropdownmenu) #layout-search {
	height: 70px;
}

#anidb:not(.nodropdownmenu) #layout-hint + #layout-nav #layout-menu,
#anidb:not(.nodropdownmenu) #layout-menu {
    margin-top: 7.5em;
}

#anidb:not(.nodropdownmenu) #layout-menu li.sub-menu ul li.alert {
	height: 28px;
}

#anidb:not(.nodropdownmenu) #layout-menu li.sub-menu {
	margin-bottom: 0;
	cursor: pointer;
}

#anidb:not(.nodropdownmenu) #layout-menu li.sub-menu ul li.main a {
	margin-top: -14em;
	visibility: visible;
	height: 75px;
	padding:0;
}

#anidb:not(.nodropdownmenu) #layout-nav {
    margin-top: 0;
    height: 76px;
}