@media screen and (max-width: 950px) {
	#anidb:not(.nodropdownmenu) #layout-content {
		margin-top: 5.3em;
	}

	#anidb:not(.nodropdownmenu) #layout-nav {
		margin-top: 11em;
	}

	#anidb:not(.nodropdownmenu) #layout-search div.search a.advsearch {
		display: none;
	}

	#anidb:not(.nodropdownmenu) #layout-search .text {
		width: calc(100% - 18em);
		margin-left: 0.5em;
	}

	#anidb:not(.nodropdownmenu) #layout-search div.search form > div {
		top: 7em;
		width: calc(100% - 0.5em);
		left: -0.5em;
	}

	#anidb:not(.nodropdownmenu) #layout-menu > li ul {
		padding-top: 1em;
	}

	#anidb:not(.nodropdownmenu) #layout-menu li.sub-menu ul li.main a {
		width: 750px;
	}
}

@media screen and (max-width: 800px) {
	#anidb:not(.nodropdownmenu) #layout-menu li.sub-menu ul li.main a {
		width: 500px;
	}
}

@media screen and (max-width: 550px) {
	#anidb:not(.nodropdownmenu) #layout-menu li.sub-menu.support {
		display: none;
	}
}

@media screen and (max-width: 510px) {
	#anidb:not(.nodropdownmenu) #layout-menu li.sub-menu ul li.main a {
		width: 320px;
	}
}

@media screen and (max-width: 450px) {
	#anidb:not(.nodropdownmenu) #layout-menu li.sub-menu.mod {
		display: none;
	}
}