#layout-content
{
	margin-left: 12.6em;
	margin-top: -10.5em;
	padding-left: 1em;
	padding-top: 1em;
	padding-bottom: 2em;
}

#layout-main
{
	margin-left: 0;
	min-height: 60em;
}

#layout-menu
{
	display: block;
	margin-left: 0.9em;
	position: relative;
	width: 10em;
	padding-top: 1px;
}

#layout-menu > li
{
	display: block;
	float: none;
	padding-left: 0;
	padding-right: 0;
}

#layout-menu > li ul
{
	display: block;
	margin-left: 0;
	padding: 0;
	position: relative;
}

#layout-menu li.sub-menu
{
	display: block;
	margin-bottom: 0.5em;
}

#layout-nav div.menu_hr,
#layout-menu span.tab
{
	display: none;
}

#layout-tabs ul li
{
	display: inline-block;
	padding: 0;
}

#layout-tabs ul li a {
	display: inline-block;
	padding: 2px 10px;
}

#layout-tabs
{
	margin: 83px 3px;
}

#layout-hint + #layout-nav + #layout-content #layout-tabs
{
	margin: 95px 3px;
}

#layout-nav
{
	margin-top: 102px;
	height: 1px;
	padding-bottom: 0;
}

#layout-hint + #layout-nav #layout-menu,
#layout-menu,
#layout-content {
	margin-top: 0;
}

#layout-hint + #layout-nav #layout-search
{
	top: 20px;
}

#layout-menu li.sub-menu ul li
{
	padding: 0;
}

#layout-menu li.sub-menu.alert ul li span,
#layout-menu li.sub-menu ul li > a span
{
	padding: 0 8px;
}

#layout-menu li.sub-menu.alert ul li span,
#layout-menu li.sub-menu ul li.user-xkeep > label,
#layout-main h1.main,
#layout-main div.main_all
{
	display: block;
}

#layout-search
{
	top: 5px;
	height: 94px;
	margin-left: 0;
	width: 100%;
}

#layout-search div.search
{
	margin-left: 0;
	margin-top: 0;
	height: 94px;
}

#layout-search div.search form > div {
    float: right;
    padding-right: 1em;
    padding-top: 3em;
    width: 450px;
}

#layout-search div.search a.advsearch
{
	display: block;
	margin-right: 0;
	margin-top: 1.5em;
	position: absolute;
	right: 1em;
}

#layout-menu li.sub-menu ul li > a,
#layout-menu li.sub-menu ul li > label
{
	line-height: 17px;
}