#layout-search div.search form > div {
	width: 59em;
}

#layout-search.main_search div.search form > div {
	width: 50em;
}

#layout-nav div.main_search div.search {
	margin-left: -11em;
}

#layout-nav.main_nav {
	height: 35em;
}

#layout-nav div.main_search input.text,
#layout-nav div.main_search select {
	padding: 3px;
	margin-top: 7em;
}

#layout-nav div.main_search button.submit {
	float: left;
	margin-left: 7.5em;
	margin-top: .2em;
	width: 150px;
}

#layout-nav div.main_search div.search form {
	width: 60em;
}

#layout-nav div.main_search div.search button.text {
	width: 300px;
}

#layout-nav div.main_search button.random {
	margin-left: .5em;
}

#layout-menu > li:hover ul,
#layout-menu ul li,
#layout-nav div.main_search a.advsearch,
#layout-nav div.main_search form.random {
	display: block;
}

#layout-nav div.main_search {
	height: 110px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 268px;
}

#layout-nav div.main_search a.advsearch {
	left: 410px;
	margin: 0;
	position: absolute;
	top: 95px;
	width: 100px;
	white-space: nowrap;
}

#layout-nav div.main_search ul.quicksearch {
	display: none !important;
}

#layout-search.main_search {
	top: 17em;
}

#layout-search .text {
	width: 400px;
}

#layout-tabs ul {
	position: absolute;
	right: 0;
	top: 5px;
}

#layout-menu li.sub-menu span.tab {
	padding-bottom: 0;
}