#layout-menu {
	font-size: 1.047em;
}

#layout-menu li.sub-menu,
#layout-tabs {
	font-size: 1em;
}

#layout-nav div.search a.advsearch {
	font-family: arial,sans-serif;
	text-decoration: underline;
}

#layout-nav div.search a.advsearch,
#layout-menu li.sub-menu ul li a {
	text-transform: capitalize;
}

#layout-search div.search a.advsearch {
	font-size: 0.857em;
}

#layout-menu span.tab {
	cursor: auto;
}