html {
  font-size: 0.68em;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

a.i_icon:hover,
a.i_inline:hover,
a.i_button:hover {
	text-decoration: none;
}

#layout-search .submit {
	text-transform: capitalize;
}

#layout-search select,
#layout-search input.text,
#layout-search .submit,
#layout-menu li.sub-menu,
#layout-tabs,
input[type="text"],
input[type="password"],
textarea,
#layout-main div.userpage_all div.content > h3 {
	font-size: 1.15em;
}

select,
input[type="checkbox"],
#layout-main div.tabbed_pane ul.tabs li,
#layout-main div.report_all div.body ul li,
#layout-main ul.g_list li,
#layout-tabs ul.main-tabs > li,
button,
input[type="button"],
input[type="submit"],
#layout-nav input.submit {
	font-size: 1.05rem;
}

#layout-main div.animeatt_reviews div.review h4,
#layout-main div.userpage_all div.blog div.g_timedentry h4 {
	font-size: 1.33em;
}

#layout-main div.animeatt_reviews div.review span.stamp,
#layout-main div.userpage_all div.blog div.g_timedentry span.stamp {
	font-size: 0.86rem;
}

#menu-account li.alert a span:before,
#menu-account li.alert a span:after {
	content: "!";
}

input[type="button"] {
	cursor: pointer;
}

#layout-main div.g_bubble.spoiler button.spoiler {
	font-weight: normal;
}

#layout-main div.chartag-list span.size6 a,
#layout-main div.chartag-list span.size9 a,
#layout-main div.chartag-list span.size10 a,
#layout-main div.tag-column div.tag[data-anidb-weight="0"] .name a,
#layout-main div.tag-column div.tag[data-anidb-weight="400"] .name a,
#layout-main div.tag-column div.tag[data-anidb-weight="600"] .name a {
	font-weight: bold;
}

#layout-main div.tag-column div.tag[data-anidb-weight="500"] .name a,
#layout-main div.tag-column div.tag[data-anidb-weight="600"] .name a {
	font-size: 1.33em;
}