#layout-menu {
	font-size: 1.05rem;
}

#layout-menu li.sub-menu,
#layout-tabs {
	font-size: 1em;
}

#layout-nav div.search a.advsearch {
	text-decoration: underline;
}

#layout-nav div.search a.advsearch,
#layout-menu li.sub-menu ul li a {
	text-transform: capitalize;
}

#layout-search div.search a.advsearch {
	font-size: 0.86rem;
}

#layout-menu span.tab {
	cursor: auto;
}