table {
	border-spacing: 0;
}

table table {
	border: none;
}

 a,
 img,
.g_image {
	border: none;
}

#layout-main {
	border-bottom: 1px solid transparent; /*hack for margin*/
}

.g_image,
#layout-main .g_definitionlist table,
#layout-main .g_description,
#layout-main .g_list,
#layout-main .g_timedentry h4 {
	border: 1px #98AAB1 dotted;
}

.g_image,
#layout-main .g_definitionlist {
	padding: 1px;
}

#layout-main .block .g_definitionlist table {
	border: none;
	margin: 0;
}

#layout-main table.filelist tr.newep td {
	border-top: 1px solid #006699;
}

#layout-main div.anime_all .staffblock + .staffblock table,
#layout-main div.anime_all div.episodes tr.newtype td,
#layout-main div.ep_all .staffblock + .staffblock table {
	border-top: 1px double #006699;
}

#layout-main,
#layout-main div.tabbed_pane div.body,
#layout-main div.tabbed_pane ul.tabs li,
#layout-tabs ul li a {
	border: 1px solid #98AAB1;
}

#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-tabs ul li.selected a {
	border-bottom: 1px #E7F0FF double;
}

#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-tabs ul li a:hover {
	border-bottom: 1px #E7F0FF double;
}