#preferences textarea {
	font-family:Bitstream Vera Sans Mono, Courier New, monospace;
	font-size:0.9em;
}

#preferences div.pane div.settings.block li,
#preferences div.pane > ul li,
#preferences div.pane.general div.body div.pane div ul li {
	line-height: 18px;
}