body {
	font-size: 1.14em;/*12px*/
}

#layout-menu,
table td {
	font-size: 1.08rem;/*11.5px*/
}

#layout-main > h1 {
	font: small-caps bold 2.05rem "Century Gothic","Lucida Grande",sans-serif;
	letter-spacing: 0.1em;
}

h4,
h4 span,
caption {
	font: 1.59rem "Century Gothic","Lucida Grande",sans-serif;
}

#layout-menu #menu-account li a {
	text-decoration: none;
	text-transform: capitalize;
	font-weight: bold;
}

#layout-main div.main_all div.rightbar {
	font-size: 1.08rem;
}