#layout-main div.main_all div.rightbar,
#layout-menu,
table td {
	font-size: 1.08rem;/*11.5px*/
}

#layout-main > h1 {
	font-family: "Century Gothic","Lucida Grande",sans-serif !important;
	font-size: 2.05rem;
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: 0.1em;
}

h4,
h4 span,
caption {
	font-family: "Century Gothic","Lucida Grande",sans-serif !important;
	font-size: 1.59rem;
	font-weight: normal !important;
}

#layout-menu #menu-account li a {
	text-decoration: none;
	text-transform: capitalize;
	font-weight: bold;
}

#layout-main div.main_all div.rightbar h4,
#layout-main div.main_all div.rightbar h4 span {
	font-size: 1.25rem;
	font-weight: bold !important;
}

#layout-main div.tabbed_pane ul.tabs li,
#layout-tabs ul.main-tabs > li {
    font-size: 1.14rem; /*12px*/
}