#layout-search {
	top: 0;
}

#layout-tabs {
	margin: 190px 0 0 135px;
	text-align: left;
}

#layout-search,
#layout-search div.search,
#layout-nav {
	height: 166px;
}

#layout-nav {
	margin-top: 0;
}

#layout-content {
	padding: 0;
}

#layout-menu {
	padding-top: 164px;
}

#layout-main div.g_content {
	padding:1em;
}

#layout-main > h1 {
	margin: 0px 0px 0.3em 0.5em;
}
