#layout-search {
	top: 0;
}

#layout-tabs ul {
	text-align: left;
}

#layout-tabs {
	margin: 210px 0 0 135px;
}

#layout-hint + #layout-nav + #layout-content #layout-tabs {
	margin: 225px 0 0 135px;
}

#layout-hint + #layout-nav #layout-menu #menu-account {
	top: 1.6em;
}

#layout-search,
#layout-search div.search,
#layout-nav {
	height: 166px;
}

#layout-nav {
	margin-top: 0;
}

#layout-content {
	padding: 0;
	margin-left: 11em;
}

#layout-menu {
	padding-top: 164px;
}

#layout-main div.g_content {
	padding:1em;
}

#layout-main > h1 {
	margin: 0 0 0.3em 0.5em;
	padding-bottom: 1.15em;
}

/*#layout-menu li.sub-menu ul li.alert,
#layout-menu li.sub-menu ul li a {
	height: 22px;
}*/

#layout-search div.search form > div {
	top: 9.4em;
}

#layout-search .text {
	width: 18em;
}

#layout-menu #menu-account {
	margin: 0;
	top: 0;
	right: 0;
	left: auto;
	position: absolute;
	padding-left: 200px;
	height: 102px;
	text-align: right;
	display: flex;
}

#layout-menu #menu-account li a {
	display: table-cell;
	height: 102px;
	vertical-align: bottom;
	padding: 0 4px;
	width: auto;
}

#layout-menu #menu-account span.tab,
#layout-search div.search a.advsearch {
	display: none;
}

#layout-menu li.sub-menu ul li.main a {
    height: 152px;
    margin-top: -164px;
}