#layout-menu li.sub-menu ul li + li {
    border-top: 1px solid !important;
}

#layout-menu #user-logout a,
#layout-menu #user-logout a:link,
#layout-menu #user-logout a:visited,
#layout-menu #user-profile a,
#layout-menu #user-profile a:link,
#layout-menu #user-profile a:visited {
    border-left: 1px solid;
}

#layout-menu #user-logout a,
#layout-menu #user-logout a:link,
#layout-menu #user-logout a:visited {
    border-right: 1px solid;
}