#layout-menu li.sub-menu ul li#user-profile,
#layout-menu li.sub-menu ul li#user-login,
#layout-menu li.sub-menu ul li#user-logout,
#layout-menu li.sub-menu ul {
    background: none;
}

a.button,
input.button,
button.button,
a.confirmButton,
input.confirmButton,
button.confirmButton {
	background-image: none;
	color: inherit;
}

span.link,
a,
th a,
#layout-main div.main_all div.header div.account ul.tabs li.signup a
{
	color: #105289;
}

#layout-main a.filter
{
	color: #00008b;
}

#layout-menu li.sub-menu ul
{
	background-color: #FFFFFF;
	border-color: #000000;
}

#layout-nav div.menu_hr,
#layout-main div.addtagentityrel_all #tag-list div.tag + div.tag
{
	border-top-color: #E0E0E0;
}

#layout-main tr.header th.sortable:hover,
#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.row:hover,
#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics li.g_odd.row:hover,
#layout-main div.forum ul.topics li.row:hover,
#layout-main div.forum ul.topics li.g_odd.row:hover,
#layout-main div.forum hr,
#layout-main div.cmt_all div.cmt_add hr,
.g_bubble.spoiler input.button
{
	background-color:#CCCCCC;
}

#layout-tabs ul.main-tabs > li:hover,
#layout-tabs ul.main-tabs > li.selected,
#layout-main div.main_all div.header div.account ul.tabs li,
#layout-main div.main_all div.header div.account ul.tabs li.signup:hover
{
	border-bottom-color: #FFFFFF;
}

span.link:hover,
a:hover,
.g_button a:hover,
.g_bubble .name-colored,
#layout-main a.filter:hover,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries a.name-colored,
#layout-main div.main_all div.header div.account ul.tabs li.signup:hover a,
#layout-main div.cmt_entries a.username-colored,
#layout-main div.forum a.topictitle:hover,
#layout-main div.forum a.username-colored,
input[type="submit"]:hover,
input[type="button"]:hover,
button[type="submit"]:hover,
#layout-main ul.g_list li:hover,
#layout-main div.search_all div.suggestions span:hover
{
	color: #AA0000;
}

#layout-main div.animeatt_reviews div.review span.stamp a,
#layout-main div.userpage_all div.blog div.g_timedentry span.stamp a
{
	color: #999999;
}

#layout-main div.animeatt_reviews div.review span.stamp,
#layout-main div.userpage_all div.blog div.g_timedentry span.stamp
{
	border-top-color: #E0E0E0;
	color: #999999;
}

#layout-main div.anime_all div.data table.relationlist tr,
#layout-main div.profile_all div.tabbed_pane div.general table tr,
#layout-main div.anime_all div.data table.relationlist tr,
#layout-main div.tabbed_pane div.body div.pane ul li
{
	background-color: inherit;
}

#layout-main div.anime_all div.groups td.epbar div.done,
#layout-main div.manga_all div.groups td.epbar div.done,
#layout-main div.group_all div.group_released td.epbar div.done
{
	background-color: #6193FF;
	border-bottom-color: #6193FF;
}

#layout-main div.anime_all div.groups td.epbar div.done.mylist,
#layout-main div.manga_all div.groups td.epbar div.done.mylist,
#layout-main div.group_all div.group_released td.epbar div.done.mylist
{
	border-bottom-color: #6CF06C;
}

#layout-main div.anime_all div.groups td.epbar div.notdone,
#layout-main div.manga_all div.groups td.epbar div.notdone,
#layout-main div.group_all div.group_released td.epbar div.notdone
{
	background-color: #C3D8FF;
	border-bottom-color: #C3D8FF;
}

tr.g_odd,
li.g_odd,
span.g_odd,
div.g_odd,
a.tooltip > span.text.g_bubble,
.g_bubble,
.g_bubble .g_bubble .g_bubble,
.g_button a:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
button[type="submit"]:hover,
.g_bubble.spoiler input.button:hover,
.g_button a,
#layout-main div.votes_all div.graph div.group_odd,
#layout-main div.forum ul.topics li.g_odd.row,
#layout-main ul.g_list li:hover,
#layout-main ul.g_list li.selected,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-tabs ul.main-tabs > li,
#layout-main div.g_timedentry h4,
#layout-main div.tabbed_pane_cfg div.body,
#layout-main div.tabbed_pane_cfg ul.tabs li:hover,
#layout-main div.tabbed_pane_cfg ul.tabs li.selected,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.userpage_all > div.g_section > h4,
#layout-main div.main_all div.header div.account ul.tabs li.signup,
#layout-main div.forum div.g_bubble.events,
#layout-main div.addtagentityrel_all div.suggestions > span.focus,
#layout-main div.addtagentityrel_all div.suggestions > span:hover,
#layout-main div.search_all div.suggestions span:hover,
#layout-search ul.quicksearch li:hover,
#layout-search ul.quicksearch li.focus,
#layout-main div.forum div.g_bubble.poll,
#layout-main div.forum div.g_bubble.header,
#layout-main div.forum div.g_bubble.search,
#layout-main div.forum div.g_bubble.navbar,
#layout-main div.forum div.g_bubble.posting-box,
#layout-main div.forum div.g_bubble.submit-box,
#layout-main div.forum div.g_bubble.options-box,
#layout-main div.forum div.g_bubble.threads,
#layout-main div.userpage_all div.g_menu ul,
#layout-main div.userpage_all div.g_menu ul li.g_odd
{
	background-color: #F1F1F1;
}

.g_button,
input[type="submit"],
input[type="button"],
button[type="submit"],
#layout-main ul.g_list li,
#layout-main ul.g_list li.g_odd,
#layout-main div.pagination span a,
.g_odd .g_bubble,
.g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble,
html {
	background-color: #F8F8F8;
}

.g_bubble .g_odd,
#layout-main div.tabbed_pane ul.tabs li,
#layout-tabs ul.main-tabs > li.selected,
#layout-tabs ul.main-tabs > li:hover,
#layout-main div.main_all div.header div.account ul.tabs li.signup:hover,
#layout-main div.search_all div.suggestions,
#layout-main div.forum ul.topics li.row,
#layout-content
{
	background-color: #FFFFFF;
}

input[type="text"],
input[type="password"],
input.text,
textarea,
select,
#layout-tabs ul.main-tabs > li,
#layout-search select,
#layout-search input.text,
#layout-main div.search_all div.suggestions,
#layout-main div.avatar img,
#layout-main div.anime_all div.info div.image img,
#layout-content,
#layout-main div.forum div.quickreply textarea {
	border-color: #E0E0E0;
}

.g_button,
input[type="submit"],
input[type="button"],
button[type="submit"],
.f_button:hover,
.f_button.selected,
#layout-main ul.g_list li,
#layout-main div.pagination span a,
#layout-main div.pagination span strong,
.g_bubble.stripe > div.data div.name,
#layout-main div.forum div.signature,
#layout-main div.forum div.events dl + dl,
#layout-main div.forum div.poll dl + dl,
#layout-main div.cmt_entries dl.profile,
#layout-main div.forum div.events h2,
#layout-main div.forum div.poll h2,
#layout-main div.forum div.events div.data > p,
#layout-main div.forum div.poll div.data,
#layout-main div.forum div.g_bubble.threads,
#layout-main div.forum div.g_bubble.navbar div.bottom,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries div.title {
	border-color: #CCCCCC;
}

#layout-main div.main_all div.header div.latestnews div.posted,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries dl.profile dd
{
	color:#666666;
}

#layout-main div.forum div.g_bubble.threads,
#layout-main tr.header th.sortable:hover,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries dl.profile dd strong
{
	color:#000000;
}

#layout-main div.main_all div.header div.account ul.tabs li
{
	border-top-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-right-color: #E0E0E0;
}

#layout-main div.forum div.events h2,
#layout-main div.forum div.poll h2
{
	color:#006699;
}

#layout-main div.forum div.g_bubble.rules
{
	background-color:#ECD5D8;
	color:#BC2A4D;
	border-color: #DEBFC3 #C4939F #C4939F #DEBFC3;
}

#layout-search input.text
{
	box-shadow: 1px 1px 2px #E0E0E0 inset;
}

#layout-search select
{
	box-shadow: 0 1px 2px #E0E0E0 inset;
}

#layout-main div.tabbed_pane ul.tabs li {
	border-color: #F1F1F1;
}

#layout-main div.tabbed_pane_cfg ul.tabs li:hover,
#layout-main div.tabbed_pane_cfg ul.tabs li.selected,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected
{
	border-bottom-color: #F1F1F1;
}


#layout-main div.tabbed_pane_cfg div.body,
#layout-main div.tabbed_pane_cfg ul.tabs li
{
	border-color: #ACC3DF;
}

tr + tr td,
li.g_odd + li,
li + li.g_odd,
#layout-main div div.explanation div.description dl + dl,
#layout-main div.report_all div.body ul li + li,
#layout-main div.votes_all div.graph div.group + div.group_odd,
#layout-main div.votes_all div.graph div.group_odd + div.group,
#layout-main div.votes_all div.graph.eps div.row + div.row,
#layout-main #tagtree div.tag-column div.tag
{
	border-top-color: #E0E0E0;
}

#layout-main div.mylist_all td+td,
#layout-main div.myvotes_all td+td,
#layout-main div.mywishlist_all tr td+td,
#layout-main div.animelist_all tr td+td,
#layout-main div.lexicon_all table.animelist tr td+td,
#layout-main div.mynotifies_all tr td+td,
#layout-main div.mydb_all table tr td + td,
#layout-main div.modlatest_all table tr td + td,
#layout-main div.latest2_all table tr td + td,
#layout-main div.latest2_all table tr.rowspan td:first-child {
	border-left-color: #E0E0E0;
}

tr + tr th,
#layout-main div.g_definitionlist tr th
{
	border-top-color: #F1F1F1;
}

#layout-main div.anime_all table.stafflist + table.stafflist,
#layout-main div.anime_all div.episodes tr.newtype td
{
	border-top-color: #E0E0E0;
}

#layout-main div.tag-column .tag-block + .tag-block {
	border-left-color: #CCCCCC;
}

/*tooltip*/
a.tooltip span.text:after,
a.tooltip span.text:before {
	border-color: rgba(232, 232, 232, 0);
	border-bottom-color: #E8E8E8;
}

#imagepreview,
a.tooltip span.text {
	color: #000000;
}

/*quicksearch*/
#layout-search ul.quicksearch {
	background-color: #FFFFFF;
	border-color: #E0E0E0;
}

/*tag cloud*/
#layout-main div.tag-column div.tag[weight="0"] .name a {
	color: rgba(0, 0, 0, 0.6);
}
#layout-main div.tag-column div.tag.abstract[weight="0"] .name a,
#layout-main div.tag-column span.not_added a {
	color: rgba(0, 0, 0, 0.3);
}
#layout-main div.chartag-list span.size0 a,
#layout-main div.chartag-list span.size1 a,
#layout-main div.tag-column div.tag[weight="100"] .name a {
	color: rgba(16, 82, 137, 0.5);
}
#layout-main div.chartag-list span.size2 a,
#layout-main div.tag-column div.tag[weight="200"] .name a {
	color: rgba(16, 82, 137, 0.6);
}
#layout-main div.chartag-list span.size3 a,
#layout-main div.tag-column div.tag[weight="300"] .name a {
	color: rgba(16, 82, 137, 0.7);
}
#layout-main div.chartag-list span.size4 a,
#layout-main div.chartag-list span.size5 a,
#layout-main div.tag-column div.tag[weight="400"] .name a {
	color: rgba(16, 82, 137, 0.8);
}
#layout-main div.chartag-list span.size6 a,
#layout-main div.chartag-list span.size7 a,
#layout-main div.tag-column div.tag[weight="500"] .name a {
	color: rgba(16, 82, 137, 1.0);
}
#layout-main div.chartag-list span.size8 a,
#layout-main div.chartag-list span.size9 a,
#layout-main div.chartag-list span.size10 a,
#layout-main div.tag-column div.tag[weight="600"] .name a {
	color: rgba(16, 82, 137, 1.0);
}
#layout-main div.tag-column div.tag[weight="100"] .weight {
	opacity: 0.3;
}
#layout-main div.tag-column div.tag[weight="200"] .weight {
	opacity: 0.4;
}
#layout-main div.tag-column div.tag[weight="300"] .weight {
	opacity: 0.6;
}
#layout-main div.tag-column div.tag[weight="400"] .weight {
	opacity: 0.8;
}

#layout-main div.chartag-list a:hover,
#layout-main div.tag-column a:hover {
	color: #AA0000 !important;
	opacity: 1.0 !important;
}

#layout-search div.g_bubble.search {
	background-color: transparent;
}

#layout-main div.main_all div.rightbar h4,
#layout-main div.main_all div.datablocks h4,
#layout-main div.main_all div.header h4,
#layout-main div.anime_all div.info div.caststaff div h4,
#layout-main > h1,
table th,
th a,
#layout-menu li.sub-menu ul li:hover,
#layout-menu li.sub-menu ul li:hover a,
#layout-main div.userpage_all div.g_menu ul li:hover a {
	color: #FFFFFF;
}

th,
th a,
#layout-main > h1,
#layout-main table tr.header,
#layout-main div.votes_all div.graph div.header,
#layout-main div.main_all div.rightbar h4,
#layout-main div.main_all div.datablocks h4,
#layout-main div.main_all div.header h4,
#layout-main div.anime_all div.info div.caststaff div h4,
#layout-main div.forum div.g_bubble.threads,
#layout-menu li.sub-menu ul li:hover,
#layout-menu li.sub-menu ul li:hover a,
#layout-main div.userpage_all div.g_menu ul li.g_odd:hover,
#layout-main div.userpage_all div.g_menu ul li:hover {
	background-color: #444444;
}

#layout-menu li.sub-menu span.tab {
	color: #cc181e;
}

/*box shadow*/
.g_bubble,
#layout-hint,
#layout-main div.g_msg,
#layout-menu li.sub-menu ul,
#layout-main div.userpage_all div.g_menu ul
#layout-main > h1 {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

#layout-search select,
#layout-search input.text,
.g_button,
input[type="submit"],
input[type="button"],
button[type="submit"],
#layout-main ul.g_list li,
#layout-main div.pagination span a {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

#imagepreview,
a.tooltip span.text {
	box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2);
	opacity: 0.95;
	background-color: #e8e8e8 !important;
}