a.button,
input.button,
button.button,
a.confirmButton,
input.confirmButton,
button.confirmButton {
	text-shadow: none;
}

.i_comment_add,
.i_topic_add,
.i_topic_history,
.i_topic_delete,
.i_topic_move,
.i_topic_split,
.i_comment_revisions,
.i_comment_move,
.i_topic_lock,
.i_comment_edit,
.i_comment_quote,
.i_comment_delete,
.i_comment_info,
.i_comment_creq,
.i_topic_undelete,
.i_topic_unlock,
.i_comment_setactive,
.i_topic_locked,
.i_comment_undelete,
.i_pm_delete,
.i_review_add,
.i_pm_reply,
.i_topic_subscribe,
.i_topic_unsubscribe,
#layout-search input.submit,
#layout-main div.main_all div.rightbar h4 span,
#layout-main div.main_all div.datablocks h4 span,
#layout-main div.main_all div.header h4 span,
#layout-main div.anime_all div.info div.caststaff div h4,
#layout-main tr.header th,
#layout-main tr.header th.sortable a,
#layout-menu li.sub-menu span.tab,
#layout-main > h1,
#layout-main div.edit_actions span,
#layout-main div.g_timedentry h4,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.userpage_all > div.g_section > h4,
#layout-main div.userpage_all > div.g_section > h4 a,
h4 span {
	font-family: Arial,Helvetica,sans-serif;
}

#layout-main div.main_all div.rightbar h4 span,
#layout-main div.main_all div.datablocks h4 span,
#layout-main div.main_all div.header h4 span,
#layout-main div.anime_all div.info div.caststaff div h4,
#layout-main div.g_timedentry h4,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.userpage_all > div.g_section > h4,
#layout-main div.userpage_all > div.g_section > h4 a,
#layout-main tr.header th,
#layout-main tr.header th.sortable a,
#layout-menu li.sub-menu span.tab {
	font-weight: bold;
}

h4 span,
#layout-main div.tabbed_pane ul.tabs li,
#layout-main div.block div.data table th,
#layout-main div.edit_actions span,
#layout-main div.g_definitionlist tr th,
#layout-main div.g_menu ul li,
#layout-tabs ul.main-tabs {
	text-transform: capitalize;
}

#layout-main div.main_all div.rightbar h4 span,
#layout-main div.main_all div.datablocks h4 span,
#layout-main div.main_all div.header h4 span,
#layout-main div.g_timedentry h4,
#layout-main div.anime_all div.info div.caststaff div h4,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.userpage_all > div.g_section > h4,
#layout-main div.userpage_all > div.g_section > h4 a,
#layout-main tr.header th,
#layout-main tr.header th.sortable a,
#layout-menu li.sub-menu span.tab {
	text-transform: uppercase;
}

#layout-main div.edit_actions span + span:before,
#layout-main div.edit_actions span:before,
#layout-main div.edit_actions span:after {
	content: "";
}

#layout-main div.edit_actions a {
	font-weight: normal;
}