#layout-menu li.sub-menu {
	margin-bottom: 0.5;
}

#layout-menu li.sub-menu ul li.alert,
#layout-menu li.sub-menu ul li a {
	height: 20px;
	display: block;
	width: 100%;
}

#layout-menu li.sub-menu ul li a span {
	display: block;
	padding-top: 2px;
}

#layout-menu li.ed2kdump,
#layout-menu li.mysignatures {
	display: none;
}

.g_bubble.stripe {
	margin: 0.35em;
}

#layout-main div.main_all div.datablocks > div {
	max-width: calc(25% - 8px);
}

#layout-main div.main_all div.datablocks > div,
#layout-main div.main_all div.news.forum > div,
#layout-main div.main_all div.header > div {
	margin: 0 4px;
}

#layout-menu li.sub-menu span.tab {
	display: block;
}

#layout-menu li.sub-menu.main span.tab {
    display: none;
}