/*https://fortawesome.github.io BEGIN*/
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
}

button,
.i_comment_add,
.i_comment_revisions,
.i_comment_move,
.i_comment_edit,
.i_comment_quote,
.i_comment_info,
.i_comment_creq,
.i_comment_setactive,
.i_comment_delete,
.i_comment_undelete,
.i_topic_add,
.i_topic_history,
.i_topic_delete,
.i_topic_move,
.i_topic_split,
.i_topic_lock,
.i_topic_undelete,
.i_topic_unlock,
.i_topic_locked,
.i_topic_subscribe,
.i_topic_unsubscribe,
.i_pm_delete,
.i_pm_reply,
.i_review_add,
#layout-tabs ul li a,
#layout-search .submit,
#layout-main div.msg_all div.buttons li a,
#layout-main div.creq_all .links .next_new_creq a,
#layout-main div.creq_all .links .next_creq a,
#layout-main div.creq_all .links .creq_list a,
#layout-main ul.g_list li.reload a,
#layout-main ul.g_list li.back a {
	display: inline-block;
	font-size: 14px/1;
	font-family: FontAwesome, Arial,Helvetica,sans-serif;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

button,
#layout-tabs ul li a,
#layout-search .submit,
#layout-main div.msg_all div.buttons li a,
#layout-main div.creq_all .links .next_new_creq a,
#layout-main div.creq_all .links .next_creq a,
#layout-main div.creq_all .links .creq_list a,
#layout-main ul.g_list li.reload a,
#layout-main ul.g_list li.back a {
	padding-left: 4px;
	line-height: 16px;
}

button:before {
	content: "\f00c";
	padding-right: 6px;
}
.i_topic_unlock:before {
	content: "\f09c";
}
.i_topic_locked:before,
.i_topic_lock:before {
	content: "\f023";
}
.i_review_add:before,
.i_topic_add:before,
.i_comment_add:before {
	content: "\f075";
}
.i_comment_revisions:before {
	content: "\f044";
}
.i_topic_move:before,
.i_comment_move:before {
	content: "\f0b2";
}
.i_comment_edit:before {
	content: "\f040";
}
.i_comment_quote:before {
	content: "\f10d";
}
.i_comment_info:before {
	content: "\f05a";
}
.i_comment_setactive:before {
	content: "\f00c";
}
#layout-main div.creq_all .creq_buttons button.deny:before,
#layout-main div.msg_all div.buttons li button.delete:before,
#layout-main div.msg_all div.buttons li a.delete:before,
.i_comment_creq:before,
.i_pm_delete:before,
.i_topic_delete:before,
.i_comment_delete:before {
	content: "\f00d";
}
.i_topic_undelete:before,
.i_comment_undelete:before {
	content: "\f021";
}
.i_topic_history:before {
	content: "\f1da";
}
.i_topic_split:before {
	content: "\f07d";
}
.i_topic_subscribe:before,
.i_topic_unsubscribe:before {
	content: "\f09e";
}
#layout-main div.msg_all div.buttons li a.new:before,
.i_pm_reply:before {
	content: "\f112";
}
#layout-search .submit:before {
	content: "\f002";
}
#layout-main ul.g_list li.back a:before {
	content: "\f112";
	padding-right: 6px;
}
#layout-main ul.g_list li.reload a:before {
	content: "\f021";
	padding-right: 6px;
}
#layout-main div.creq_all .links .creq_list a:before {
	content: "\f0ca";
	padding-right: 6px;
}
#layout-main div.creq_all .links .next_new_creq a:before,
#layout-main div.creq_all .links .next_creq a:before {
	content: "\f061";
	padding-right: 6px;
}
#layout-main div.creq_all .creq_buttons button.lock:before {
	content: "\f023";
}
#layout-main div.creq_all .creq_buttons button.unlock:before {
	content: "\f09c";
}
#layout-main div.creq_all .creq_buttons button.revoke:before,
#layout-main div.creq_all .creq_buttons button.revert:before {
	content: "\f0e2";
}
#layout-main div.creq_all .creq_buttons button.assign:before {
	content: "\f234";
}
#layout-main div.creq_all .creq_messages button.reply:before {
	content: "\f112";
}
#layout-main div.creq_all .creq_messages button.note:before {
	content: "\f016";
}
#layout-main div.creq_all .creq_messages button.annotation:before {
	content: "\f044";
}
button.reset:before {
	content: "\f0e2";
}
button.next:before {
	content: "\f061";
}
button.prev:before {
	content: "\f060";
}
#layout-tabs ul li a:before {
	content: "\f114";
	padding-right: 6px;
}
/*https://fortawesome.github.io END*/


.i_plus {
	background-image: url(../icons/orange/plus.gif);
}

.i_minus {
	background-image: url(../icons/orange/minus.gif);
}

.i_forum_link {
	background-image: url(../icons/orange/forum_link.gif);
}

.i_help {
	background:transparent url(../icons/orange/ask2.gif) no-repeat scroll right center;
}

.i_top {
	background:transparent url(../icons/orange/icon_back_top.gif) no-repeat scroll 0 50%;
}

.i_vrs_2 {
	background-image:url(../icons/orange/anidb_vrs_2.gif);
}

.i_vrs_3 {
	background-image:url(../icons/orange/anidb_vrs_3.gif);
}

.i_vrs_4 {
	background-image:url(../icons/orange/anidb_vrs_4.gif);
}

.i_vrs_5 {
	background-image:url(../icons/orange/anidb_vrs_5.gif);
}

.i_vrs_6 {
	background-image:url(../icons/orange/anidb_vrs_6.gif);
}

.i_vrs_7 {
	background-image:url(../icons/orange/anidb_vrs_7.gif);
}

.i_vrs_8 {
	background-image:url(../icons/orange/anidb_vrs_8.gif);
}

.i_vrs_9 {
	background-image:url(../icons/orange/anidb_vrs_9.gif);
}

.i_rate_halfstar,
.i_rate_star,
.i_rate_veryhigh,
.i_rate_high,
.i_rate_med,
.i_rate_low,
.i_rate_verylow {
	background-image: url(../icons/icon/anidb_rate_star.png);
}