a.button,
a.confirmButton,
button.button,
button.confirmButton,
input.button,
input.confirmButton {
	text-shadow: none;
}

.ajax-file-upload span,
.i_comment_add span,
.i_comment_creq span,
.i_comment_delete span,
.i_comment_edit span,
.i_comment_info span,
.i_comment_move span,
.i_comment_quote span,
.i_comment_report span,
.i_comment_revisions span,
.i_comment_setactive span,
.i_comment_undelete span,
.i_pm_delete span,
.i_pm_reply span,
.i_review_add span,
.i_topic_add span,
.i_topic_delete span,
.i_topic_history span,
.i_topic_lock span,
.i_topic_locked span,
.i_topic_move span,
.i_topic_read span,
.i_topic_split span,
.i_topic_subscribe span,
.i_topic_undelete span,
.i_topic_unlock span,
.i_topic_unsubscribe span,
h2 span,
h4 span,
#layout-main > h1,
#layout-main div.admin_all div.g_menu h4 span,
#layout-main div.anime_all div.groups td.state a,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.edit_actions span,
#layout-main div.g_timedentry h4,
#layout-main div.group_all div.group_released td.state a,
#layout-main div.votes_all div.graph div.header,
#layout-main tr.header th,
#layout-main tr.header th.sortable a,
#layout-menu li.sub-menu span.tab {
	font-family: Arial,Helvetica,sans-serif;
}

.ajax-file-upload span,
#layout-main div.admin_all div.g_menu h4 span,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.g_timedentry h4,
#layout-main div.votes_all div.graph div.header,
#layout-main tr.header th,
#layout-main tr.header th.sortable a,
#layout-menu li.sub-menu span.tab {
	font-weight: bold;
}

.g_button a,
.i_comment_add span,
.i_comment_creq span,
.i_comment_delete span,
.i_comment_edit span,
.i_comment_info span,
.i_comment_move span,
.i_comment_quote span,
.i_comment_report span,
.i_comment_revisions span,
.i_comment_setactive span,
.i_comment_undelete span,
.i_pm_delete span,
.i_pm_reply span,
.i_review_add span,
.i_topic_add span,
.i_topic_delete span,
.i_topic_history span,
.i_topic_lock span,
.i_topic_locked span,
.i_topic_move span,
.i_topic_read span,
.i_topic_split span,
.i_topic_subscribe span,
.i_topic_undelete span,
.i_topic_unlock span,
.i_topic_unsubscribe span,
button,
h2 span,
h4 span,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.block div.data table th,
#layout-main div.edit_actions span,
#layout-main div.g_definitionlist tr th,
#layout-main div.g_menu.user ul li,
#layout-main div.g_timedentry h4,
#layout-main div.tabbed_pane ul.tabs li,
#layout-main div.votes_all div.graph div.header,
#layout-tabs ul.main-tabs {
	text-transform: capitalize;
}

#layout-main div.admin_all div.g_menu h4 span,
#layout-main tr.header th,
#layout-main tr.header th.sortable a,
#layout-menu li.sub-menu span.tab {
	text-transform: uppercase;
}

#layout-main div.edit_actions span + span:before,
#layout-main div.edit_actions span:after,
#layout-main div.edit_actions span:before {
	content: "";
}

a.button,
a.confirmButton,
button.button,
button.confirmButton,
input.button,
input.confirmButton,
#layout-main div.edit_actions span > *,
#layout-main table.filelist tr.undumped td.id a {
	font-weight: normal;
}

.i_comment_add span,
.i_comment_creq span,
.i_comment_delete span,
.i_comment_edit span,
.i_comment_info span,
.i_comment_move span,
.i_comment_quote span,
.i_comment_report span,
.i_comment_revisions span,
.i_comment_setactive span,
.i_comment_undelete span,
.i_pm_delete span,
.i_pm_reply span,
.i_review_add span,
.i_topic_add span,
.i_topic_delete span,
.i_topic_history span,
.i_topic_lock span,
.i_topic_locked span,
.i_topic_move span,
.i_topic_read span,
.i_topic_split span,
.i_topic_subscribe span,
.i_topic_undelete span,
.i_topic_unlock span,
.i_topic_unsubscribe span {
	font-size: 1rem;
}

h1 a,
h1 a:link,
h1 a:visited,
h4 a:not(.i_icon),
th a,
th a:link,
th a:visited {
	text-decoration: underline;
	text-decoration-style: dotted;
}