a.button,
input.button,
button.button,
a.confirmButton,
input.confirmButton,
button.confirmButton {
	text-shadow: none;
}

#layout-main div.main_all div.rightbar h4 span,
#layout-main div.main_all div.datablocks h4 span,
#layout-main div.main_all div.header h4 span,
#layout-main div.anime_all div.info div.caststaff div h4 span,
#layout-main div.block div.data table th,
#layout-main tr.header th,
#layout-main tr.header th.sortable a,
#layout-menu li.sub-menu span.tab,
#layout-main > h1,
#layout-main div.tabbed_pane ul.tabs li,
#layout-tabs ul.main-tabs,
#layout-main div.edit_actions span,
#layout-main div.g_definitionlist tr th,
#layout-main div.g_menu ul li,
h4 span {
	font-family: Arial,Helvetica,sans-serif;
}

#layout-main div.main_all div.rightbar h4 span,
#layout-main div.main_all div.datablocks h4 span,
#layout-main div.main_all div.header h4 span,
#layout-main div.anime_all div.info div.caststaff div h4 span,
#layout-main div.block div.data table th,
#layout-main tr.header th,
#layout-main tr.header th.sortable a,
#layout-menu li.sub-menu span.tab,
#layout-main div.g_definitionlist tr th,
#layout-main div.edit_actions span {
	font-weight: bold;
}

#layout-main div.tabbed_pane ul.tabs li,
#layout-main div.block div.data table th,
#layout-main div.edit_actions span,
#layout-main div.g_definitionlist tr th,
#layout-main div.g_menu ul li,
#layout-tabs ul.main-tabs {
	text-transform: capitalize;
}

#layout-main div.main_all div.rightbar h4 span,
#layout-main div.main_all div.datablocks h4 span,
#layout-main div.main_all div.header h4 span,
#layout-main div.anime_all div.info div.caststaff div h4 span,
#layout-main tr.header th,
#layout-main tr.header th.sortable a,
#layout-menu li.sub-menu span.tab,
h4 span {
	text-transform: uppercase;
}