/*rounded corners*/
.g_bubble,
.g_button a,
.g_msg,
button,
div.g_bubble.quotebody,
h2,
h4,
input.text,
input[type="button"],
input[type="password"],
input[type="submit"],
input[type="text"],
select,
span.test,
textarea,
#layout-content,
#layout-main .modlatest_all .g_list.filter li,
#layout-main div.addtagentityrel_all div.suggestions > span.focus,
#layout-main div.addtagentityrel_all div.suggestions > span:hover,
#layout-main div.format-buttons input,
#layout-main div.format-buttons select,
#layout-main div.pagination span a,
#layout-main div.pagination span strong,
#layout-main div.tabbed_pane ul.tabs > li,
#layout-main h1,
#layout-main ul.g_list li,
#layout-main ul.g_list li.g_odd,
#layout-menu li.sub-menu,
#layout-menu li.sub-menu ul,
#layout-search .submit,
#layout-search div.results_available input.text,
#layout-search div.results_available select,
#layout-search input.text,
#layout-search input.text.focus,
#layout-search input.text.focus + select,
#layout-search select,
#layout-tabs ul.main-tabs > li {
	border-radius: 0 !important;
}

/*less borders*/
.g_bubble,
.g_image,
.tooltip span.text,
table,
table li+li,
#imagepreview,
#layout-content,
#layout-hint,
#layout-main > h1,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries div.title,
#layout-main div.addtagentityrel_all div.suggestions > span.focus,
#layout-main div.addtagentityrel_all div.suggestions > span:hover,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.cmt_entries div.profile,
#layout-main div.forum div.g_bubble.rules,
#layout-main div.g_msg,
#layout-main div.g_timedentry h4,
#layout-main div.info div.extra div table,
#layout-main div.tabbed_pane ul.tabs li,
#layout-main div.tabbed_pane_cfg div.body,
#layout-main div.tabbed_pane_cfg ul.tabs li,
#layout-main div.userpage_all div.g_menu ul li,
#layout-menu > li ul,
#layout-menu li.sub-menu,
#layout-menu li.sub-menu li + li,
#layout-tabs ul.main-tabs > li {
	border: none !important;
}

.g_button a,
#layout-main div.edit_actions span > * {
	border: 1px solid;
}

#layout-search ul.quicksearch li + li {
	border-top: 1px solid !important;
}

#layout-main div.anime_all .staffblock + .staffblock table,
#layout-main div.anime_all div.episodes tr.newtype td,
#layout-main div.ep_all .staffblock + .staffblock table {
	border-top: 2px dotted !important;
}