/*rounded corners*/
h2,
h4,
*.g_button a,
*.g_msg,
div.g_bubble.quotebody,
span.test,
button,
input[type="text"],
input[type="password"],
input.text,
textarea,
select,
input[type="submit"],
input[type="button"],
#layout-main h1,
#layout-main ul.g_list li,
#layout-main .modlatest_all .g_list.filter li,
#layout-main div.pagination span a,
#layout-main div.pagination span strong,
#layout-main ul.g_list li.g_odd,
#layout-main div.format-buttons input,
#layout-main div.format-buttons select,
#layout-main div.addtagentityrel_all div.suggestions > span.focus,
#layout-main div.addtagentityrel_all div.suggestions > span:hover,
#layout-main div.animeatt_reviews div.review h4,
#layout-main div.userpage_all div.blog div.g_timedentry h4,
#layout-main div.info div.extra div h4,
#layout-main div.tabbed_pane ul.tabs > li,
#layout-main div.main_all div.rightbar h4,
#layout-search select,
#layout-search .submit,
#layout-search input.text,
#layout-search div.results_available input.text,
#layout-search div.results_available select,
#layout-search input.text.focus,
#layout-search input.text.focus + select,
#layout-tabs ul.main-tabs > li,
.g_bubble,
#layout-content,
#layout-menu li.sub-menu,
#layout-menu li.sub-menu ul {
	border-radius: 0 !important;
}

/*less borders*/
.g_bubble,
table,
table li+li,
.tooltip span.text,
.g_image,
#imagepreview,
#layout-content,
#layout-hint,
#layout-tabs ul.main-tabs > li,
#layout-menu > li ul,
#layout-main > h1,
#layout-menu li.sub-menu,
#layout-menu li.sub-menu li + li,
#layout-main div.g_msg,
#layout-main div.g_timedentry h4,
#layout-main div.main_all div.datablocks h4,
#layout-main div.main_all div.header h4,
#layout-main div.forum div.g_bubble.rules,
#layout-main div.tabbed_pane_cfg div.body,
#layout-main div.tabbed_pane_cfg ul.tabs li,
#layout-main div.addtagentityrel_all div.suggestions > span.focus,
#layout-main div.addtagentityrel_all div.suggestions > span:hover,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.info div.extra div table,
#layout-main div.userpage_all div.g_menu ul li,
#layout-main div.main_all div.header div.account .loginbox tr.action td,
#layout-main div.main_all div.header div.account ul.tabs li,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries div.title,
#layout-main div.cmt_entries div.profile,
#layout-main div.tabbed_pane ul.tabs li {
	border: none !important;
}

.i_comment_add,
.i_topic_add,
.i_topic_history,
.i_topic_delete,
.i_topic_move,
.i_topic_split,
.i_comment_revisions,
.i_comment_move,
.i_topic_lock,
.i_comment_edit,
.i_comment_quote,
.i_comment_delete,
.i_comment_info,
.i_comment_creq,
.i_topic_undelete,
.i_topic_unlock,
.i_comment_setactive,
.i_topic_locked,
.i_comment_undelete,
.i_pm_delete,
.i_review_add,
.i_pm_reply,
.i_topic_subscribe,
.i_topic_unsubscribe,
#layout-main div.edit_actions span > * {
	border: 1px solid;
}

#layout-search ul.quicksearch li + li {
	border-top: 1px solid !important;
}

#layout-main div.ep_all .staffblock + .staffblock table,
#layout-main div.anime_all div.episodes tr.newtype td,
#layout-main div.anime_all .staffblock + .staffblock table {
	border-top: 2px dotted !important;
}