#layout-main div.main_all div.rightbar h4 span,
#layout-main div.main_all div.datablocks h4 span,
#layout-main div.main_all div.header h4 span,
#layout-main div.anime_all div.info div.caststaff div h4 span,
#layout-main div.block div.data table th,
#layout-main > h1,
#layout-main tr.header th,
#layout-main tr.header th.sortable a {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}