#layout-menu li.sub-menu {
    margin-bottom: 0.5;
}

#layout-menu li.sub-menu ul li.alert,
#layout-menu li.sub-menu ul li a {
    height: 20px;
    display: block;
    width: 100%;
}

#layout-menu li.sub-menu ul li a span {
    display: block;
    padding-top: 2px;
}

#layout-menu li.ed2kdump,
#layout-menu li.mysignatures {
	display: none;
}

.g_bubble.stripe {
	margin-bottom: 0.8em;
}

#layout-main div.main_all div.datablocks > div {
    max-width: calc(25% - 8px);
}

#layout-main div.main_all div.datablocks > div,
#layout-main div.main_all div.news.forum > div,
#layout-main div.main_all div.header > div {
    margin: 0 4px;
}

.g_bubble.stripe + .g_bubble.stripe {
	margin-left: 4px;
}

#layout-main div.anime_all div.info div.caststaff > div,
#layout-main div.anime_all div.tabbed_pane {
    margin: 0.35em;
}


#layout-main div.main_all div.header div.latestnews .g_bubble.stripe + .g_bubble.stripe,
#layout-main div.main_all div.datablocks .g_bubble.stripe + .g_bubble.stripe
{
	margin-left: 0;
}

#layout-menu li.sub-menu span.tab {
    display: block;
}