*.i_pri_high
{
	background-image: url(../icons/icon/anidb_pri_high.gif);
}

*.i_pri_low
{
	background-image: url(../icons/icon/anidb_pri_low.gif);
}

*.i_pri_med
{
	background-image: url(../icons/icon/anidb_pri_med.gif);
}

*.i_rate_corrupted
{
	background-image: url(../icons/icon/anidb_rate_corrupted.gif);
}

*.i_rate_eyecancer
{
	background-image: url(../icons/icon/anidb_rate_eyecancer.gif);
}

.i_rate_halfstar,
.i_rate_star,
.i_rate_veryhigh,
.i_rate_high,
.i_rate_med,
.i_rate_low,
.i_rate_verylow {
	background-repeat: repeat-x !important;
	background-position: left !important;
	padding: 0 !important;
	background-image: url(../icons/zakura/star-dark.png);
}

.i_rate_veryhigh {
	width: 45px !important;
}
.i_rate_high {
	width: 37px !important;
}
.i_rate_med {
	width: 30px !important;
}
.i_rate_low {
	width: 22px !important;
}
.i_rate_verylow {
	width: 15px !important;
}
.i_rate_halfstar {
	background-position: left;
	width:8px;
}
.i_rate_error,
.i_rate_missing,
.i_rate_unknown {
	padding: 0 !important;
	height: 15px !important;
}

.i_rate_unknown {
	background-image: url(../icons/zakura/star-grey.png);
}
.i_rate_missing {
	background-image: url(../icons/zakura/star-un.png);
}
.i_rate_error {
	background-image: url(../icons/zakura/star-red.png);
}