th.c_set,
th.c_setlatin,
th.c_date,
th.c_latin,
th.c_number,
.i_inactive:not(.sorter-false) {
	padding-right: 1.5em !important;
	padding-left: 0.5em !important;
	background: url(../icons/zakura/order.gif) no-repeat center right;
	cursor: pointer;
}

th.c_set.s_forward,
th.c_setlatin.s_forward,
th.c_date.s_forward,
th.c_latin.s_forward,
th.c_number.s_forward,
th.s_forward,
.i_descending {
	padding-right: 1.5em !important;
	padding-left: 0.5em !important;
	background: url(../icons/zakura/order-descending.gif) no-repeat center right;
	cursor: pointer;
}

th.c_set.s_reverse,
th.c_setlatin.s_reverse,
th.c_date.s_reverse,
th.c_latin.s_reverse,
th.c_number.s_reverse,
th.s_reverse,
.i_ascending {
	padding-right: 1.5em !important;
	padding-left: 0.5em !important;
	background: url(../icons/zakura/order-ascending.gif) no-repeat center right;
	cursor: pointer;
}

.i_down1, .i_up1		{background-position: -11px center;}
.i_nodown1, .i_down1	{background-image: url(../icons/zakura/down.gif);}
.i_noup1, .i_up1		{background-image: url(../icons/zakura/up.gif);}
*.i_tab_collapse,
.i_minus				{background-image: url(../icons/zakura/minus.gif);}
.i_plus					{background-image: url(../icons/zakura/plus.gif);}
*.i_tab_collapse:hover,
.i_minus:hover			{background-position: right}
.i_plus:hover			{background-position: right}

/* file state */
.i_filestate_oncd		{background-image: url(../icons/zakura/state-cd.png);}
.i_filestate_ondvd		{background-image: url(../icons/zakura/state-dvd.png);}
.i_filestate_onhdd		{background-image: url(../icons/zakura/state-hdd.gif);}
.i_filestate_other		{background-image: url(../icons/zakura/state-unknown.gif);}

/* file attributes */
.i_comment,
.i_group_comment		{background-image: url(../icons/zakura/comment.png); height: 15px !important; background-position: center bottom !important;}
.i_crc_yes				{background-image: url(../icons/zakura/crc-yes.png); height: 15px !important;}
.i_new_icon				{background-image: url(../icons/zakura/epfile-new.png);}
.i_uncensored			{background-image: url(../icons/zakura/uncensored.gif);}
.i_video				{background-image: url(../icons/zakura/video.gif);}
.i_vrs_2				{background-image: url(../icons/zakura/v2.png); height: 15px !important;}
.i_vrs_3				{background-image: url(../icons/zakura/v3.png); height: 15px !important;}


/* anime state */
.i_state_all			{background-image: url(../icons/zakura/state-all.png);}
.i_state_deleted		{background-image: url(../icons/zakura/state-del.png);}
.i_state_mixed			{background-image: url(../icons/zakura/state-mixed.png);}
.i_state_oncd			{background-image: url(../icons/zakura/state-cd.png);}
.i_state_onhdd			{background-image: url(../icons/zakura/state-hdd.gif);}
.i_state_unknown		{background-image: url(../icons/zakura/state-unknown.gif);}
.i_no_vote				{background-image: url(../icons/zakura/vote-no.gif);}

/* seen */
.i_seen					{background-image: url(../icons/zakura/state-seen.png);}
.i_seen_no				{background-image: url(../icons/zakura/seen-no.png);}
.i_seen_yes				{background-image: url(../icons/zakura/seen-yes.png);}

/* mylist */
.i_file_addmylist		{background-image: url(../icons/zakura/mylist-add.png);}
.i_file_removemylist	{background-image: url(../icons/zakura/mylist-remove.png);}
.i_general_list, .i_mylist				{background-image: url(../icons/zakura/state-inmylist.png);}

/* actions */
.i_file_add				{background-image: url(../icons/zakura/epfile-add.gif);}
.i_ep_edit,
.i_file_edit			{background-image: url(../icons/zakura/edit.png);}
.i_file_ed2k			{background-image: url(../icons/zakura/ed2k.gif);}
.i_ep_vote				{background-image: url(../icons/zakura/vote.png);}
.i_group_vote			{background-image: url(../icons/zakura/vote.png);}
.i_vote					{background-image: url(../icons/zakura/vote.png);}


/* audio+sub flags */
.i_audio_fi				{background-image: url(../icons/zakura/audio-finnish.gif);}
.i_sub_fi				{background-image: url(../icons/zakura/audio-sub-finnish.gif);}
.i_audio_ja				{background-image: url(../icons/zakura/audio-japanese.gif);}
.i_sub_ja				{background-image: url(../icons/zakura/audio-sub-japanese.gif);}
.i_audio_x-jat			{background-image: url(../icons/zakura/audio-x-japanese.gif);}
.i_sub_x-jat			{background-image: url(../icons/zakura/audio-sub-x-japanese.gif);}
.i_audio_pl				{background-image: url(../icons/zakura/audio-polish.gif);}
.i_sub_pl				{background-image: url(../icons/zakura/audio-sub-polish.gif);}
.i_audio_ru				{background-image: url(../icons/zakura/audio-russian.gif);}
.i_sub_ru				{background-image: url(../icons/zakura/audio-sub-russian.gif);}
.i_audio_sl				{background-image: url(../icons/zakura/audio-slovenian.gif);}
.i_sub_sl				{background-image: url(../icons/zakura/audio-sub-slovenian.gif);}
.i_audio_x-other		{background-image: url(../icons/zakura/audio-unknown.gif);}
.i_sub_x-other			{background-image: url(../icons/zakura/audio-sub-unknown.gif);}
.i_audio_x-unk			{background-image: url(../icons/zakura/audio-unknown.gif);}
.i_sub_x-unk			{background-image: url(../icons/zakura/audio-sub-unknown.gif);}

/* rating */
.i_rate_halfstar,
.i_rate_star,
.i_rate_veryhigh,
.i_rate_high,
.i_rate_med,
.i_rate_low,
.i_rate_verylow {
	background-repeat: repeat-x !important;
	background-position: left !important;
	padding: 0 !important;
	background-image: url(../icons/zakura/star.png);
}

.i_rate_veryhigh		{width: 45px !important;}
.i_rate_high			{width: 37px !important;}
.i_rate_med				{width: 30px !important;}
.i_rate_low				{width: 22px !important;}
.i_rate_verylow			{width: 15px !important;}
.i_rate_unknown		{
	background-image: url(../icons/zakura/star-un.png);
	padding: 0 !important;
	height: 15px !important;
}

.i_pri_low {
	background: transparent url(../icons/zakura/priority-low.png) no-repeat left top;
	width: 0;
	padding-left: 15px;
}
.i_pri_med {
	background: transparent url(../icons/zakura/priority-med.png) no-repeat left top;
	width: 0;
	padding-left: 15px;
}
.i_pri_high {
	background: transparent url(../icons/zakura/priority-high.png) no-repeat left top;
	width: 0;
	padding-left: 15px;
}
.i_notify {
	background: transparent url(../icons/zakura/notify.png) no-repeat left top;
	width: 0;
	padding-left: 15px;
}
.i_nonotify {
	background: transparent url(../icons/zakura/notify-no.png) no-repeat left top;
	width: 0;
	padding-left: 15px;
}

.i_no_vote {
	background: transparent url(../icons/zakura/vote-no.gif) no-repeat left 3px;
	width: 0;
	padding-left: 5px;
	height: 16px;
}
