#layout-main div.forum ul.topics li.row,
#layout-main div.animeatt_reviews div.review div.text,
#layout-main div.g_timedentry div.body,
#layout-main div.main_all div.datablocks h4,
#layout-main div.main_all div.header h4
{
	border: none;
}

button,
input[type="submit"],
input[type="button"]
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid;
	border-color:#777777 #666666 #666666 #777777;
}

#layout-search input.text
{
    box-shadow: 1px 1px 2px #777777 inset;
}

#layout-search select
{
    box-shadow: 0 1px 2px #777777 inset;
}

#layout-main div.mylist_all td+td,
#layout-main div.myvotes_all td+td,
#layout-main div.mywishlist_all tr td+td,
#layout-main div.animelist_all tr td+td,
#layout-main div.lexicon_all table.animelist tr td+td,
#layout-main div.mynotifies_all tr td+td,
#layout-main div.mydb_all table tr td + td,
#layout-main div.modlatest_all table tr td + td,
#layout-main div.latest2_all table tr td + td,
#layout-main div.latest2_all table tr.rowspan td:first-child {
	border-left: 1px solid #555555;
}

#layout-main div.animeatt_reviews div.review span.stamp,
#layout-main div.userpage_all div.blog div.g_timedentry span.stamp,
tr + tr td,
tr + tr th,
li.g_odd + li,
li + li.g_odd,
#layout-main #tagtree div.tag-column div.tag,
#layout-main div div.explanation div.description dl + dl,
#layout-main div.report_all div.body ul li + li,
#layout-main div.g_definitionlist tr th,
#layout-main div.votes_all div.graph div.group + div.group_odd,
#layout-main div.votes_all div.graph div.group_odd + div.group,
#layout-main div.votes_all div.graph.eps div.row + div.row,
#layout-main div.addtagentityrel_all #tag-list div.tag + div.tag
{
	border-top: 1px solid #555555;
}