a:hover {
	text-decoration: underline;
}

a.i_button:hover,
a.i_icon:hover,
a.i_inline:hover {
	text-decoration: none;
}

#layout-search .submit {
	text-transform: capitalize;
}

#layout-nav div.main_search a.advsearch {
	font-family: arial,sans-serif;
	text-decoration: underline;
	text-transform: capitalize;
}

#layout-menu > li,
#layout-search .submit,
#layout-search input.text,
#layout-search select,
#layout-tabs {
	font-size: 1.2em;
}

#layout-main div.tabbed_pane ul.tabs li,
#layout-main ul.g_list li,
#layout-tabs ul.main-tabs > li {
	font-size: 1.1em;
}