a.button,
a.confirmButton,
button.button,
button.confirmButton,
input.button,
input.confirmButton,
#layout-menu li.sub-menu ul,
#layout-menu li.sub-menu ul li#user-login,
#layout-menu li.sub-menu ul li#user-logout,
#layout-menu li.sub-menu ul li#user-profile {
	background: none;
}

.i_icon,
a,
a:active,
a:link,
a:visited,
h4 span.nolink a,
span.link,
#layout-main a.filter {
	color: #105289 !important;
	outline: 0 !important;
}

.g_bubble .name-colored,
.g_button a:hover,
.i_icon:hover,
a:hover,
button:hover,
h1 a:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
span.link:hover,
#layout-main a.filter:hover,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries a.name-colored,
#layout-main div.admin_all div.g_menu h4 span,
#layout-main div.chartag-list a:hover,
#layout-main div.cmt_entries a.username-colored,
#layout-main div.forum .g_bubble.infobox h3,
#layout-main div.forum a.topictitle:hover,
#layout-main div.forum a.username-colored,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-main div.search_all div.suggestions span:hover,
#layout-main div.tag-column a:hover,
#layout-main ul.g_list li:hover {
	color: #AA0000 !important;
}

.i_vrs_2:hover span,
.i_vrs_3:hover span,
.i_vrs_4:hover span,
.i_vrs_5:hover span,
.i_vrs_6:hover span,
.i_vrs_7:hover span,
.i_vrs_8:hover span,
.i_vrs_9:hover span {
	background-color: #AA0000;
}

#layout-main div.cmt_all div.cmt_add hr,
#layout-main div.forum hr,
#layout-main tr.header th.sortable:hover:not(.sorter-false),
#layout-main tr.header th.sortable:hover:not(.sorter-false) a {
	background-color: #A3BADA;
}

#layout-main div.anime_all div.data table.relationlist tr,
#layout-main div.report_all div.tabbed_pane div.body div.pane ul li,
#layout-main div.tabbed_pane div.body div.pane ul.contribute li,
#layout-main div.userpage_all .g_section.achievements > .container > .container,
#layout-main table.file.entities tr.generic,
#preferences div.tabbed_pane div.body div.pane ul li,
#preferences div.tabbed_pane div.general table tr {
	background-color: inherit;
}

#layout-main div.anime_all div.groups td.epbar div.done,
#layout-main div.group_all div.group_released td.epbar div.done {
	background-color: #40aae3;
	border-bottom-color: #40aae3;
}

#layout-main div.anime_all div.groups td.epbar div.done.mylist,
#layout-main div.group_all div.group_released td.epbar div.done.mylist {
	border-bottom-color: #27e353;
}

#layout-main div.anime_all div.groups td.epbar div.notdone,
#layout-main div.group_all div.group_released td.epbar div.notdone {
	background-color: #C3D8FF;
	border-bottom-color: #C3D8FF;
}

.g_bubble,
.g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.g_button a:hover,
a.button:hover,
a.confirmButton:hover,
button.button:hover,
button.confirmButton:hover,
button:hover,
div.g_odd,
input.button:hover,
input.confirmButton:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
li.g_odd,
span.g_odd,
table table.filelist tr.g_odd,
tr.g_odd,
#layout-main div.addtagentityrel_all div.suggestions > span.focus,
#layout-main div.addtagentityrel_all div.suggestions > span:hover,
#layout-main div.edit_actions span > *:hover,
#layout-main div.forum .g_bubble.infobox,
#layout-main div.forum div.g_bubble.header,
#layout-main div.forum div.g_bubble.navbar,
#layout-main div.forum div.g_bubble.options-box,
#layout-main div.forum div.g_bubble.posting-box,
#layout-main div.forum div.g_bubble.search,
#layout-main div.forum div.g_bubble.submit-box,
#layout-main div.forum div.g_bubble.threads,
#layout-main div.forum ul.topics li.g_odd.row,
#layout-main div.forum ul.topics li.g_odd.row,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-main div.search_all div.suggestions span:hover,
#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane_cfg div.body,
#layout-main div.tabbed_pane_cfg ul.tabs li.selected,
#layout-main div.tabbed_pane_cfg ul.tabs li:hover,
#layout-main div.userpage_all div.g_menu ul,
#layout-main div.userpage_all div.g_menu ul li.g_odd,
#layout-main div.votes_all div.graph div.group_odd,
#layout-main ul.g_list li.g_odd:hover,
#layout-main ul.g_list li.selected,
#layout-main ul.g_list li:hover,
#layout-search ul.quicksearch .g_bubble.stripe:hover,
#layout-search ul.quicksearch li.focus,
#layout-search ul.quicksearch li:hover,
#layout-tabs ul.main-tabs > li {
	background-color: #F5F9FF;
}

.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_odd,
.g_button a,
.g_definitionlist .g_bubble .g_bubble,
.g_definitionlist .g_bubble .g_bubble .g_bubble .g_bubble,
.g_definitionlist .g_odd .g_bubble,
a.button,
a.confirmButton,
button,
button.button,
button.confirmButton,
html,
input.button,
input.confirmButton,
input[type="button"],
input[type="submit"],
table table.filelist tr,
#layout-main div.edit_actions span > *,
#layout-main div.g_content,
#layout-main div.pagination span a,
#layout-main ul.g_list li,
#layout-main ul.g_list li.g_odd,
#layout-search ul.quicksearch .g_bubble.stripe {
	background-color: #FFFFFF;
}

.g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_odd,
.g_odd .g_bubble,
input[type="password"]:focus,
input[type="password"]:hover,
input[type="text"]:focus,
input[type="text"]:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover,
#layout-main div.forum ul.topics li.row,
#layout-main div.search_all div.suggestions,
#layout-main div.tabbed_pane ul.tabs li,
#layout-search ul.quicksearch,
#layout-tabs ul.main-tabs > li.selected,
#layout-tabs ul.main-tabs > li:hover {
	background-color: #FFFFFF;
}

input.text,
input[type="password"],
input[type="text"],
select,
textarea,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries div.new textarea,
#layout-main div.forum div.quickreply textarea,
#layout-main div.search_all div.suggestions,
#layout-search input.text,
#layout-search select,
#layout-search ul.quicksearch {
	border-color: #D3D7E2;
}

#layout-search ul.quicksearch li + li {
	border-color: #D3D7E2;
}

.f_button.selected,
.f_button:hover,
.g_bubble.box > div.top div.name,
.g_bubble.stripe > div.data div.name,
.g_button a,
a.button,
a.confirmButton,
button,
button.button,
button.confirmButton,
input.button,
input.confirmButton,
input[type="button"],
input[type="submit"],
#layout-main div.addsimilaranime_all div.addsimilaranime_entries div.title,
#layout-main div.edit_actions span > *,
#layout-main div.forum .g_bubble.infobox .row + .row,
#layout-main div.forum .g_bubble.infobox div.data,
#layout-main div.forum .g_bubble.infobox div.data p.subtitle,
#layout-main div.forum .g_bubble.infobox h3,
#layout-main div.forum div.cmt_entries.history h4,
#layout-main div.forum div.g_bubble.navbar div.bottom,
#layout-main div.forum div.g_bubble.threads,
#layout-main div.forum div.postbody div.code div.title,
#layout-main div.forum div.signature,
#layout-main div.forum li.row + li.row,
#layout-main div.forum ul.topiclist div.row div,
#layout-main div.msg_all div.forum ul.topics div.check,
#layout-main div.pagination span a,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-main ul.g_list li {
	border-color: #CCCCCC;
}

input[type="password"]:focus,
input[type="password"]:hover,
input[type="text"]:focus,
input[type="text"]:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
	border-color: #CCCCCC !important;
}

#layout-main div.addsimilaranime_all div.addsimilaranime_entries div.profile div,
#layout-main div.animeatt_reviews div.review span.stamp,
#layout-main div.animeatt_reviews div.review span.stamp a,
#layout-main div.main_all div.news.forum div.latestnews div.posted,
#layout-main div.userpage_all div.blog div.g_timedentry span.stamp,
#layout-main div.userpage_all div.blog div.g_timedentry span.stamp a {
	color: #666666;
}

.tooltip span.text,
a.button,
a.confirmButton,
button.button,
button.confirmButton,
input.button,
input.confirmButton,
#imagepreview,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries div.profile div strong,
#layout-main div.forum div.g_bubble.threads,
#layout-main tr.header th.sortable:hover:not(.sorter-false),
#layout-main tr.header th.sortable:hover:not(.sorter-false) a {
	color: #3D3E6E;
}

#layout-main div.forum div.g_bubble.rules {
	background-color: #ECD5D8;
}

li + li.g_odd,
li.g_odd + li,
tr + tr td,
#layout-main #tagtree div.tag-column div.tag,
#layout-main div div.explanation div.description dl + dl,
#layout-main div.addtagentityrel_all #tag-list div.tag + div.tag,
#layout-main div.anime_all div.episodes tr.newtype td,
#layout-main div.forum .g_bubble.infobox .row + .row,
#layout-main div.report_all div.body ul li + li,
#layout-main div.votes_all div.graph div.group + div.group_odd,
#layout-main div.votes_all div.graph div.group_odd + div.group,
#layout-main div.votes_all div.graph.eps div.row + div.row,
#layout-nav div.menu_hr,
#layout-search ul.quicksearch li + li {
	border-top-color: #D3D7E2;
}

.g_bubble.stripe > div.data div.name,
#layout-main .g_section > form > h2,
#layout-main .g_section > h2,
#layout-main div.forum .g_bubble.infobox div.data p.subtitle,
#layout-main div.forum .g_bubble.infobox h3 {
	border-bottom-color: #D3D7E2;
}

#layout-main div.anime_all div.episodes table.filelist td,
#layout-main div.anime_all div.episodes table.filelist th,
#layout-main div.animelist_all tr td+td,
#layout-main div.characterlist_all tr td + td,
#layout-main div.clublist_all tr td + td,
#layout-main div.collectionlist_all tr td + td,
#layout-main div.creatorlist_all tr td + td,
#layout-main div.grouplist_all tr td + td,
#layout-main div.latest2_all table tr td + td,
#layout-main div.latest2_all table tr.rowspan td:first-child,
#layout-main div.modlatest_all table tr td + td,
#layout-main div.mydb_all table tr td + td,
#layout-main div.mylist_all table.animelist table.eplist td,
#layout-main div.mylist_all table.animelist table.eplist th,
#layout-main div.mylist_all table.animelist table.filelist td,
#layout-main div.mylist_all table.animelist table.filelist th,
#layout-main div.mylist_all td+td,
#layout-main div.mynotifies_all tr td+td,
#layout-main div.myvotes_all td+td,
#layout-main div.mywishlist_all tr td+td,
#layout-main div.songlist_all tr td + td,
#layout-main div.tag-column .tag-block + .tag-block,
#layout-main div.tag_all tr td + td,
#layout-main div.taglist_all tr td + td,
#layout-main div.userlist_all tr td + td {
	border-left-color: #D3D7E2 !important;
}

tr + tr th,
#layout-main div.g_definitionlist tr th {
	border-top-color: #EBE1EF;
}

/*tooltip*/
.tooltip span.text:after,
.tooltip span.text:before {
	border-color: rgba(245, 245, 245, 0);
	border-bottom-color: #F5F5F5;
}

/*tag cloud*/
#layout-main div.tag-column div.tag[data-anidb-weight="0"] .name a {
	color: rgba(0, 0, 0, 0.6) !important;
}

#layout-main div.tag-column div.tag.abstract[data-anidb-weight="0"] .name a,
#layout-main div.tag-column span.not_added a {
	color: rgba(0, 0, 0, 0.3) !important;
}

#layout-main div.chartag-list span.size0 a,
#layout-main div.chartag-list span.size1 a,
#layout-main div.tag-column div.tag[data-anidb-weight="100"] .name a {
	color: rgba(16, 82, 137, 0.5) !important;
}

#layout-main div.chartag-list span.size2 a,
#layout-main div.tag-column div.tag[data-anidb-weight="200"] .name a {
	color: rgba(16, 82, 137, 0.6) !important;
}

#layout-main div.chartag-list span.size3 a,
#layout-main div.tag-column div.tag[data-anidb-weight="300"] .name a {
	color: rgba(16, 82, 137, 0.7) !important;
}

#layout-main div.chartag-list span.size4 a,
#layout-main div.chartag-list span.size5 a,
#layout-main div.tag-column div.tag[data-anidb-weight="400"] .name a {
	color: rgba(16, 82, 137, 0.8) !important;
}

#layout-main div.chartag-list span.size6 a,
#layout-main div.chartag-list span.size7 a,
#layout-main div.tag-column div.tag[data-anidb-weight="500"] .name a {
	color: rgba(16, 82, 137, 1.0) !important;
}

#layout-main div.chartag-list span.size10 a,
#layout-main div.chartag-list span.size8 a,
#layout-main div.chartag-list span.size9 a,
#layout-main div.tag-column div.tag[data-anidb-weight="600"] .name a {
	color: rgba(16, 82, 137, 1.0) !important;
}

#layout-main div.tag-column div.tag[data-anidb-weight="100"] .weight {
	opacity: 0.3;
}

#layout-main div.tag-column div.tag[data-anidb-weight="200"] .weight {
	opacity: 0.4;
}

#layout-main div.tag-column div.tag[data-anidb-weight="300"] .weight {
	opacity: 0.6;
}

#layout-main div.tag-column div.tag[data-anidb-weight="400"] .weight {
	opacity: 0.8;
}

#layout-main div.chartag-list a:hover,
#layout-main div.tag-column a:hover {
	opacity: 1.0 !important;
}

#layout-search div.g_bubble.search {
	background-color: transparent;
}

table th,
#layout-main div.votes_all div.graph div.header,
#layout-main table tr.header th a {
	color: #FFFFFF !important;
}

th,
th a,
#layout-main div.forum div.g_bubble.threads,
#layout-main div.votes_all div.graph div.header,
#layout-main table tr.header,
#layout-main table tr.header th a {
	background-color: #305C97;
}

/*box shadow*/
.g_bubble,
#layout-hint,
#layout-main div.g_content,
#layout-main div.g_msg,
#layout-main div.userpage_all div.g_menu ul {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.g_button a,
button,
input[type="button"],
input[type="submit"],
#layout-main div.addfilem.form div.dump textarea,
#layout-main div.edit_actions span > *,
#layout-main div.forum div.quickreply textarea,
#layout-main div.pagination span a,
#layout-main ul.g_list li,
#layout-search input.text,
#layout-search select {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

#layout-main div.tabbed_pane ul.tabs li,
#layout-tabs ul.main-tabs > li {
	box-shadow: 2px -2px 2px -1px rgba(0, 0, 0, 0.2)
}

.tooltip span.text,
#imagepreview {
	box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2);
	background-color: #F5F5F5 !important;
}

/*disable shadow so it doesn't overlap with the quicksearch pane*/
#layout-search input.text.focus,
#layout-search input.text.focus + select,
#layout-search ul.quicksearch .g_bubble.stripe {
	box-shadow: none;
}

/*clickable logo*/
#layout-menu li.sub-menu ul li.main a:hover {
	background-color: transparent;
	background-image: none;
}

input[type="password"],
input[type="text"],
select,
textarea {
	background-color: #FDFDFD;
}

input[type="text"]:disabled,
select:disabled,
textarea:disabled,
#layout-main div.forum ul.topics li.g_odd.row:hover,
#layout-main div.forum ul.topics li.row:hover {
	background-color: #D3D7E2;
}

.g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody {
	background-color: #FFFFFF !important;
}

.g_bubble.quotebody .g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody {
	background-color: #F8F8F8 !important;
}

.ajax-file-upload:hover {
	opacity: 0.6;
}

html {
	background-color: #000000;
	color: #696969;
}

#layout-search {
	background: url("images/bg-header.jpg") repeat-x scroll left top transparent;
}

#layout-search div.search {
	background: url("images/logo.jpg") no-repeat scroll left top transparent;
}

#layout-menu li.sub-menu span.tab {
	color: #CCCCCC !important;
}

#layout-menu li.sub-menu ul {
	background-color: inherit;
}

#layout-menu li.sub-menu ul a {
	color: #bcbcbc !important;
}

#layout-menu li.sub-menu ul li a:active,
#layout-menu li.sub-menu ul li a:hover {
	background-color: #333333;
	color: #DDDDDD !important;
}

#layout-main div.userpage_all div.g_menu ul li.g_odd:hover,
#layout-main div.userpage_all div.g_menu ul li:hover {
	background: transparent url("images/stripe-ltblue.gif") repeat scroll left top;
	color: #2D42AF !important;
}

#layout-menu #menu-account #user-logout a,
#layout-menu #menu-account #user-logout a:link,
#layout-menu #menu-account #user-logout a:visited,
#layout-menu #menu-account .alert a,
#layout-menu #menu-account .alert a:link,
#layout-menu #menu-account .alert a:visited,
#layout-menu #menu-account li a,
#layout-menu #menu-account li a:link,
#layout-menu #menu-account li a:visited {
	color: #FFFFFF !important;
}

#layout-menu #menu-account #user-logout a:active,
#layout-menu #menu-account #user-logout a:hover,
#layout-menu #menu-account .alert a:active,
#layout-menu #menu-account .alert a:hover,
#layout-menu #menu-account li a:active,
#layout-menu #menu-account li a:hover {
	color: #FFFFFF !important;
	background: transparent url("images/layout/top_hover.jpg") repeat left top;
}

#layout-main {
	background-color: #F5F5F5;
}

#layout-main > h1 {
	background-color: inherit;
	color: #2B5288 !important;
}

.g_definitionlist table th,
.g_definitionlist table th a {
	background-color: transparent;
	color: #8E83A9 !important;
}

#layout-menu li.sub-menu ul li + li {
	border-top-color: #FFECF5 !important;
}

#layout-content,
#layout-main > h1,
#layout-menu #menu-account {
	box-shadow: none;
}

caption,
h4 {
	color: #5C68B5;
}

table {
	border-color: #565AB9 !important;
}

#layout-footer {
	color: #EEEEEE;
}

#layout-main div.anime_all div.episodes table.filelist,
#layout-main div.mylist_all table.animelist table.filelist {
	background: #D3D7F3 url("images/stripe-dkblue.gif") repeat scroll left top;
}

select option,
select.shuttle,
select.shuttle:focus,
select.shuttle:hover {
	background: #e0ecfd;
	color: #3d3e6e;
}

select option[value="0"] {
	color: #B14C7C;
}

#layout-main div.anime_all div.episodes table.filelist th,
#layout-main div.mylist_all table.animelist table.eplist th,
#layout-main div.mylist_all table.animelist table.filelist th {
	background-color: #A9BDE1;
}