#layout-main div.tabbed_pane div.body {
	margin-top: -1px;
}

#layout-main h2 + div.edit_actions {
	margin-top: -2.8em;
	margin-right: 0.5em;
}

#layout-main .g_section:not(.tabbed_pane) > .g_bubble > table {
	padding: 2px;
}

#layout-tabs {
	margin-top: -3.1em;
}

#layout-search {
	height: 75px;
}

#layout-hint + #layout-nav #layout-menu {
	margin-top: 11.5em;
}

#layout-hint + #layout-nav #layout-search {
	margin-top: 2em;
}

#layout-hint + #layout-nav + #layout-content #layout-tabs ul {
	top: 2.1em;
}

#layout-hint + #layout-nav {
	margin-top: 4.5em;
}

#layout-menu li.sub-menu ul li a {
	display: inline-block;
}

#layout-main div.edit_actions span > * {
	padding: 2px 8px;
}

.g_button a {
	height: 18px;
	width: auto;
	line-height: 15px;
	padding: 2px 4px 2px;
}