#layout-main div.tabbed_pane div.body {
	margin-top: -2px;
}

#layout-main h2 + div.edit_actions {
    margin-top: -2.5em;
}

#layout-main .g_section:not(.tabbed_pane) > .g_bubble > table {
	padding: 2px;
}

#layout-tabs {
	margin-top: -3.1em;
}

#layout-search {
	height: 75px;
	z-index: 0;
}