.i_noavatar {
	background-image: url(../icons/icon/noavatar_white.png);
}

.i_noavatar_thumb {
	background-image: url(../icons/icon/noavatar_thumb_white.png);
}

.i_favourite,
.i_rate_halfstar,
.i_rate_high,
.i_rate_low,
.i_rate_med,
.i_rate_star,
.i_rate_veryhigh,
.i_rate_verylow {
	background-image: url(../icons/icon/anidb_rate_star_dark.png);
}