.g_button a:hover,
.i_comment_add:hover,
.i_comment_creq:hover,
.i_comment_delete:hover,
.i_comment_edit:hover,
.i_comment_info:hover,
.i_comment_move:hover,
.i_comment_quote:hover,
.i_comment_report:hover,
.i_comment_revisions:hover,
.i_comment_setactive:hover,
.i_comment_undelete:hover,
.i_pm_delete:hover,
.i_pm_reply:hover,
.i_review_add:hover,
.i_topic_add:hover,
.i_topic_delete:hover,
.i_topic_history:hover,
.i_topic_lock:hover,
.i_topic_locked:hover,
.i_topic_move:hover,
.i_topic_read:hover,
.i_topic_split:hover,
.i_topic_subscribe:hover,
.i_topic_undelete:hover,
.i_topic_unlock:hover,
.i_topic_unsubscribe:hover,
button:hover,
h4 a:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
table th.sortable:hover:not(.sorter-false),
th a:hover,
#layout-main .g_list a:hover,
#layout-main .g_list li:hover,
#layout-main div.edit_actions span > *:hover,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-main ul.g_list li:hover,
#layout-menu li.sub-menu ul li:hover,
#layout-menu li.sub-menu ul li:hover a {
	color: #C0DAF0 !important;
}

#layout-main div.userpage_all div.g_menu ul li:hover,
#layout-main div.userpage_all div.g_menu ul li:hover .v_high,
#layout-main div.userpage_all div.g_menu ul li:hover a {
	color: #DDDDDD !important;
}

#layout-main div.userpage_all .g_section.achievements > .container > .container,
#layout-menu .sub-menu {
	background-color: inherit !important;
}

.i_comment_add,
.i_comment_creq,
.i_comment_delete,
.i_comment_edit,
.i_comment_info,
.i_comment_move,
.i_comment_quote,
.i_comment_report,
.i_comment_revisions,
.i_comment_setactive,
.i_comment_undelete,
.i_pm_delete,
.i_pm_reply,
.i_review_add,
.i_topic_add,
.i_topic_delete,
.i_topic_history,
.i_topic_lock,
.i_topic_locked,
.i_topic_move,
.i_topic_read,
.i_topic_split,
.i_topic_subscribe,
.i_topic_undelete,
.i_topic_unlock,
.i_topic_unsubscribe,
#layout-main div.edit_actions span > * {
	background-color: #34394D;
	border-color: #34394D;
}

#layout-main div.anime_all .staffblock + .staffblock table,
#layout-main div.ep_all .staffblock + .staffblock table {
	border-color: #34394D !important;
}

.i_comment_add,
.i_comment_creq,
.i_comment_delete,
.i_comment_edit,
.i_comment_info,
.i_comment_move,
.i_comment_quote,
.i_comment_report,
.i_comment_revisions,
.i_comment_setactive,
.i_comment_undelete,
.i_pm_delete,
.i_pm_reply,
.i_review_add,
.i_topic_add,
.i_topic_delete,
.i_topic_history,
.i_topic_lock,
.i_topic_locked,
.i_topic_move,
.i_topic_read,
.i_topic_split,
.i_topic_subscribe,
.i_topic_undelete,
.i_topic_unlock,
.i_topic_unsubscribe,
th,
th a,
#layout-main div.edit_actions span > * {
	color: #CCCCCC !important;
}

.g_button a,
.i_comment_add,
.i_comment_creq,
.i_comment_delete,
.i_comment_edit,
.i_comment_info,
.i_comment_move,
.i_comment_quote,
.i_comment_report,
.i_comment_revisions,
.i_comment_setactive,
.i_comment_undelete,
.i_pm_delete,
.i_pm_reply,
.i_review_add,
.i_topic_add,
.i_topic_delete,
.i_topic_history,
.i_topic_lock,
.i_topic_locked,
.i_topic_move,
.i_topic_read,
.i_topic_split,
.i_topic_subscribe,
.i_topic_undelete,
.i_topic_unlock,
.i_topic_unsubscribe,
button,
input[type="button"],
input[type="submit"],
#layout-main div.addfilem.form div.dump textarea,
#layout-main div.calendar_all .date_selector input.year,
#layout-main div.calendar_all .date_selector select,
#layout-main div.edit_actions span > *,
#layout-main div.forum div.quickreply textarea,
#layout-main div.pagination span a,
#layout-main ul.g_list li,
#layout-search input.text,
#layout-search select {
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.g_bubble,
#layout-content,
#layout-hint,
#layout-main > h1,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.g_msg,
#layout-main div.g_timedentry h4,
#layout-main div.userpage_all div.g_menu ul,
#layout-menu li.sub-menu ul {
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}

#layout-main div.tabbed_pane ul.tabs li,
#layout-tabs ul.main-tabs > li {
	box-shadow: 2px -2px 2px -1px rgba(0, 0, 0, 0.2);
}

#layout-main div.main_all div.account ul.tabs li {
	box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.2);
}

/*disable shadow so it doesn't overlap with the quicksearch pane*/
#layout-search input.text.focus,
#layout-search input.text.focus + select,
#layout-search ul.quicksearch .g_bubble.stripe {
	box-shadow: none;
}

.i_comment_add:hover,
.i_comment_creq:hover,
.i_comment_delete:hover,
.i_comment_edit:hover,
.i_comment_info:hover,
.i_comment_move:hover,
.i_comment_quote:hover,
.i_comment_report:hover,
.i_comment_revisions:hover,
.i_comment_setactive:hover,
.i_comment_undelete:hover,
.i_pm_delete:hover,
.i_pm_reply:hover,
.i_review_add:hover,
.i_topic_add:hover,
.i_topic_delete:hover,
.i_topic_history:hover,
.i_topic_lock:hover,
.i_topic_locked:hover,
.i_topic_move:hover,
.i_topic_read:hover,
.i_topic_split:hover,
.i_topic_subscribe:hover,
.i_topic_undelete:hover,
.i_topic_unlock:hover,
.i_topic_unsubscribe:hover,
#layout-main div.edit_actions span > *:hover,
#layout-main div.userpage_all div.g_menu ul li.g_odd:hover,
#layout-main div.userpage_all div.g_menu ul li:hover,
#layout-menu li.sub-menu ul li:hover,
#layout-menu li.sub-menu ul li:hover a {
	background-color: #58636E;
}

#layout-main div.userpage_all div.g_menu ul,
#layout-main div.userpage_all div.g_menu ul li.g_odd {
	background-color: #B9BBBF;
}

#layout-menu li.sub-menu ul li > span button {
	background-color: #CFD1D4 !important;
	color: #000000;
}

#layout-menu li.sub-menu ul li > span button:hover {
	background-color: #B9BBBF !important;
	color: #AA0000 !important;
}

/*stroke around the wishlist icons*/
.i_tv_special:before,
.i_wishlist_blacklist:before,
.i_wishlist_buddy:before,
.i_wishlist_toget:before,
.i_wishlist_towatch:before,
.i_wishlist_undefined:before {
	text-shadow: 1px 1px 0 #CFD1D4, -1px -1px 0 #CFD1D4, 1px -1px 0 #CFD1D4, -1px 1px 0 #CFD1D4, 1px 1px 0 #CFD1D4;
}

#layout-main div.main_all div.g_section > h2 {
	background-color: inherit;
	color: inherit;
	border-color: #9A9A9A;
}

#layout-main div.main_all div.account ul.tabs li,
#layout-main div.main_all div.account ul.tabs li.signup:hover {
	border-color: #CFD1D4;
}

#layout-main div.info div.extra div h2,
#layout-main div.main_all div.account tr.g_odd {
	background-color: inherit;
}

#layout-main div.info div.extra div h2 {
	color: inherit;
}