@import "../anidbstyle2/anidbstyle2.css";
@import "cdbstyle-colour.css";
@import "cdbstyle-layout.css";
@import "cdbstyle-text.css";
@import "cdbstyle-icons.css";

/* hide images from quicksearch */
/*#layout-search ul.quicksearch li.g_bubble.stripe div.image{
display: none;
}
#layout-search ul.quicksearch .g_bubble.stripe {
min-height: 4.4em;
}
#layout-search ul.quicksearch .g_bubble.stripe div.data {
margin: 0.5em 0.5em 0.5em 0.5em;
}*/

#layout-footer:after
{
	content:"Design by CDB-Man. Improvements on DerIdiot`s AniDBstyle2.";
}