@import "http://git.anidb.net/anidb/css/raw/master/cdbstyle/cdbstyle-text.css";
@import "http://git.anidb.net/anidb/css/raw/master/cdbstyle/cdbstyle-layout.css";
@import "http://git.anidb.net/anidb/css/raw/master/cdbstyle/colour/mylist.css";
@import "http://git.anidb.net/anidb/css/raw/master/cdbstyle/colour/features.css";

/*
For Foursquare: minor tweaks so that certain text is visible with CDBstyle highlights:
#layout-main div.mylist_list tr:not(.all_watched) td.stats {color: #7E8072;}
#layout-main div.mylist_list tr.all_watched td.stats {color: #5BBCCE;}
#layout-main .mylist a {color: #7E8072; text-decoration: underline;}
*/