#layout-main div.anime_all div.g_section.info div.tabbed_pane div.body {
	padding:10px;
}
#layout-main div.anime_all div.g_section.info div.image {
	margin-top:25px;
}
	#layout-main div.anime_all div.g_section.info div.image img {
		border:5px solid #595654;
	}