#layout-search ul.quicksearch {
	background-color: #b1b3b5;
	border:1px solid #34394d;
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.8);
}

#layout-search ul.quicksearch li:hover,
#layout-search ul.quicksearch li.focus {
	background-color:#BBBBBB;
}

#layout-search ul.quicksearch li.g_odd {
	background-color: inherit;
}