#layout-main div.addepm_all td.title textarea {
	height: 1.4em !important;
}

#layout-main div.addepm_all .ep .row input + input {
	margin-left: 0.5em;
}

#layout-main div.addepm_all .ep button + button {
	margin-left: 0.3em;
}