#layout-main div.addfilem_all select.groups {
	display: block;
	margin-bottom: 0.3em;
}

#layout-main div.addfilem_all div.flags {
	margin-top: 0.5em;
}

#layout-main div.addfilem_all label {
	display: inline-block;
	width: 20em;
}

#layout-main div.addfilem_all select + label {
	margin-top: 0.3em;
}

#layout-main div.addfilem_all form > .options {
	margin-bottom: 1em;
	width: 60em;
	margin-left: auto;
	margin-right: auto;
}

#layout-main div.addfilem.form div.dump textarea {
	width: 100%;
	height: 30em;
	white-space: pre;
	box-sizing: border-box;
}

#layout-main div.addfilem.form div.dump p.actions {
	margin-top: 1em;
}

#layout-main div.addfilem.form #applytoall {
	display: block;
	margin: 0.5em;
}
#layout-main div.addfilem_all select {
	padding: 3px 4px;
}

#layout-main div.addfilem_all #toggle_template_options,
#layout-main div.addfilem_all #template_options button + button {
	margin-left: 0.3em
}

#layout-main div.addfilem_all #template_options input {
	display:block;
	margin: 0.2em 0;
}

#layout-main div.addfilem_all ul.note {
	padding-top: 0.3em;
}