#layout-main div.admin_all div.g_menu.admin {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-justify-content: space-around;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	justify-content: space-around;
    float: none;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

#layout-main div.admin_all div.g_menu.admin .sub-menu {
margin-bottom: 0.5em;
}

#layout-main div.dbstats_all table ol {
	width: 20em;
}

#layout-main div.stats_all table,
#layout-main div.dbstats_all table {
	border: none;
	border-spacing: 1em;
}

#layout-main div.stats_all table td,
#layout-main div.dbstats_all table td {
	border: none;
}

#layout-main div.admin_menu ul,
#layout-main div.admin_cat_menu ul {
	margin-left: auto;
	margin-right: auto;
	width: 22em;
	text-align: left;
	padding: 4px;
}

#layout-main div.admin_menu ul li,
#layout-main div.admin_cat_menu ul li {
	padding: 2px 4px;
}

#layout-main div.admin_all div.characterrelation dl,
#layout-main div.admin_all div.creatorrelation dl {
	display:block;
	margin:0 0 0.2em;
}

#layout-main div.admin_all div.characterrelation dl dt,
#layout-main div.admin_all div.creatorrelation dl dt {
	clear:none;
	float:left;
}

#layout-main div.admin_all div.characterrelation dl dd,
#layout-main div.admin_all div.creatorrelation dl dd {
	margin-left:20em;
}

#layout-main div.admin_all div.characterrelation div.inner,
#layout-main div.admin_all div.creatorrelation div.inner {
	margin-bottom:1em;
	margin-left:auto;
	margin-right:auto;
	width:55em;
}

#layout-main div.admin_all div.characterrelation input[type="text"],
#layout-main div.admin_all div.creatorrelation input[type="text"] {
	width:300px;
}

#layout-main div.admin_all div.characterrelation dl dd label,
#layout-main div.admin_all div.creatorrelation dl dd label {
	display:block;
}

#layout-main div.avmf_all div.avmf_list table {
	width:100%;
}

#layout-main div.admin_all table.creatoranimerel td.count {
	width:6em;
}

#layout-main div.avmf_all div.avmf_list ul.g_list + table,
#layout-main div.log_all div.log_list ul.g_list + table,
#layout-main div.admin_all div.admin_user_avatars  ul.g_list + table {
	margin-top:1em;
}

#layout-main div.admin_all table.creditlist {
	width:98%;
}

#layout-main div.admin_all table.creditlist td.no {
	min-width: 5em;
	max-width: 5em;
}

#layout-main div.admin_all table.creditlist td.bool {
	min-width: 4em;
	max-width: 4em;
}

#layout-main div.admin_all table.creditlist td.action {
	min-width: 25em;
	max-width: 25em;
}

#layout-main div.admin_all table.creditlist td.addedby {
	min-width: 10em;
	max-width: 10em;
}

#layout-main div.admin_all table.creditlist td.credit {
	min-width: 20em;
	max-width: 20em;
}

#layout-main div.admin_all table.creditlist td+td {
	padding-left: 1em;
}

#layout-main div.admin_all table.creditlist td.description {
	width: 50%;
}

#layout-main div.admin_all table.creditlist td.action {
	text-align:left;
}

#layout-main div.admin_role div.blocks {
	margin-top: 0.5em;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-justify-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
}

#layout-main div.admin_role div.blocks > div table {
	width:100%;
}

#layout-main div.admin_role div.blocks > div {
	margin: 0.5em auto;
	width: 50em;
}

#layout-main div.admin_role div.blocks > div {
	padding: 8px;
}

#layout-main div.admin_role div.blocks > div table th {
	width: 40%;
}

/*tags*/
#layout-main div.admin_tags_all table.tags th,
#layout-main div.admin_tags_all table.tags td {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#layout-main div.admin_tags_all table.tags td.name {
	width: 80%;
}

#layout-main div.admin_tags_all table.tags td.name.added {
	white-space: nowrap;
}

#layout-main div.admin_tags_all table.tags td.action {
	min-width: 7em;
}

#layout-main div.admin_tags_all table.tags td.group {
	white-space: nowrap;
}

#layout-main div.admin_all div.tag.merge th {
	min-width: 1em;
	max-width: 1em;
}
#layout-main div.admin_all div.tag.merge th.head {
	min-width: 7.5em;
	max-width: 7.5em;
}
#layout-main div.admin_all div.tag.merge th.data {
	width: 33%;
}

#layout-main div.admin_all div.tag.merge td {
	vertical-align:top;
	padding:5px;
}

#layout-main div.admin_all div.tag.merge td.input,
#layout-main div.admin_all div.tag.merge td.check {
	vertical-align:middle;
}

#layout-main div.admin_all div.tag.merge textarea {
	width:95%;
	height:10em;
}

#layout-main div.admin_all div.tag.merge table.options th,
#layout-main div.admin_all div.tag.merge table.parents th {
	min-width: 6em;
	max-width: 6em;
}

#layout-main div.admin_all div.tag.merge td table {
	width:100%;
}

#layout-main div.admin_tags_all div.actions {
	margin-top: 1em;
}
#layout-main div.admin_tags_all div.actions button,
#layout-main div.admin_tags_all div.actions input[type="submit"] {
	margin-left: 5px;
	height: 30px;
}

#layout-main div.admin_tags_all div.actions select {
	padding: 6px 2px;
	width: 34.7em;
	vertical-align: middle;
}

#layout-main div.admin_tags_all div.taglist_table {
	clear: none;
}

#layout-main div.admin_all div.bans div.g_definitionlist tr th {
    width: 25em;
}

/*searchassist*/
@media screen and (min-width: 1350px) {
	#layout-main .admin_all ul.nav + ul.limit {
		margin-top: -3.3em;
	}
}