#layout-main div.animeatt_reviews div.review {
	clear: right;
}

#layout-main div.animeatt_reviews div.review div.bar {
	margin-top:1em;
	float: right;
	width: 11em;
}

#layout-main div.animeatt_reviews div.review div.bar table {
	width: 100%;
}

#layout-main div.animeatt_reviews div.review div.text {
	text-align: left;
	margin-right: 12em;
	padding: 0.5em;
}

#layout-main div.animeatt_reviews div.review div.rating table td.value {
	text-align: right;
}

#layout-main div.animeatt_comment {
	text-align: left;
}

#layout-main div.animeatt_comment textarea {
	width: 96%;
	height: 10em;
}

#layout-main div.animeatt_all div.topic_actions {
	height: 25px;
}

#layout-main div.animeatt_all div.topic_actions div.buttons a {
	float: left;
}

#layout-main div.animeatt_all div.topic_actions span.icons {
	float: right;
}

#layout-main div.animeatt_reviews div.review div.text {
	min-height: 330px;
}

#layout-main div.animeatt_reviews div.review div.text + div.note {
	margin-top: 1em;
	margin-right: 12em;
	clear: none;
}

#layout-main div.animeatt_reviews div.review div.text img {
	max-width:100%;
}

#layout-main div.animeatt_all div.forum div.options-box dl div {
	margin-left:20em;
}

#layout-main div.animeatt_all div.animeatt_info h4,
#layout-main div.animeatt_all div.animeatt_info p {
	text-align: left;
}

#layout-main div.animeatt_all div.animeatt_info ol {
	list-style:decimal inside none;
	text-align: left;
}

#layout-main div.animeatt_reviews div.review span.stamp {
	display: block;
	margin-bottom: 1.5em;
	margin-top: -0.5em;
	padding-top: 1px;
	text-align: left;
}

@media screen and (max-width: 800px) {
	#layout-main div.animeatt_reviews div.review div.text,
	#layout-main div.animeatt_reviews div.review div.text + div.note {
		margin-right: 0;
	}

	#layout-main div.animeatt_reviews div.review div.bar {
		width:auto;
		float:none;
		display: flex;
		flex-wrap: wrap;
	}

	#layout-main div.animeatt_reviews div.review div.bar > div.avatar {
		order: 1;
	}

	#layout-main div.animeatt_reviews div.review div.bar > div.menu {
		order: 2;
	}

	#layout-main div.animeatt_reviews div.review div.bar > div.rating {
		order: 3;
	}

	#layout-main div.animeatt_reviews div.review div.bar > div.menu h4 {
		display: none;
	}

	#layout-main div.animeatt_reviews div.review div.bar > div.avatar,
	#layout-main div.animeatt_reviews div.review div.bar > div.menu {
		width: 50%;
	}

	#layout-main div.animeatt_reviews div.review div.bar tbody {
		display: flex;
		flex-wrap: wrap;
	}

	#layout-main div.animeatt_reviews div.review div.bar th {
		min-width: 6em;
	}

	#layout-main div.animeatt_reviews div.review div.bar td {
		width: 100%;
	}

	#layout-main div.animeatt_reviews div.review div.bar tr + tr td,
	#layout-main div.animeatt_reviews div.review div.bar tr + tr th {
		border-top: none !important;
	}

	#layout-main div.animeatt_reviews div.review div.bar tr {
		width: 25%;
	}
}

@media screen and (max-width: 635px) {
	#layout-main div.animeatt_reviews div.review div.bar tr {
		width: 33%;
	}
}

@media screen and (max-width: 450px) {
	#layout-main div.animeatt_reviews div.review div.bar tr {
		width: 50%;
	}
}