#layout-main div.anime_all div.info th span.i_icon {
	float: right;
}

#layout-main div.anime_all div.episodes div.mylist_add {
	margin-top: 1em;
}

#layout-main div.anime_all div.mylist table td {
	padding: 1em;
}

#layout-main div.anime_all div.mylist table td span.i_icon {
	margin-left: 1em;
}

#layout-main div.anime_all div.awards {
	clear: both;
	text-align: center;
}

#layout-main div.anime_all div.tabbed_pane ul.contribute {
	border: none;
}

#layout-main div.anime_all #groupfilter .icons {
	float: left;
}

#layout-main div.anime_all #groupfilter .icons span.i_icon {
	cursor: pointer;
}

#layout-main div.anime_all #groupfilter .icons span + span {
	margin-left: 0.5em;
}

#layout-main div.anime_all > .g_section:not(.vote):not(.mylist) table,
#layout-main div.anime_all > .g_section form table {
	width: 100%;
}

#layout-main div.anime_all div.mylistadd table {
	width: auto!important;
}

#layout-main table.eplist table.filelist {
	padding: 0 0.5em 0.5em;
}

#layout-main div.anime_all > .g_section:not(.info) {
	margin: 0em 0.5em 1.5em;
}

#layout-main div.anime_all > .g_section.tabbed_pane {
	margin: 2.5em 0.5em 1.5em;
}

#layout-main div.anime_all div.reviews table.reviewlist th.approval {
	width: 12em;
}

#layout-main div.anime_all table.stafflist td.comment,
#layout-main div.anime_all table.stafflist td.eprange {
	min-width: 10em;
}

#layout-main div.anime_all div.songs table th.credit {
	min-width: 15em;
}

#layout-main div.anime_all div.recommendations td.action,
#layout-main div.anime_all div.reviews td.action {
	text-align: right;
}

#layout-main div.group_all div.group_released td.epbar,
#layout-main div.anime_all div.groups td.epbar,
#layout-main div.anime_all table.stafflist td.credit,
#layout-main div.anime_all table.stafflist td.name {
	width: 30%;
}

#layout-main div.anime_all div.staffblock + div.staffblock {
	margin-top:3em;
}

#layout-main div.anime_all div.staffblock h3 {
	margin-left:1em;
	text-align:center;
	width:30%;
}

#layout-main div.group_all div.group_released td.epbar > div div,
#layout-main div.anime_all div.groups td.epbar > div div {
	float: left;
	height: 8px;
}

#layout-main div.anime_all div.episodes table.eplist th.title {
	max-width: 50%;
}

#layout-main div.anime_all div.episodes table.eplist th.state {
	min-width: 7em;
}

#layout-main div.anime_all div.episodes table.eplist th.action {
	min-width: 5.5em;
}

#layout-main div.anime_all #tabbed_pane {
	margin: 0 0.4em 0.4em;
}

#layout-main div.anime_all div.info div.caststaff {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@media screen and (max-width: 1200px) {
	#layout-main div.anime_all div.info div.caststaff
	{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

#layout-main div.anime_all div.info div.caststaff > div {
	margin: 0.4em;
	padding: 4px;
	width: 100%;
	position: relative;
}

#layout-main div.anime_all div.info div.caststaff div.staff {
	order: 1;
}

#layout-main div.anime_all div.info div.caststaff div.cast {
	order: 2;
}

#layout-main div.anime_all div.info div.caststaff div h4,
#layout-main div.anime_all div.data td.value form {
	text-align: left;
}

#layout-main div.anime_all div.info div.caststaff div.cast td.as {
	width: 1em;
}

#layout-main div.anime_all div.info div.caststaff div td {
	padding: 0.2em 0.5em;
}

#layout-main div.anime_all div.info div.caststaff div.staff td.creator,
#layout-main div.anime_all div.info div.caststaff div.cast td.char {
	width:100%;
}

#layout-main div.anime_all div.info div.caststaff div.cast td.creator,
#layout-main div.anime_all div.info div.caststaff div.staff td.credit {
	white-space: nowrap;
	min-width:12em;
}

#layout-main div.anime_all div.info div.caststaff tr.more {
	height:19px;
}

#layout-main div.anime_all div.info div.caststaff tr.more td.action {
	position: absolute;
	bottom: 3px;
	right: 4px;
}

#layout-main div.anime_all div.groups td.action {
	min-width: 9em;
}

#layout-main div.anime_all div.characters .g_bubble.stripe div.postbody {
	padding: 4px;
}

#layout-main div.anime_all #mylistadd_full {
	padding: 0.5em;
	width: 47em;
	margin-left: auto;
	margin-right: auto;
}

#layout-main div.anime_all table.songlist td.reltype {
	min-width: 10em;
	white-space: nowrap;
}

#layout-main div.anime_all div.info div.caststaff div td.name a,
#layout-main div.anime_all table.songlist td.creator > a {
	display: block;
}

#layout-main div.anime_all div.info > h4 {
	display: none;
}

#layout-main div.anime_all > div.info div.edit_actions {
	height: 4em;
	margin-top: 0;
}

@media screen and (min-width: 1200px) {
	#layout-main div.anime_all.sidebar > div.info {
		float: left;
		margin-bottom: 2em;
	}

	#layout-main div.anime_all.sidebar > div.info div.edit_actions {
		margin: 0 0.3em 0.5em 0;
		height: auto;
	}

	#layout-main div.anime_all.sidebar > div.info,
	#layout-main div.anime_all.sidebar div.block,
	#layout-main div.anime_all.sidebar div.block > div.image,
	#layout-main div.anime_all.sidebar div.block > div.data {
		min-width: unset;
		width: 425px;
	}

	#layout-main div.anime_all.sidebar div.info div.caststaff,
	#layout-main div.anime_all.sidebar div.block {
		flex-wrap: wrap;
	}

	#layout-main div.anime_all.sidebar div.block > div.data {
		margin-top: 1em;
		margin-right: 0;
	}

	#layout-main div.anime_all.sidebar div.block > div.image {
		margin: 0;
	}

	#layout-main div.anime_all.sidebar > .g_section.resized {
		width: calc(100% - 440px);
		clear: none;
		float: right;
		box-sizing: border-box;
	}

	#layout-main div.anime_all.sidebar #tabbed_pane {
		margin: 0 0.4em;
	}

	#layout-main div.anime_all.sidebar div.info div.caststaff > div {
		padding: 0.5em;
		margin: 1em 0.4em 0;
	}

	#layout-main div.anime_all.sidebar div.block {
		margin-top: 3em;
	}

	#layout-main div.anime_all.sidebar textarea {
		width: 20em;
	}

	#layout-main div.anime_all.sidebar > .g_section.resized.tabbed_pane {
		margin: 1em 0.5em 1.5em;
	}
}