#layout-main div.calendar_all > div.middle div.filter_menu ~ div.content
{
	margin-right: 17.5em;
}

#layout-main div.calendar_all > div.middle div.filter_menu.collapsed ~ div.content
{
	margin-right:2.5em;
}

#layout-main div.calendar_all > div.top input.year,
#layout-main div.calendar_all > div.bottom input.year
{
	width: 4em;
	text-align: center;
}

#layout-main div.calendar_all .date_selector + .g_list {
	margin-top: -2.3em;
}