#layout-main div.characterrel_all table.characterlist tr td {
	min-width: 5em;
}

#layout-main div.characterrel_all table.characterlist tr td.relation,
#layout-main div.characterrel_all table.characterlist tr td.type {
	white-space: nowrap;
	text-align: center;
}

#layout-main div.characterrel_all table.characterlist tr td.name {
	width:50%;
}