#layout-main div.character_all div.selector {
	display: flex;
	align-items: center;
	justify-content: center;
}

#layout-main div.character_all div.selector .select2 {
	padding-left: 0.5em;
	padding-right: 0.5em;
}