#layout-main div.forum div.topic_actions,
#layout-main div.cmt_entries div.postfooter,
#layout-main div.cmt_entries div.postbody span.actions {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

#layout-main div.forum div.topic_actions {
	-webkit-flex-justify-content: space-between;
	-ms-flex-justify-content: space-between;
	-moz-flex-justify-content: space-between;
	justify-content: space-between;
}

#layout-main div.forum_all div.forum div.topic_actions,
#layout-main div.cmt_entries div.postfooter,
#layout-main div.cmt_entries div.postbody span.actions {
	-webkit-flex-flex-direction: row-reverse;
	-ms-flex-flex-direction: row-reverse;
	-moz-flex-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

#layout-main div.forum div.segment.icon {
	background-position: 5px 50%;
	background-repeat: no-repeat;
}

#layout-main div.cmt_add form div textarea {
	display: block;
	height: 10em;
	margin-left: 10%;
	width: 80%;
}

#layout-main div.cmt_entries div.comment {
	line-height: 1.4;
	margin-bottom: 1em;
	min-height: 0;
	text-align: left;
	word-wrap: break-word;
}

#layout-main div.cmt_entries div.profile {
	display: inline;
	float: left;
	margin: 4px 8px 8pt 8pt;
	min-height: 10em;
	width: 15em;
}

#layout-main div.cmt_entries div.profile div {
	clear: none;
	float: none;
	margin-left: 0;
}

#layout-main div.cmt_entries div.profile div.user {
	padding-top: 0.5em;
}

#layout-main div.cmt_entries div.profile div.user_icons {
	padding-top: 1.6em;
}

#layout-main div.cmt_entries div.profile div.user_icons span.icons {
	float: none;
}

#layout-main div.cmt_entries div.postbody div.content {
	margin-left: 17em;
	margin-right: 1em;
}

#layout-main div.cmt_entries div.postbody p.author {
	margin: -2.5em 25em 1em 0.5em;
}

#layout-main div.cmt_entries div.comment:not(.creq_state) div.postbody span.actions {
	padding-right: 0.5em;
	padding-top: 0.5em;
	height: 2.1em;
}

#layout-main div.cmt_entries div.postfooter {
	clear: both;
	height: 11px;
	padding-bottom: .9em;
	padding-right: 1em;
	text-align: right;
}

#layout-main div.forum div.topic_actions {
	height: auto;
	min-height: 12px;
	margin-bottom: 1em;
	margin-top: 1em;
}

#layout-main div.forum ul.topiclist div.check,
#layout-main div.forum ul.topiclist div.to,
#layout-main div.forum ul.topiclist div.type,
#layout-main div.forum ul.topiclist div.read,
#layout-main div.forum ul.topiclist div.views,
#layout-main div.forum ul.topiclist div.actions,
#layout-main div.forum ul.topiclist div.lastpost,
#layout-main div.forum ul.topiclist div.posts {
	border-left: 1px solid;
	float: left;
	margin-left: 0;
	padding-left: .5em;
	padding-right: .5em;
}

#layout-main div.forum ul.topiclist div.posts,
#layout-main div.forum ul.topiclist div.views,
#layout-main div.forum ul.topiclist div.topics {
	text-align: center;
	width: 8%;
}

#layout-main div.forum li.header div.row.icon {
	min-height: 0;
	width: 100%;
}

#layout-main div.forum ul.topiclist div.row {
	height: 1%;
	margin: 0;
	overflow: hidden;
	position: relative;
}

#layout-main div.forum div.row.icon {
	height: auto!important;
	min-height: 35px;
}

#layout-main div.forum ul.topiclist div.segment.icon {
	float: left;
	width: 50%;
	padding: 0.2em 0.5em 0.4em;
	clear:none;
}

#layout-main div.forum li.header div.segment.icon,
#layout-main div.forum li.header div.segment {
	border-left: none !important;
	padding:7px 5px 5px;
}

#layout-main div.forum ul.topics div.posts,
#layout-main div.forum ul.topics div.views,
#layout-main div.forum ul.topics div.topics {
	line-height: 2.5em;
}

#layout-main div.forum ul.topics div.row {
	min-height: 2.5em;
}

#layout-main div.forum div.profile a.username-colored {
	display: block;
}

#layout-main div.forum ul.topiclist li.row div.row {
	padding: 2px 0;
}

#layout-main div.forum ul.topiclist li.row div.lastpost {
	padding: 0.2em 0.5em 0.4em;
	min-height: 2.5em;
}

#layout-main div.forum ul.topiclist li.row div.lastpost a.lastpost {
	display: inline-block;
	height: 9px;
	width: 11px;
}

#layout-main div.forum ul.topiclist li.row div.row div.icon div.title {
	padding-left: 3em;
}

#layout-main div.forum ul.topiclist li.row div.row.icon {
	padding-left: .3em;
}

#layout-main div.forum div.g_bubble.threads {
	border:none;
	padding: 0 0 0.4em;
	margin: 0.5em 0;
}

#layout-main div.forum hr {
	display: block;
	height: 1px;
	margin: 5px 0;
}

#layout-main div.forum div.g_bubble.navbar span.messages,
#layout-main div.forum div.g_bubble.navbar span.breadcrumbs,
#layout-main div.forum div.g_bubble.navbar span.info {
	display: block;
	line-height: 2em;
	width: auto;
}

#layout-main div.forum div.navbar span.icons {
	padding-top: .5em;
}

#layout-main div.forum div.g_bubble.navbar div.bottom {
	clear: both;
}

#layout-main div.forum div.g_bubble.navbar {
	padding-bottom: .5em;
	padding-left: 1em;
	padding-top: .5em;
}

#layout-main div.forum div.navbar span.info {
	float: right;
}

#layout-main div.forum div.signature {
	line-height: 140%;
	margin-left: 16em;
	margin-right: 1em;
	margin-top: 1.5em;
	overflow: hidden;
	padding-top: .2em;
}

#layout-main div.forum span.postdeleted,
#layout-main div.forum span.postedited {
	display: block;
	padding-top: 3em;
}

#layout-main div.forum div.posting-box div.field {
	clear: none;
	float: left;
	padding-top: 3px;
}

#layout-main div.forum div.posting-box div.message-box,
#layout-main div.forum div.posting-box div.topic {
	clear: left;
}

#layout-main div.forum div.posting-box div.smiley-box {
	float: right;
	width: 18%;
}

#layout-main div.forum div.posting-box div.smiley-box a {
	margin: .3em;
}

#layout-main div.forum div.posting-box div.message-box textarea {
	height: 20em;
	margin-left: 0;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}

#layout-main div.forum div.posting-box div.message-box {
	width: 80%;
}

#layout-main div.forum div.format-buttons {
	margin-bottom: .2em;
	margin-left: .2em;
	text-align: left;
}

#layout-main div.forum div.posting-box,
#layout-main div.forum div.submit-box,
#layout-main div.forum div.options-box,
#layout-main div.forum div.preview-box {
	margin-top: 1em;
}

#layout-main div.forum div.topic {
	padding-bottom: 1.5em;
}

#layout-main div.forum div.subject input {
	width: 300px;
}

#layout-main div.forum div.options-box h3 {
	padding-bottom: .5em;
}

#layout-main div.forum div.statistics {
	padding-bottom: 1.5em;
	padding-top: 1.5em;
}

#layout-main div.forum div.statistics p {
	line-height: 1.3;
	margin: 0;
	padding: 0;
}

#layout-main div.forum div.postbody div.code {
	line-height: 1.4em;
}

#layout-main div.forum div.postbody div.code div.title {
	margin-bottom: 3px;
	text-transform: uppercase;
}

#layout-main div.forum div.postbody div.code code {
	display: block;
	height: auto;
	line-height: 1.3em;
	margin: 2px 0;
	max-height: 200px;
	overflow: auto;
	padding-top: 5px;
	white-space: pre;
}

#layout-main div.forum div.options-box div.question input {
	padding-left: 4px;
	padding-right: 4px;
	width: 85%;
}

#layout-main div.forum div.options-box textarea {
	height: 10em;
	margin-left: 0;
	width: 85%;
}

#layout-main div.forum div.posting-box div.value {
	margin-left: 10em;
	text-align: left;
}

#layout-main div.forum div.options-box div.value {
	margin-left: 15em;
}

#layout-main div.forum div.options-box div.enddate input {
	width: 75px;
}

#layout-main div.forum div.options-box div.useroptions input {
	width: 25px;
}

#layout-main div.forum div.options-box span.desc {
	display: block;
	margin-top: .5em;
	width: 12em;
}

#layout-main div.forum div.add-box div.value {
	margin-left: 20em;
	text-align: left;
}

#layout-main div.forum div.add-box div.name input,
#layout-main div.forum div.add-box div.description input,
#layout-main div.forum div.add-box div.parentmanual input {
	padding-left: 4px;
}

#layout-main div.forum ul.topiclist div.actions {
	float: right;
	text-align: center;
	width: 8.5em;
}

#layout-main div.forum ul.topics div.actions {
	line-height: 2.2em;
	padding-top: .3em;
}

#layout-main div.forum div.topic_actions div.buttons a.i_topic_add {
	min-width: 6em;
}

#layout-main div.forum div.topic_actions div.buttons a.i_forum_add,
#layout-main div.forum div.topic_actions div.buttons a.i_forum_group {
	float: right;
	margin-right: 1.5em;
}

#layout-main div.forum_all ul.links {
	margin-top: 2em;
}

#layout-main div.forum div.quickreply textarea {
	border: 1px solid;
	height: 11em;
	line-height: 1.2em;
	padding: 2px;
	width: 40%;
	min-width: 50em;
}

#layout-main div.forum div.quickreply p {
	margin-bottom: 1em;
	margin-top: .5em;
}

#layout-main div.forum div.g_bubble.rules {
	padding: 10px;
	text-align: left;
}

#layout-main div.forum div.navbar span.notify {
	display: block;
	float: right;
	line-height: 2em;
	text-align: right;
}

#layout-main div.forum div.search form {
	text-align: left;
}

#layout-main div.forum div.search form input.search {
	width: 200px;
}

#layout-main div.forum div.search form input,
#layout-main div.forum div.search form select {
	padding: 2px 3px;
}

#layout-main div.forum div.search form button,
#layout-main div.forum div.search form input[type="submit"] {
	padding: 3px;
}

#layout-main div.forumsearch_form div.field {
	clear: none;
	float: left;
	margin-right: 1em;
	padding-top: 3px;
	text-align: left;
	width: 30%;
}

#layout-main div.forumsearch_form div span.desc {
	display: block;
}

#layout-main div.forumsearch_form div.value {
	margin-left: 30%;
	text-align: left;
}

#layout-main div.g_bubble.forumsearch_form input[type="text"] {
	width: 250px;
}

#layout-main div.forum hr,
#layout-main div.forum ul.topiclist {
	border: none;
}

#layout-main div.forum li.row+li.row {
	border-top: 1px solid;
}

#layout-main div.forum ul.topics {
	padding: 0 0.5em;
}

#layout-main div.forum div.signature,
#layout-main div.forum div.g_bubble.navbar div.bottom {
	border-top: 1px solid;
}

#layout-main div.forum div.postbody div.code div.title {
	border-bottom: 1px solid;
}

#layout-main div.cmt_add p.g_howto,
#layout-main div.forum div.options-box div,
#layout-main div.forum div.options-box h3,
#layout-main div.forum span.messages,
#layout-main div.forum div.statistics h3,
#layout-main div.forum div.quickreply form {
	text-align: left;
}

#layout-main div.cmt_entries div.comment span.icons,
#layout-main div.forum div.topic_actions span.icons {
	float: right;
}

#layout-main div.cmt_entries div.comment span.stamp span.icons,
#layout-main div.forum div.topic_actions div.buttons a,
#layout-main div.forum div.g_bubble.navbar span.breadcrumbs,
#layout-main div.forum div.g_bubble.navbar span.messages,
#layout-main div.forum div.topic_actions div.linklist {
	float: left;
}

#layout-main div.forum ul.topiclist,
#layout-main div.forum ul.topiclist li {
	display: block;
	list-style-type: none;
	margin: 0;
}

#layout-main div.forum div.navbar,
#layout-main div.forum div.options-box,
#layout-main div.forum div.posting-box div.vote {
	margin-bottom: 1em;
}

#layout-main div.forum div.navbar div.fake {
	clear: both;
}

#layout-main div.forum div.posting-box > div,
#layout-main div.forum div.options-box > div,
#layout-main div.forum div.add-box > div,
#layout-main div.forumsearch_form > form > div {
	height: 1%;
	margin: 0;
	overflow: hidden;
}

#layout-main div.forum div.options-box div.field,
#layout-main div.forum div.add-box div div.field {
	clear: none;
	float: left;
}

#layout-main div.forumsearch_form > form > div + div,
#layout-main div.forum div.add-box > div + div,
#layout-main div.forum div.posting-box > div + div,
#layout-main div.forum div.options-box > div > div + div,
#layout-main div.forum div.options-box div.polls,
#layout-main div.forum ul.topics div.actions a + a {
	margin-top: .5em;
}

#layout-main div.forum div.add-box div.name input,
#layout-main div.forum div.add-box div.description input {
	width: 50%;
}

#layout-main div.forum div.add-box form,
#layout-main div.g_bubble.forumsearch_form form {
	padding: 1em;
}

div.g_bubble.code,
div.g_bubble.spoiler,
div.g_bubble.quotebody {
	margin: 0.5em;
	padding: 4px 8px;
}

#layout-main div.g_bubble.spoiler div.spoiler_body {
	margin-bottom: 1em;
}

#layout-main div.g_bubble.spoiler button.spoiler {
	margin: 0.5em;
}

#layout-main div.forum div.content img,
#layout-main div.news div.newsitem img {
	max-width: 100%;
}

#layout-main div.forum div.preview-box {
	text-align: left;
	word-wrap: break-word;
}

#layout-main div.forum div.cmt_entries.history h4 {
	text-align: left;
	border-bottom: 1px solid;
	padding-bottom: 0.2em;
}

#layout-main div.forum div.cmt_entries.history > div {
	overflow: auto;
	height: 300px;
	margin-top: 0.3em;
}

#layout-main div.cmt_entries.archive div.postbody div.content,
#layout-main div.cmt_entries.archive div.postbody div.signature,
#layout-main div.forum div.buttons a + a {
	margin-left: 1em;
}

#layout-main div.cmt_entries.archive div.postbody p.author {
	padding-left: 1em;
}

#layout-main div.cmt_entries div.profile div.split {
	float: right;
	margin-right: 0.5em;
	margin-top: 0.5em;
}

#layout-main div.tabbed_pane div.body div.pane div.forum ul.topics {
	width: auto;
	display: block;
	vertical-align: inherit;
}

#layout-main div.forum div.g_bubble.search,
#layout-main div.forum div.g_bubble.navbar,
#layout-main div.forum div.g_bubble.posting-box,
#layout-main div.forum div.g_bubble.options-box,
#layout-main div.forum div.g_bubble.submit-box,
#layout-main div.forum div.g_bubble.preview-box {
	padding:0.8em;
}

#layout-main div.postbody div.content ol {
	list-style-type: decimal;
}
#layout-main div.postbody div.content ul {
	list-style-type: disc;
}

#layout-main div.postbody div.content ol,
#layout-main div.postbody div.content ul {
	margin-left: 0;
	padding-left: 4em;
}

#layout-main div.cmt_entries div.profile div.rank {
	margin-bottom: 1.4em;
}

#layout-main div.forum .segment div.title {
	min-height: 2.7em;
}

#layout-main div.forum .segment div.title a.topictitle {
	display: block;
	margin-left: -3.5em;
	padding-left: 3.5em;
	margin-top: -0.4em;
	padding-top: 0.4em;
}

#layout-main div.forum div.content .youtube iframe {
	width: 640px;
	height: 480px;
}

/*polls*/
#layout-main div.forum .g_bubble.infobox {
	margin-bottom: 1em;
	padding-bottom: .5em;
}

#layout-main div.forum .g_bubble.infobox div.title,
#layout-main div.forum .g_bubble.infobox div.data {
	margin-left: 1em;
	margin-right: 1em;
}

#layout-main div.forum .g_bubble.infobox div.title {
	padding-top: 1em;
}

#layout-main div.forum .g_bubble.infobox div.data div.left {
	line-height: 1.2em;
	text-align: left;
}

#layout-main div.forum .g_bubble.infobox div.data div.left .i_icon {
	margin-right: 0.3em;
	float: left;
}

#layout-main div.forum .g_bubble.infobox h3 {
	border-bottom: 1px solid;
	display: block;
	line-height: 1.4em;
	padding-bottom: .5em;
	text-align: left;
}

#layout-main div.forum .g_bubble.infobox .row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	align-items: center;
	text-align: left;
	padding: 1em 0.5em;
}

#layout-main div.forum .g_bubble.infobox div.data p.subtitle {
	border-bottom: 1px solid;
	padding: 1em 0.5em;
	text-align: left;
}

#layout-main div.forum .g_bubble.infobox .row > div.left {
	width: 30%;
}

#layout-main div.forum .g_bubble.infobox.events .row > div.left {
	width: 30em;
}

#layout-main div.forum .g_bubble.infobox .row > div.middle {
	width: 50%;
}

#layout-main div.forum .g_bubble.infobox .row > div.middle.text {
	width: 100%;
}

#layout-main div.forum .g_bubble.infobox .row > div.middle .bar {
	min-width: 2%;
	padding: 2px 4px;
	border-bottom: 1px solid;
	border-right: 1px solid;
}

#layout-main div.forum .g_bubble.infobox .row > div.vote,
#layout-main div.forum .g_bubble.infobox .row > div.percent {
	width: 5em;
	text-align: right;
}

#layout-main div.forum .g_bubble.infobox form > .result {
	padding: 0.5em 0;
}

#layout-main div.forum .g_bubble.infobox .row + .row {
	border-top: 1px solid;
}

#layout-main div.forum .g_bubble.infobox .row > div + div {
	padding-left: 1em;
}
/*</polls>*/

#layout-main div.forum div.topic_actions div.pagination {
	margin-top: 0.5em;
}

@media screen and (max-width: 800px) {
	#layout-main div.forum ul.topiclist div.posts,
	#layout-main div.forum ul.topiclist div.views,
	#layout-main div.forum ul.topiclist div.lastpost {
		display: none;
	}

	#layout-main div.forum ul.topiclist div.segment.icon {
		width:100%;
	}

	#layout-main div.forum div.topic_actions div.buttons > * {
		margin-bottom: 0.5em;
	}

	#layout-main div.cmt_entries div.postbody p.author {
	    margin: 0em 0.5em 1em 0.5em;
	}

	#layout-main div.forum div.quickreply textarea {
		min-width: 100%;
	}

	#layout-main div.forum .display_options > *,
	#layout-main div.forum div.topic_actions div.pagination > *,
	#layout-main div.forum div.search form > * {
		margin-bottom: 0.5em;
		display: inline-block;
	}

	#layout-main div.forum div.topic_actions div.pagination > *{
		margin-right: 0.3em;
	}

	#layout-main div:not(.cmt_all) div.forum div.search form input.search {
	    width: calc(100% - 17.4em);
	}

	#layout-main div.forum .segment div.title a.topictitle {
		margin-right: 0.5em;
	}
}

@media screen and (max-width: 635px) {
	#layout-main div.cmt_entries div.postbody span.actions {
		height: auto !important;
	}

	#layout-main div.cmt_entries div.postbody span.actions,
	#layout-main div.forum div.topic_actions {
		flex-wrap: wrap;
	}

	#layout-main div.cmt_entries .display_options > *,
	#layout-main div.forum div.format-buttons > *,
	#layout-main div.cmt_entries div.postbody span.actions > * {
		margin-bottom: 0.5em;
		display: inline-block;
	}

	#layout-main div.cmt_entries div.profile div.joined,
	#layout-main div.cmt_entries div.profile div.posts,
	#layout-main div.cmt_entries div.profile div.user_icons {
		display: none;
	}

	#layout-main div.cmt_entries div.profile div.rank {
		margin-bottom: 0;
	}

	#layout-main div.cmt_entries div.profile {
		width: 10em;
	}

	#layout-main div.cmt_entries div.postbody div.content {
		margin-left: 1em;
	}

	#f_mode,
	#layout-main div.forum div.topic_actions a.i_topic_split,
	#layout-main div.cmt_entries div.comment:not(.creq_state) div.postbody span.actions a.i_comment_info,
	#layout-main div.cmt_entries div.comment:not(.creq_state) div.postbody span.actions a.i_comment_revisions,
	#layout-main div.cmt_entries div.comment:not(.creq_state) div.postbody span.actions a.i_comment_move,
	#layout-main div.forum div.navbar span.icons,
	#layout-main div.forum div.g_bubble.navbar span.messages {
		display: none !important;
	}
}