#layout-main div.creq_all table.creqlist,
#layout-main div.creq_all div.creq_hist table,
#layout-main div.creq_all div.creq_data table,
#layout-main div.creq_all div.creq_raw table,
#layout-main div.creqhist_all div.creq_hist table,
#layout-main div.creq_all div.creq_hist div.forum {
	width: 100%;
}

#layout-main div.creq_all table.creqlist td.type,
#layout-main div.creq_all table.creqlist td.state,
#layout-main div.creq_all table.creqlist td.action,
#layout-main div.creq_all table.creqlist td.client,
#layout-main div.creq_all table.creqlist td.language {
	width:5em;
}

#layout-main div.creq_all table.creqlist td.date,
#layout-main div.creq_all table.creqlist td.name {
	width:10em;
}

#layout-main div.creq_all table.creqlist td.check,
#layout-main div.creq_all table.creqlist td.count {
	width:4em;
}

#layout-main div.creq_all table.creqlist td.id,
#layout-main div.creq_all table.creqlist td.name,
#layout-main div.creq_all div.creq_header th.field {
	text-align:left;
}

#layout-main div.creq_all table.creqlist td,
#layout-main div.creq_all div.creq_data td,
#layout-main div.creq_all div.creq_raw td {
	padding: 2px 8px;
}

#layout-main div.creq_all th.field {
	text-align:center;
}

#layout-main div.creq_all .creq_data td.field,
#layout-main div.creq_all .creq_raw td.field {
	white-space:nowrap;
}

#layout-main div.creq_all .creq_data td.field,
#layout-main div.creq_all .creq_raw td.field {
	width: 25em;
}

#layout-main div.creq_all .creq_data td.ignore {
	width: 5em;
}

#layout-main div.creq_all .creq_data table td.old,
#layout-main div.creq_all .creq_data table td.new,
#layout-main div.creq_all .creq_raw table td.old,
#layout-main div.creq_all .creq_raw table td.new {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:pre-wrap;
	min-width:45%;
	max-width:1em; /*otherwise the text-overflow doesn't work... <_<*/
}

#layout-main div.creq_all table.creqlist td.entry,
#layout-main div.creq_all table.creqlist td.summary {
	width: auto;
}

#layout-main div.creq_all div.creq_hist div.cmt_entries div.creq_state div.postbody p.author {
	margin: 0;
}

#layout-main div.creq_all div.creq_hist div.cmt_entries div.creq_state .content {
	display: none;
}

#layout-main div.creq_all div.creq_hist div.forum div.profile div.posts,
#layout-main div.creq_all div.creq_hist div.forum div.profile div.joined,
#layout-main div.creq_all div.creq_hist div.forum div.profile div.user_icons,
#layout-main div.creq_all div.creq_hist div.forum div.profile > br {
	display: none;
}

#layout-main div.creq_all div.creq_hist div.forum div.cmt_entries div.comment:not(.creq_state) div.postbody p.author {
	margin-right: 11em;
}

#layout-main div.creq_all div.creq_hist div.forum div.cmt_entries div.postbody div.content {
	margin-left: 12em;
}

#layout-main div.creq_all div.creq_hist div.forum div.cmt_entries div.comment:not(.creq_state) {
	padding: 0;
}

#layout-main div.creq_all div.creq_hist div.forum div.profile .g_image {
	max-width:75px;
}

#layout-main div.creq_all div.creq_messages {
	margin-left: 1em;
	margin-right: 1em;
	text-align: left;
}

#layout-main .creq_all .tabbed_pane ul li {
	min-width: 3em;
	text-align: center;
}

#layout-main .creq_all .format-buttons {
	text-align: center;
}

#layout-main div.creq_all div.tabbed_pane + .g_list {
	margin-top: 1em;
}

@media screen and (max-width: 950px) {
	#layout-main div.creq_all .g_section.list {
	    overflow: auto;
	}
}

@media screen and (max-width: 850px) {
	#anidb.creq #layout-tabs ul.main-tabs > li.trusted,
	#anidb.creq #layout-tabs ul.main-tabs > li.trustednew,
	#anidb.creq #layout-tabs ul.main-tabs > li.untrusted {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	#layout-main div.creq_all div.creq_hist div.forum div.cmt_entries div.comment:not(.creq_state) div.postbody p.author {
		margin-top: -2.5em;
	}
}

@media screen and (max-width: 635px) {
	#layout-main div.creq_all div.creq_hist div.forum div.cmt_entries div.postbody div.content {
		margin-left: 1em;
	}
}

@media screen and (max-width: 500px) {
	#anidb.creq #layout-tabs ul.main-tabs > li.my,
	#anidb.creq #layout-tabs ul.main-tabs > li.history {
		display: none;
	}
}