#layout-main div.ep_all table.stafflist td.credit,
#layout-main div.ep_all table.stafflist td.name {
	width:30%;
}

#layout-main div.ep_all table.stafflist td.comment,
#layout-main div.ep_all table.stafflist td.eprange {
	min-width:10em;
}

#layout-main div.ep_all div.staffblock + div.staffblock {
	margin-top:1.5em;
}

#layout-main div.ep_all div.staffblock h3 {
	margin-left:1em;
	text-align:center;
	width:30%;
}

#layout-main div.ep_all div.info div.tabbed_pane {
	min-width:50em;
	max-width:50%;
	margin-left:auto;
	margin-right:auto;
}

#layout-main div.ep_all div.info table,
#layout-main div.ep_all table.filelist {
	width:100%;
}

#layout-main div.ep_all div.info table th {
	width:10em;
}

#layout-main div.ep_all div.staffblock + div.staffblock {
	margin-top:3em;
}

#layout-main div.ep_all > .g_section.tabbed_pane:not(.hidden) {
	margin: 2.5em 0 1.5em;
}

@media screen and (min-width: 1500px) {
	#layout-main div.ep_all.sidebar div.info div.tabbed_pane {
		min-width: 0;
		max-width: none;
	}
}

@media screen and (max-width: 950px) {
	#layout-main div.ep_all div.g_section.anime .container,
	#layout-main div.ep_all div.g_section.ep_cast .container,
	#layout-main div.ep_all div.g_section.ep_files .container,
	#layout-main div.ep_all div.g_section.songs .container,
	#layout-main div.ep_all div.g_section.staff .container {
		overflow: auto;
	}

	#layout-main div.ep_all div.info div.tabbed_pane {
		min-width: 0;
		max-width: 100%;
	}
}