#layout-main div.group_all.animegroup table.filelist,
#layout-main div.group_all table.animelist {
	width:100%;
}

#layout-main div.group_all.animegroup div.info table th {
	width:10em;
}

#layout-main div.group_all.animegroup table.filelist td.no,
#layout-main div.group_all table.animelist td.no {
	text-align:right;
}

#layout-main div.group_all table.animelist td.action {
	min-width: 8em;
}

#layout-main div.group_all div.group_released table#releases th.action {
	min-width: 5.5em;
}

#layout-main div.group_all.animegroup tr.anime td.value span.icons,
#layout-main div.group_all.animegroup tr.group td.value span.icons {
	float:left;
	padding-right: 0.3em;
}

#layout-main div.group_all .notification td.value > div {
	display: inline-block;
	vertical-align: middle;
}

#layout-main div.group_all .notification td.value > div.action {
	min-width: 10em;
}

#layout-main div.group_all .notification td.value > div.state span.text {
	padding-right: 0.5em;
}

#layout-main div.group_all div.group_released td.epbar {
	width: 10%;
	min-width: 10em;
}

#layout-main div.group_all div.group_released td.epbar > div div {
	float: left;
	height: 8px;
}

#layout-main div.group_all h2 + h4 {
	margin-bottom: 0.5em;
	margin-top: -2.5em;
	text-align: right;
}

#layout-main div.group_all.animegroup div.info table {
	min-width:50em;
	max-width:50%;
	margin-left:auto;
	margin-right:auto;
}

@media screen and (min-width: 1500px) {
	#layout-main div.group_all.animegroup.sidebar div.info table {
		width:100%;
		min-width: 0;
		max-width: none;
	}
}

@media screen and (max-width: 950px) {
	#layout-main div.group_all div.g_section.group_released .container {
		overflow: auto;
	}

	#layout-main div.group_all h2 + h4 {
		margin-top: 0;
	}
}