#layout-main h1.latest2 {
	margin-bottom:0.5em;
}

#layout-main div.latest2_all div.content + div.content {
	margin-top: 1em;
}

#layout-main div.latest2_all div.content h4 {
	font-size: 1.4rem;
	text-align: left;
}

#layout-main div.latest2_all div.filter_menu ~ div.content {
	margin-right:17.5em;
}

#layout-main div.latest2_all div.filter_menu.collapsed ~ div.content {
	margin-right:0;
}

#layout-main div.latest2_all div.content table.filelist td.group {
	width: 15%;
	min-width: 10em;
}

#layout-main div.latest2_all div.content div.files td.anime.name {
	width: 33%;
}

/*<forcing icons not to wrap>*/
#layout-main div.latest2_all div.files div.content td.action,
#layout-main div.latest2_all div.files div.content td.info {
	white-space:nowrap;
}

#layout-main div.latest2_all div.files div.content td.action {
	text-align:left;
}

/*</forcing icons not to wrap>*/
#layout-main div.latest2_all div.content table {
	width: 100%;
}

@media screen and (max-width: 1280px) {
	#layout-main div.latest2_all table tr td,
	#layout-main div.latest2_all table tr th {
		padding-left: 0;
		padding-right: 0;
	}

	#layout-main div.latest2_all div.content td.anime.name {
		width: auto;
	}
}

@media screen and (min-width: 1300px) {
	#layout-main div.latest2_all table tr td,
	#layout-main div.latest2_all table tr th {
		min-width: 5em;
	}

	#layout-main div.latest2_all div.animelist_all td.type,
	#layout-main div.latest2_all div.latest_anime div.content td.type,
	#layout-main div.latest2_all div.latest_recommendations div.content td.user.name,
	#layout-main div.latest2_all div.latest_reviews div.content td.user.name,
	#layout-main div.latest2_all div.latest_similaranime div.content td.user.name {
		white-space:nowrap;
	}

	#layout-main div.latest2_all div.content td.anime.name {
		width: auto;
	}
}

@media screen and (min-width: 1500px) {
	#layout-main div.latest2_all table tr td,
	#layout-main div.latest2_all table tr th {
		min-width: 7em;
	}

	#layout-main div.latest2_all table tr td.thumb,
	#layout-main div.latest2_all table tr td.type {
		min-width: 5em;
	}

	#layout-main div.latest2_all div.files div.content td.info {
		min-width: 30em;
		max-width: 30em;
	}

	#layout-main div.latest2_all div.content td.anime.name {
		width: 40%;
	}
}

#layout-main div.latest2_all div.latest_completed div.content td.group {
	width: 30%;
}

#layout-main div.latest2_all div.latest_hotanime div.content td.anime.name,
#layout-main div.latest2_all div.latest_reviews div.content td.anime.name {
	width: 80%;
}

#layout-main div.latest2_all div.latest_sequels div.content td.anime_a,
#layout-main div.latest2_all div.latest_sequels div.content td.anime_b {
	width:50%;
}

#layout-main div.latest2_all div.latest_anime div.content td.name {
	width: 90%;
}

#layout-main div.latest2_all div.latest_recommendations div.content td.anime.name {
	width:30%;
}

#layout-main div.latest2_all div.latest_similaranime div.content td.anime.name {
	width:20%;
}

#layout-main div.latest2_all div.content td.episode {
	min-width: 3em;
	max-width: 3em;
	text-align: right;
}

#layout-main div.latest2_all div.content td.info a.fid {
	float: left;
	margin-right: 0.5em;
}

@media screen and (max-width: 950px) {
	#layout-main div.latest2_all div.content {
		overflow: auto;
	}
}