/*global*/
#layout-main div.main_all {
	margin-left: -0.5em;
	margin-right: -0.5em;
}

#layout-main div.main_all .g_bubble.stripe div.name {
	margin-right: 0;
}

.internet_explorer#anidb #layout-main div.main_all .g_bubblewrap > * {
	-ms-flex-grow: 1;
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	flex-grow: 1;
}

.internet_explorer#anidb #layout-main div.main_all .stripe.g_bubble > .data .tooltip span.text {
	width:300px;
}

/*news*/
#layout-main div.main_all div.news.forum .latestnews div.data {
	max-height: 20.5em;
	overflow: hidden;
}

#layout-main div.main_all div.news.forum .stats {
	min-width: 20em;
	max-width: 20em;
}

#layout-main div.main_all div.news.forum .g_bubble.stripe {
	margin:0;
	height:100%;
	max-width: none;
	width: 100%;
}

#layout-main div.main_all div.news.forum h2 {
	margin-left: 0.3em;
	margin-right: 0.3em;
}

#layout-main div.main_all div.news.forum div.container {
	margin: 0 0.5em;
	height: calc(100% - 3.5em);
	box-sizing: border-box;
}

#layout-main div.main_all div.news.forum div.events {
	min-width: 55em;
}

#layout-main div.main_all div.news.forum div.events .g_bubble.stripe > div.data {
	margin-left: 0.5em;
}

#layout-main div.main_all div.news.forum div.events div.row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin-top: 0.5em;
}

#layout-main div.main_all div.news.forum div.events div.row .left {
	width: 20em;
	margin-right: 0.5em;
	white-space: nowrap;
}

#layout-main div.main_all div.news.forum:not(.events):not(.what) {
	flex-wrap: nowrap;
}

@media screen and (min-width: 1400px) {
	#layout-main div.main_all div.news.forum {
		flex-wrap: nowrap;
	}
}

@media screen and (max-width: 1400px) {
	#layout-main div.main_all div.news.forum.events div.latestnews,
	#layout-main div.main_all div.news.forum.what div.latestnews {
		order: 1;
		max-width: calc(100% - 20em);
	}

	#layout-main div.main_all div.news.forum.events div.stats,
	#layout-main div.main_all div.news.forum.what div.stats {
		order: 2;
	}

	#layout-main div.main_all div.news.forum div.events,
	#layout-main div.main_all div.news.forum div.what {
		order: 3;
	}

	#layout-main div.main_all div.news.forum div.events,
	#layout-main div.main_all div.news.forum div.what {
		min-width: 0 !important;
		max-width: none;
		width:100%;
	}
}

@media screen and (max-width: 950px) {
	#layout-main div.main_all div.news.forum .g_bubble.stripe {
		width: calc(100vw - 2em);
	}
}

@media screen and (max-width: 800px) {
	#layout-main div.main_all div.news.forum div.events div.row .left {
		width: auto;
	}
}

@media screen and (max-width: 550px) {
	#layout-main div.main_all div.news.forum div.latestnews,
	#layout-main div.main_all div.news.forum div.stats {
		max-width: none !important;
	}
}

/*calendar*/
#layout-main div.main_all div.calendar {
	margin-bottom: 0.5em;
}

#layout-main div.main_all div.calendar > h2 {
	margin: 0 0.3em;
}

#layout-main div.main_all div.calendar > div.edit_actions {
	margin-top: -2.5em;
}

#layout-main div.main_all div.calendar .g_bubble.box {
	width:163px;
	max-width:250px;
}

#layout-main div.main_all div.calendar .g_bubble.box > div.top div.name {
	height:4.5em;
	overflow: hidden;
}

#layout-main div.main_all div.calendar .g_bubble.box .name span.icons.tooltip .i_info {
	height:4.5em;
}

#layout-main div.main_all div.calendar .g_bubble.box > div.image {
	float: none;
	margin-left: auto;
	margin-right: auto;
	padding:0;
	height:225px;
}

#layout-main div.main_all div.calendar .g_bubble.box > div.data div.desc,
#layout-main div.main_all div.calendar .g_bubble.box > div.top div.actions.icons {
	display: none;
}

#layout-main div.main_all div.calendar .g_bubble.box.no10,
#layout-main div.main_all div.calendar .g_bubble.box.no3,
#layout-main div.main_all div.calendar .g_bubble.box.no4,
#layout-main div.main_all div.calendar .g_bubble.box.no5,
#layout-main div.main_all div.calendar .g_bubble.box.no6,
#layout-main div.main_all div.calendar .g_bubble.box.no7,
#layout-main div.main_all div.calendar .g_bubble.box.no8,
#layout-main div.main_all div.calendar .g_bubble.box.no9 {
	display: none;
}

@media screen and (min-width: 550px) {
	#layout-main div.main_all div.calendar .g_bubble.box.no3 {
		display: block;
	}
}

@media screen and (min-width: 820px) {
	#layout-main div.main_all div.calendar .g_bubble.box.no4 {
		display: block;
	}
}

@media screen and (min-width: 1060px) {
	#layout-main div.main_all div.calendar .g_bubble.box.no5 {
		display: block;
	}
}

@media screen and (min-width: 1230px) {
	#layout-main div.main_all div.calendar .g_bubble.box.no6 {
		display: block;
	}
}

@media screen and (min-width: 1400px) {
	#layout-main div.main_all div.calendar .g_bubble.box.no7 {
		display: block;
	}
}

@media screen and (min-width: 1570px) {
	#layout-main div.main_all div.calendar .g_bubble.box.no8 {
		display: block;
	}
}

@media screen and (min-width: 1750px) {
	#layout-main div.main_all div.calendar .g_bubble.box.no9 {
		display: block;
	}
}

@media screen and (min-width: 1910px) {
	#layout-main div.main_all div.calendar .g_bubble.box.no10 {
		display: block;
	}
}

/*hints*/
#layout-main div.main_all div.myhints {
	margin-bottom: 0.5em;
}

#layout-main div.main_all div.myhints h2 {
	margin-left: 0.3em;
	margin-right: 0.3em;
}

#layout-main div.main_all div.myhints div.container {
	margin-top: -0.5em;
}

.internet_explorer#anidb #layout-main div.main_all div.myhints div.container {
	-ms-justify-content: flex-start;
	justify-content: flex-start;
}

@media screen and (max-width: 1350px) {
	#layout-main div.main_all div.myhints .g_bubble.stripe {
		max-width: none;
	}
}

@media screen and (min-width: 1350px) {
	#layout-main div.main_all div.myhints .g_bubble.stripe {
		max-width: calc(33% - 7px);
	}

	#layout-main div.main_all div.myhints .g_bubble.stripe.no7,
	#layout-main div.main_all div.myhints .g_bubble.stripe.no8 {
		display: none;
	}
}

@media screen and (min-width: 1580px) {
	#layout-main div.main_all div.myhints .g_bubble.stripe {
		max-width: calc(25% - 11px);
	}

	#layout-main div.main_all div.myhints .g_bubble.stripe.no7,
	#layout-main div.main_all div.myhints .g_bubble.stripe.no8 {
		display: block;
	}
}

/*latest*/
#layout-main div.main_all div.latest {
	margin-bottom: 1em;
}

#layout-main div.main_all div.latest > div {
	margin: 0px 0.5em;
	min-width: 45em
}

#layout-main div.main_all div.latest div.container {
	height: calc(100% - 3.6em);
	box-sizing: border-box;
}

@media screen and (max-width: 800px) {
	#layout-main div.main_all div.latest.g_bubblewrap {
		overflow: auto;
		-ms-justify-content: flex-start;
		-webkit-justify-content: flex-start;
		-moz-justify-content: flex-start;
		justify-content: flex-start;
	}
}

@media screen and (max-width: 500px) {
	#layout-main div.main_all div.latest > div {
		min-width: 0;
	}
}

/*top5 lists*/
#layout-main div.main_all div.datablocks {
	margin-bottom: 0;
}

#layout-main div.main_all div.datablocks > div {
	margin: 0 0.5em 1em;
	width:100%;
	max-width: 400px;
	max-width: calc(50% - 11px);
}

#layout-main div.main_all div.datablocks .g_bubble.stripe {
	width:100%;
	margin: 0;
	min-height: 8em;
}

#layout-main div.main_all div.datablocks .g_bubble.stripe + .g_bubble.stripe {
	margin-top: 1em;
}

#layout-main div.main_all div.datablocks div.similaranime div.stripe div.data {
	margin:0.5em 6em;
}

#layout-main div.main_all div.datablocks div.similaranime div.image.other {
	float:right;
}

@media screen and (max-width: 1000px) {
	#layout-main div.main_all div.datablocks > div {
		max-width: none;
	}

	#layout-main div.main_all div.datablocks .g_bubble.stripe {
		max-width: none;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1350px) {
	#layout-main div.main_all div.datablocks > div {
		max-width: calc(50% - 11px);
	}

	#layout-main div.main_all div.datablocks .g_bubble.stripe {
		max-width: none;
	}
}

@media screen and (min-width: 1350px) {
	#layout-main div.main_all div.datablocks > div {
		max-width: calc(33% - 7px);
	}

	#layout-main div.main_all div.datablocks > div:last-child {
		display: none;
	}
}

@media screen and (min-width: 1580px) {
	#layout-main div.main_all div.datablocks > div {
		max-width: calc(25% - 11px);
	}

	#layout-main div.main_all div.datablocks > div:last-child {
		display: block;
	}
}

/*login/registration*/
#layout-main div.main_all div.news.forum div.what {
	min-width: 58em;
}

#layout-main div.main_all div.account {
	float:right;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	width: 23em;
}

#layout-main div.main_all div.account ul.tabs {
	margin-bottom:-2px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

#layout-main div.main_all div.account ul.tabs li {
	width: 50%;
	padding: 0.25em 0.5em;
	display: block;
}

#layout-main div.main_all div.account ul.tabs li + li {
	margin-left: 0.5em;
}

#layout-main div.main_all div.account ul.tabs li a {
	display: block;
}

#layout-main div.main_all div.account table {
	margin:0;
	padding:0.5em 0;
	width: 100%;
}

#layout-main div.main_all div.account table th {
	display:none;
}

#layout-main div.main_all div.account div.login input[type="password"],
#layout-main div.main_all div.account div.login input[type="text"] {
	padding: 8px;
	width: calc(100% - 1.5em);
}

#layout-main div.main_all div.account div.login button {
	padding: 8px;
	width: 10em;
	height: auto;
}

@media screen and (max-width: 500px) {
	#layout-main div.main_all div.account {
		width: 100%;
	}
}

/*about anidb*/
#layout-main div.main_all div.about > div {
	text-align: left;
}

#layout-main div.main_all div.about div.g_section {
	clear: none;
}

#layout-main div.main_all div.about ul {
	list-style-type:disc;
	padding-left:1.5em;
}

#layout-main div.main_all div.about ul li {
	padding-top:0.25em;
}