#layout-main div.mydb_all table,
#layout-main div.modlatest_all table,
#layout-main div.mydb_all table td.name,
#layout-main div.modlatest_all table td.name,
#layout-main div.mydb_all table.relations.tagentityrel td.name,
#layout-main div.modlatest_all table.relations.tagentityrel td.name {
	width: 100%;
}

#layout-main div.mydb_all table td,
#layout-main div.modlatest_all table td {
	padding: 0.1em 0.5em;
	min-width: 10em;
}

#layout-main div.mydb_all table.names td.name,
#layout-main div.modlatest_all table.names td.name,
#layout-main div.mydb_all table.relations td.name,
#layout-main div.modlatest_all table.relations td.name {
	width: 50%;
}

#layout-main div.mydb_all table td.info.icons,
#layout-main div.modlatest_all table td.info.icons,
#layout-main div.mydb_all table td.user,
#layout-main div.modlatest_all table td.user {
	min-width: 15em;
}

#layout-main div.mydb_all table td.id,
#layout-main div.modlatest_all table td.id,
#layout-main div.mydb_all table td.ep,
#layout-main div.modlatest_all table td.ep,
#layout-main div.mydb_all table td.eps,
#layout-main div.modlatest_all table td.eps,
#layout-main div.mydb_all table td.epno,
#layout-main div.modlatest_all table td.epno,
#layout-main div.mydb_all table td.lang,
#layout-main div.modlatest_all table td.lang,
#layout-main div.mydb_all table td.verified,
#layout-main div.modlatest_all table td.verified {
	min-width: 5em;
}

#layout-main div.mydb_all table td.year,
#layout-main div.modlatest_all table td.year,
#layout-main div.mydb_all table td.aired,
#layout-main div.modlatest_all table td.aired,
#layout-main div.mydb_all table td.date,
#layout-main div.modlatest_all table td.date {
	min-width: 8em;
}

#layout-main div.mydb_all table td.type,
#layout-main div.modlatest_all table td.type,
#layout-main div.mydb_all table td.group:not(.name),
#layout-main div.modlatest_all table td.group:not(.name) {
	white-space: nowrap;
}

#layout-main div.mydb_all table td.type,
#layout-main div.modlatest_all table td.type {
	text-align: left;
}

#layout-main div.mydb_all table td.length,
#layout-main div.modlatest_all table td.length {
	text-align: right;
}