#layout-main div.msg_all div.header div {
	clear:none;
	float:left;
}

#layout-main div.msg_all div.header {
	margin-bottom: 1em;
	padding:0.5em 1em;
}

#layout-main div.msg_all div.header div {
	display:block;
	height:1%;
	margin:0;
	overflow:hidden;
}

#layout-main div.msg_all div.forum div.topic_actions {
	margin-top:0;
	margin-bottom:1em;
}

#layout-main div.msg_all div.forum ul.topiclist div.to,
#layout-main div.msg_all div.forum ul.topiclist div.type,
#layout-main div.msg_all div.forum ul.topiclist div.read {
	text-align:center;
	width:10%;
}

#layout-main div.msg_all div.forum ul.topiclist div.check {
	text-align:center;
	width:2.5em;
}

#layout-main div.msg_all div.forum ul.topics div.check {
	padding-left:0;
}

#layout-main div.msg_all div.forum div.topic_actions {
	margin-bottom:2em;
	margin-top:0;
}

#layout-main div.msg_all div.forum div.topic_actions div.buttons > * {
	float:left;
}

#layout-main div.msg_all div.forum div.topic_actions div.buttons ul {
	margin-bottom: 0;
}

#layout-main div.msg_all div.forum div.topic_actions div.buttons ul li {
	margin-top: 0;
}
