#layout-main div.mylist_all table.animelist th.title {
	width:98%;
}

#layout-main div.mylist_all table.animelist table.eplist,
#layout-main div.mylist_all table.animelist table.filelist {
	width: 100%;
	padding: 0px 0.5em;
}

#layout-main div.mylist_all table.eplist tr.action td.submit,
#layout-main div.mylist_all table.filelist tr.action td.submit {
	text-align: left;
	padding: 0.5em;
}

/*opera fix for linebreaks in mylist */
#layout-main div.mylist_all td.stats {
	white-space: nowrap;
}

#layout-main div.mylist_all div.filter_menu div.settings {
	margin-top: 0.5em;
}

#layout-main div.mylist_all td.rating,
#layout-main div.mylist_all td.stats,
#layout-main div.mylist_all td.vote {
	padding-left:1em;
	padding-right:1em;
}

#layout-main div.mylist_all td.stats {
	min-width:6em;
}

#layout-main div.mylist_all td.rating,
#layout-main div.mylist_all td.vote {
	min-width:4em;
	text-align:left;
}

#layout-main div.mylist_all td.type {
	padding-left:4px;
	padding-right:4px;
	white-space:nowrap;
}

#layout-main div.mylist_all table.eplist th {
	padding: 0 1em;
}

@media screen and (max-width: 950px) {
	#layout-main div.mylist_all .mylist_list > form {
		overflow: auto;
	}
}