#layout-main div.mynotifies_all table.mynotifies_list,
#layout-main div.mynotifies_all div.mynotifies_list table,
#layout-main div.mynotifies_all .mynotifies_history table {
	width: 100%
}

#layout-main div.mynotifies_all tr th,
#layout-main div.mynotifies_all tr td {
	padding-left:0.5em;
	padding-right:0.5em;
}

#layout-main div.mynotifies_all table .action td {
	padding: 1em 0;
}

#notification_edit table {
	width:100%;
}

@media screen and (max-width: 1000px) {
	#layout-main div.mynotifies_all .mynotifies_list {
		overflow: auto;
	}
}