/*menu*/
#layout-main div.userpage_all div.g_menu.right,
#layout-main div.userpage_all div.g_menu.left {
	float: left;
	clear: left;
	width: 20em;
}

#layout-main div.userpage_all div.g_menu > div.user > div a {
	display: block;
}

#layout-main div.userpage_all div.g_menu > div.user > div span.v_high {
	float: right;
}

#layout-main div.userpage_all div.userdetails .block div table,
#layout-main div.userpage_all div.history table,
#layout-main div.userpage_all div.stats table {
	width: 100%;
}

#layout-main div.userpage_all div.userdetails .block div table th {
	width: 7em;
}

/*main block data*/
#layout-main div.userpage_all.sidebar > .g_section.resized,
#layout-main div.userpage_all > div.g_section {
	clear: none;
	width: auto;
	margin-left: 21em;
	float: none;
}

#layout-main div.userpage_all > .g_section:not(.info) {
	margin: 0em 0.5em 1.5em;
}

#layout-main div.userpage_all > .g_section.tabbed_pane:not(.hidden) {
	margin: 2.5em 0.5em 1.5em;
}

/*badges*/
#layout-main div.userpage_all .g_section.achievements > .container > .container {
	margin: 0.5em;
}

#layout-main div.userpage_all .g_section.achievements .g_bubblewrap > .badge {
	-ms-flex-grow: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	flex-grow: 0;
	margin: 0.1em;
}

/*discussions*/
#layout-main div.userpage_all .g_section.discussions div.g_definitionlist {
	padding: 0.5em;
}

#layout-main div.userpage_all .g_section.discussions div.g_definitionlist table {
	width: 100%;
}

@media screen and (max-width: 1500px) {
	#layout-main div.userpage_all div.g_menu.left div.info {
		display: none;
	}

	#layout-main div.userpage_all > .g_section.info {
		display: block;
	}
}

@media screen and (min-width: 1500px) {
	#layout-main div.userpage_all.sidebar .g_section.info,
	#layout-main div.userpage_all.sidebar div.block,
	#layout-main div.userpage_all.sidebar div.block > div.image,
	#layout-main div.userpage_all.sidebar div.block > div.data {
		width: 24em;
	}

	#layout-main div.userpage_all.sidebar div.block {
		margin-top: 0;
	}

	#layout-main div.userpage_all div.g_menu.left div.info {
		display: block;
	}

	#layout-main div.userpage_all > .g_section.info {
		display: none;
	}

	#layout-main div.userpage_all div.g_menu.right {
		float: right;
		clear: right;
		width: 15em;
	}

	#layout-main div.userpage_all div.g_menu.left {
		width: 24em;
	}

	#layout-main div.userpage_all.sidebar > .g_section,
	#layout-main div.userpage_all > .g_section {
		margin-left: 25em;
		margin-right: 16em;
	}

	#layout-main div.userpage_all.sidebar > .g_section.resized,
	#layout-main div.userpage_all > .g_section.resized {
		margin-left: 25em;
		margin-right: 0;
	}

	#layout-main div.userpage_all.sidebar > .g_section.full,
	#layout-main div.userpage_all > .g_section.full {
		margin-left: 0;
		margin-right: 0;
	}
}