/*menu*/
#layout-main div.userpage_all div.g_menu {
	clear: left;
	float: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 19em;
}

#layout-main div.userpage_all div.g_menu.user > div + div,
#layout-main div.userpage_all div.latest div + div,
#layout-main div.userpage_all div.stats div + div,
#layout-main div.userpage_all div.g_menu div + div {
	margin-top: 1em;
}

#layout-main div.userpage_all div.g_menu.user > div a {
	display: block;
}

#layout-main div.userpage_all div.g_menu.user > div span.v_high {
	float: right;
}

/*badges*/
#layout-main div.userpage_all .g_section.achievements > .container {
	margin-bottom: 2em;
}

#layout-main div.userpage_all .g_section.achievements .g_bubblewrap > .badge {
	-ms-flex-grow: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	flex-grow: 0;
	margin: 0.25em;
}

/*discussions*/
#layout-main div.userpage_all .g_section.discussions table {
	padding: 0.5em;
    width: 100%;
}