/*menu*/
#layout-main div.userpage_all div.g_menu {
	float: left;
	clear: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 24em;
}

#layout-main div.userpage_all div.g_menu.user > div a {
	display: block;
}

#layout-main div.userpage_all div.g_menu.user > div span.v_high {
	float: right;
}

#layout-main div.userpage_all div.userdetails .block div table,
#layout-main div.userpage_all div.history table,
#layout-main div.userpage_all div.stats table {
	width: 100%;
}

#layout-main div.userpage_all div.userdetails .block div table th {
	width: 7em;
}

/*main block data*/
#layout-main div.userpage_all > div.g_section {
	clear: none;
}

/*badges*/
#layout-main div.userpage_all .g_section.achievements > .container >  .container {
	margin-bottom: 2em;
}

#layout-main div.userpage_all .g_section.achievements .g_bubblewrap.g_bubble {
	padding:1em;
	margin: 0.5em;
}

#layout-main div.userpage_all .g_section.achievements .g_bubblewrap > .badge {
	-ms-flex-grow: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	flex-grow: 0;
	margin: 0.5em;
}

/*discussions*/
#layout-main div.userpage_all .g_section.discussions table {
	padding: 0.5em;
	width: 100%;
}