#layout-main div.myrecs_all .g_bubble.stripe.recommendation {
	position: relative;
}

#layout-main div.myrecs_all .g_bubble.stripe.recommendation > div.author {
	bottom: 0;
	position: absolute;
	margin: 0.5em 0.5em 0.5em 6em;
}