#layout-main div.myreviews_all table.animelist {
	width: 100%;
}

#layout-main div.myreviews_all table.animelist td {
	min-width: 5em;
}

#layout-main div.myreviews_all table.animelist td.name {
	width: 90%;
}