#layout-main div.search_all div.fullsearch_form tr.entity td,
#layout-main div.search_all div.fullsearch_form tr.field td {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-content: flex-start;
	-moz-align-content: flex-start;
	-ms-align-content: flex-start;
	align-content: flex-start;
	-webkit-flex-flow: column wrap;
	-moz-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	height: 5em;
}

#layout-main div.search_all div.fullsearch_form tr.field td {
	height: 2em;
}

#layout-main div.search_all div.fullsearch_form tr.restricted td {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

#layout-main div.search_all div.fullsearch_form label {
	width: 15em;
}

#layout-main div.search_all table.search_results {
	width: 100%;
}

#layout-main div.search_all table.search_results td.type,
#layout-main div.search_all table.search_results td.score {
	width:10em;
	text-align: left;
}

#layout-main div.search_all #atags_include,
#layout-main div.search_all #atags_exclude,
#layout-main div.search_all #ctags_include,
#layout-main div.search_all #ctags_exclude,
#layout-main div.search_all #etags_include,
#layout-main div.search_all #etags_exclude {
	width: 50em;
}

#layout-main div.search_all input.focus {
	border-radius: 5px 5px 0 0;
}

#layout-main div.search_all div.suggestions {
	margin:0; 
	padding:0;
	overflow:auto;
	z-index: 10;
	max-height: 15em;
}

#layout-main div.search_all div.suggestions span {
	margin:0px;
	padding:2px 4px;
	display: block;
}

@media screen and (max-width: 1000px) {
	#layout-main #tagtree div.tag-column .tag-block,
	#layout-main div.search_all #atags_include,
	#layout-main div.search_all #atags_exclude,
	#layout-main div.search_all #ctags_include,
	#layout-main div.search_all #ctags_exclude,
	#layout-main div.search_all #etags_include,
	#layout-main div.search_all #etags_exclude {
		width: 100%;
	}
}