#layout-main div.signup_all div.signup {
	max-width: 56em;
	margin-left:auto;
	margin-right:auto;
}

#layout-main div.signup_all li {
	font-style: italic;
}

#layout-main div.signup_all td {
	padding: 4px 8px;
}

#layout-main div.signup_all th {
	min-width: 17em;
	max-width: 17em;
	white-space: normal;
}

#layout-main div.signup_all input[type="password"],
#layout-main div.signup_all input[type="text"] {
	width: 28em;
	padding: 8px;
}

#layout-main div.signup_all .verify_sanity label,
#layout-main div.signup_all ul {
	display: block;
	padding: 4px 0;
}

#layout-main div.signup_all button {
	margin: 0.5em;
	padding: 8px;
	width: 10em;
	height: auto;
}