#layout-main div.song_all div.info div.tabbed_pane {
	min-width:50em;
	max-width:50%;
	margin-left:auto;
	margin-right:auto;
}

#layout-main div.song_all table {
	width: 100%;
}

#layout-main div.song_all div.info table th {
	width:10em;
}

#layout-main div.song_all  table.stafflist td.creator > a {
	display: block;
}

@media screen and (min-width: 1500px) {
	#layout-main div.song_all.sidebar div.info div.tabbed_pane {
		min-width: unset;
		max-width: unset;
	}
}