#layout-main div.userlist_all table.userlist {
	width: 100%
}

#layout-main div.userlist_all table.userlist td.user a.i_icon {
	float:right;
}

#layout-main div.userlist_all table.userlist tr td {
	text-align: right
}

#layout-main div.userlist_all table.userlist tr td.name {
	text-align: left
}