#layout-main div.anime_all div.groups td.mylist:before {
	content: "* ";
}

#layout-main div.anime_all div.groups td.mylist:after {
	content: " *";
}

#layout-main tr.rating td.value span.myvote:not(:empty):before {
	content: ", ";
}

#layout-main span.myvote > a:before {
	content: '['
}

#layout-main span.myvote > a:after {
	content: ']'
}

#layout-main .g_section.info .g_definitionlist tr.resources td.value a + span.morelinks:before,
#layout-main .g_section.info .g_definitionlist tr.resources td.value a + a:before,
#layout-main .g_bubble.stripe.review > div.data div.votes div.rating span.value:after {
	content: ", ";
}