#layout-main div.anime_all div.groups td.mylist:before {
	content: "* ";
}

#layout-main div.anime_all div.groups td.mylist:after {
	content: " *";
}

tr.rating td.value span.myvote:before {
	content: ", ";
}