#layout-main div.anime_all div.groups td.mylist:before {
	content: "* ";
}

#layout-main div.anime_all div.groups td.mylist:after {
	content: " *";
}

#layout-main tr.rating td.value span.myvote:not(:empty):before {
	content: ", ";
}

#layout-main span.myvote > a:before {
	content: '['
}

#layout-main span.myvote > a:after {
	content: ']'
}