#anidb:not(.nodropdownmenu) #layout-menu {
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	background-color: #34394D;
}

#anidb:not(.nodropdownmenu) #layout-menu li.sub-menu span.tab {
	color: #DDDDDD !important;
}

#anidb:not(.nodropdownmenu) #layout-menu li.sub-menu + li.sub-menu {
	border-left: 1px solid #999 !important;
}

#anidb:not(.nodropdownmenu) #layout-menu li.sub-menu:hover {
	background-color: #58636E;
}

#anidb:not(.nodropdownmenu) #layout-menu li.sub-menu:hover span.tab {
	color: #C0DAF0 !important;
}