#anidb div.block {
	width: 100%;
	margin-top: 0.5em;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
}

#anidb div.block > div.image {
	min-width: 400px;
	text-align: center;
	margin-right: 1em;
	margin-left: 1.5em;
}

#anidb div.block > div.data {
	margin-right: 1em;
	min-width: 50%;
	z-index: 1;
}

#anidb .css_style + p {
	clear: left;
}

#anidb div.block + div.g_bubble.desc,
#anidb div.g_section.desc {
	margin: 1em 0;
	padding: 1em;
}

#anidb div.block div.data table {
	width:100%;
	margin: 0;
}

#anidb div.block div.data table th {
	width: 10em;
}

/*popup*/
#anidb > .fancybox-wrap div.block > div.image {
	min-width: 0;
	min-height: 225px;
	width: 150px;
	margin-left: 1em;
}

#anidb > .fancybox-wrap div.block > div.data {
	min-width: 400px;
	width: calc(100% - 185px);
}

#anidb > .fancybox-wrap div.info.popup > h2,
#anidb > .fancybox-wrap div.info.popup > h4 {
	display: none;
}

/*extra data*/
#layout-main div.info div.extra {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

#layout-main div.info div.extra > div {
	margin: 0.4em;
	padding: 4px;
	width: 100%;
	position: relative;
}

#layout-main div.info div.extra div h2 {
	text-align: left;
}

@media screen and (max-width: 1200px) {
	#layout-main div.info div.extra {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 950px) {
	#layout-main div.info div.extra > div {
		margin: 0.5em 0;
	}

	#layout-main .g_section.info {
		margin-top: 2em;
	}

	#layout-main .g_section.info > h4 {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	#layout-main .g_section.info,
	#layout-main .g_section.info div.block,
	#layout-main .g_section.info div.block > div.data,
	#layout-main .g_section.info div.block > div.image {
		min-width: 0;
		width: 100%;
	}

	#layout-main .g_section.info div.block {
		flex-wrap: wrap;
	}

	#layout-main .g_section.info div.block > div.data {
		margin-top: 1em;
		margin-right: 0;
	}

	#layout-main .g_section.info div.block > div.image {
		margin: 0;
		overflow: hidden;
	}

	#layout-main .g_section.info div.block > div.image img {
		max-width: 100%;
	}

	#layout-main .g_section.info .tabbed_pane {
		margin: 0;
	}

	#layout-main .g_section.info .g_image.missing {
		display: none;
	}
}

@media screen and (max-width: 550px) {
	#layout-main .g_section.info {
		margin-top: 0;
	}
}

@media screen and (max-width: 450px) {
	#layout-main .g_section.info .g_image {
		max-width: 100%;
		height: auto;
		width: auto;
	}
}