#anidb div.block {
	width: 100%;
	margin-top: 0.5em;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
}
#anidb div.block > div.image {
	min-width: 400px;
	text-align: center;
	margin-right: 1em;
	margin-left: 1.5em;
}
#anidb div.block > div.data {
	margin-right: 1em;
	min-width: 400px;
	width: 50%;
}
#anidb .css_style + p {
	clear: left;
}

#anidb div.block + div.g_bubble.desc,
#anidb div.g_section.desc {
	margin: 1em 0;
	padding: 1em;
}

#anidb div.block div.data table {
	width:100%;
	margin: 0;
}

#anidb div.block div.data table th {
	width: 10em;
}

/*popup*/
#anidb > .fancybox-wrap div.block > div.image {
	min-width: 0;
	width: 150px;
}

#anidb > .fancybox-wrap div.block > div.data {
	min-width: 400px;
	width: 100%;
}