#layout-main div.block
{
	width: 100%;
	margin-top: 0.5em;
	display: flex;
	justify-content: center;
}
#layout-main div.block > div.image
{
	min-width: 40em;
	text-align: center;
	margin-right: 1em;
	margin-left: 1.5em;
}
#layout-main div.block > div.data
{
	margin-right: 1em;
	min-width: 55em;
}
#layout-main .css_style + p
{
	clear: left;
}
#layout-main div.block + div.desc
{
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 1em;
	padding: 1em;
}

#layout-main div.block div.data table
{
	width:100%;
	margin: 0;
}

#layout-main div.block div.data table th
{
	width: 10em;
}