#layout-main ul.g_list {
	clear: both;
	text-align: center;
	min-height: 1.4em;
}

#layout-main .g_definitionlist th,
#layout-main ul.g_list.nav {
	text-align: left;	
}

#layout-main ul.g_list li {
	display: inline;
}

#layout-main ul.jump li.prev {
	float: left;
}

#layout-main ul.jump li.next {
	float: right;
}

#layout-main table + ul.jump {
	margin-top: 1em;
}

#layout-main ol.g_styledlist {
	list-style-type: decimal;
	margin-left: 1em;
}
#layout-main ul.g_styledlist {
	list-style-type: disc;
	margin-left: 1em;
}

/*ul/ol/li bb code*/
#layout-main li.g_styledlist {
	margin-left: 1em;
}
#layout-main ol.g_styledlist {
	list-style-type: decimal;
}
#layout-main ul.g_styledlist {
	list-style-type: disc;
}

#layout-main .g_styledlist {
	margin-left: 2em;
}

#layout-main ol.g_styledlist > li,
#layout-main ul.g_styledlist > li {
	margin-left: 0;
}