#loading {
	background: #000 url("/icons/jquery.fancybox/fancybox_loading.gif") no-repeat scroll center center;
	border-radius: 5px;
	position: fixed;
	top: 50%;
	left: 50%;
}

#overlay {
	background: transparent url("/icons/jquery.fancybox/fancybox_overlay.png") repeat scroll 0% 0%;
	position: fixed;
	z-index: 10000;
	top: 0;
	bottom: 0;
	right: 0;
	left:0;
}