#imagepreview {
	position: absolute;
	padding: 5px;
	z-index: 1000;
}

#imagepreview img {
	max-width: initial !important;
	max-height: initial !important;
	width: auto !important;
	height: auto !important;
}