#layout-search ul.quicksearch
{
	margin:0; 
	max-height: 100px;
	padding:0;
	overflow:auto;
	position: relative;
	list-style-type:none;
	width: calc(100% - 86px);
	z-index: 10;
}

#layout-search ul.quicksearch li
{
	margin:0px;
	padding:2px;
	cursor: pointer;
}

#layout-search ul.quicksearch
{
	margin: 0 0 0 4px;
	position: absolute;
	width: 375px;
}

#layout-search ul.quicksearch li:last-child
{
	text-align:center;
}

#layout-search select,
#layout-search input.text
{
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 18px;
}

#layout-search select
{
	height: 18px;
	padding: 3px;
}