#layout-search ul.quicksearch {
	margin: -2px 0 0;
	max-height: 40em;
	padding:0;
	overflow-y: auto;
	position: relative;
	list-style-type:none;
	width: calc(100% - 86px);
	z-index: 10;
}

#layout-search ul.quicksearch li {
	margin:0px;
	padding:2px;
	cursor: pointer;
}
#layout-search ul.quicksearch li:last-child {
	text-align:center;
}

#layout-search ul.quicksearch .g_bubble.stripe {
	display: block;
	border-left: none;
	border-right: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin-top:-1px;
	margin-bottom: 0;
	width:100%;
	min-height: 6.4em;
	box-sizing: border-box;
}

#layout-search ul.quicksearch .g_bubble.stripe > div.data div.name {
	margin-right: 0;
}

#layout-search ul.quicksearch .g_bubble.stripe div.image {
	padding: 0.4em;
}

#layout-search ul.quicksearch.songlist .g_bubble.stripe {
	min-height: 4.4em;
}

#layout-search ul.quicksearch.songlist .g_bubble.stripe div.image {
	display: none;
}

#layout-search ul.quicksearch.songlist .g_bubble.stripe > div.data {
	margin: 0.5em;
}

#layout-search ul.quicksearch .g_bubble.stripe.note {
	min-height: 0 !important;
}

#layout-search select,
#layout-search input.text {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 18px;
}

#layout-search select {
	height: 18px;
	padding: 3px;
	margin: 0;
	width: 94px;
}

#layout-search select,
#layout-search input {
	position: relative;
	z-index: 100;
}

@media screen and (max-width: 950px) {
	#layout-search ul.quicksearch {
		margin: 0.1em 0 0 1.9em !important;
		max-width: 500px;
	}

	#layout-search ul.quicksearch .g_bubble.stripe {
		max-width: unset;
	}
}

@media screen and (max-width: 500px) {
	#layout-search ul.quicksearch {
		width: calc(100% - 2em);
	}

	#layout-search ul.quicksearch .g_bubble.stripe {
		max-width: 500px;
	}
}