#layout-search ul.quicksearch {
	margin:0; 
	margin-top: -1px;
	max-height: 40em;
	padding:0;
	overflow-y: auto;
	position: relative;
	list-style-type:none;
	width: calc(100% - 86px);
	z-index: 10;
}

#layout-search ul.quicksearch li
{
	margin:0px;
	padding:2px;
	cursor: pointer;
}

#layout-search ul.quicksearch li:last-child
{
	text-align:center;
}

#layout-search ul.quicksearch .g_bubble.stripe {
	display: list-item;
	width:auto;
	border-left: none;
	border-right: none;
	border-radius: unset;
	margin-top:-1px;
	margin-bottom: 0;
}

#layout-search ul.quicksearch .g_bubble.stripe > div.data div.name {
	margin-right: 0;
}

#layout-search ul.quicksearch .g_bubble.stripe {
	min-height: 60px;
}

#layout-search ul.quicksearch .g_bubble.stripe.note {
	min-height: unset;
}

#layout-search select,
#layout-search input.text
{
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 18px;
}

#layout-search select
{
	height: 18px;
	padding: 3px;
}