@media screen and (min-width: 1500px) {
	#layout-main .sidebar .g_section.info {
		float: left;
		margin-bottom: 2em;
	}

	#layout-main .sidebar .g_section.info > h4 {
		display: none;
	}

	#layout-main .sidebar.g_content .g_section.info > div.edit_actions {
		width: 100%;
		height: auto;
		margin-right: 0;
	}

	#layout-main .sidebar .g_section.info,
	#layout-main .sidebar div.block,
	#layout-main .sidebar div.block > div.image,
	#layout-main .sidebar div.block > div.data {
		min-width: 0;
		width: 40.5em;
	}

	#layout-main .sidebar div.block {
		flex-wrap: wrap;
	}

	#layout-main .sidebar div.block > div.data {
		margin-top: 1em;
		margin-right: 0;
	}

	#layout-main .sidebar div.block > div.image {
		margin: 0;
	}

	#layout-main .sidebar div.block > div.image img {
		max-width: 40em;
	}

	#layout-main .sidebar .g_section.info .tabbed_pane {
		margin: 0;
	}

	#layout-main .sidebar .g_section.info {
		margin-top: 2.5em;
	}

	#layout-main .sidebar > .g_section.resized,
	#layout-main .sidebar > .creator_entry > .g_section.resized,
	#layout-main .sidebar > .character_entry > .g_section.resized {
		width: calc(100% - 42em);
		clear: none;
		float: right;
		box-sizing: border-box;
	}

	#layout-main .sidebar > .g_section.resized.tabbed_pane:not(.hidden),
	#layout-main .sidebar > .creator_entry > .g_section.resized.tabbed_pane:not(.hidden),
	#layout-main .sidebar > .character_entry > .g_section.resized.tabbed_pane:not(.hidden) {
		margin: 1em 0 1.5em;
	}

	#layout-main .sidebar .g_section.info + .g_section.resized.tabbed_pane {
	    margin-top: 0;
	}

	#layout-main .sidebar .g_section.info div.data .g_definitionlist th {
		min-width: 8.8em;
	}

	#layout-main .sidebar .g_section.info div.data .g_definitionlist td.list,
	#layout-main .sidebar .g_section.info div.data .g_definitionlist td.type {
		width: auto;
		padding: 2px 8px;
	}

	#layout-main .sidebar .g_section.info div.data .g_definitionlist td {
		width: 100%;
		padding-right: 0;
	}

	#layout-main .sidebar .g_section.mylist_status.vote_status.resized .voteoption {
		width: 100%;
	}
}

#layout-main .g_section.vote_status .container {
	box-sizing: border-box;
}