/*Bubble Tooltip*/
.tooltip {
	position: relative;
}

/*fix for tooltips in lightboxes*/
.fancybox-wrap .tooltip:hover span.wrapper {
	position: fixed;
}

.tooltip span.text {
	display:none;
	left: -100px;
	line-height: 16px;
	margin-top: 50px;
	padding: 1em;
	position: absolute;
	text-align: justify;
	white-space: normal;
	width: 240px;
	word-wrap: normal;
	z-index: 1000;
}

.tooltip:hover span.text {
	display:inline;
}

.tooltip span.text:after,
.tooltip span.text:before {
	bottom: 100%;
	height: 0;
	width: 0;
	position: absolute;
	left: 50%;
	content: " ";
	pointer-events: none;
}

.tooltip span.text:after {
	margin-left: -10px;
}
.tooltip span.text:before {
	margin-left: -13px;
}


/*similar anime comments*/
.g_bubble.stripe > .data .tooltip {
	position: initial;
}

.g_bubble.stripe > .data .tooltip span.text {
	width: calc(100% - 4em);
	left: 0;
	margin: 2em 2em 0;
}

.g_bubble.stripe.medium > .data .tooltip span.text {
	width: calc(100% - 6em);
}

.g_bubble.stripe > .data .tooltip span.text.comments {
	padding: 0;
}

.g_bubble.stripe > .data .tooltip span.text.comments div.postbody {
	margin: 1em;
}

.g_bubble.stripe > .data .tooltip span.text.comments div.postbody p.author {
	padding: 0.5em 0.5em 0px;
}

.tooltip span.text.comments div.postbody div.content {
	padding:0.5em;
}