@import "../zakura/zakura.css";

/*layout*/
#layout-menu {
    padding-top: 178px;
}

#layout-menu #menu-account {
	height: 166px;
}

#layout-menu #menu-account li a {
	height: 25px;
}

#layout-hint + #layout-nav #layout-menu #menu-account {
	top: 1.8em;
}

/*border*/
#layout-menu li.sub-menu ul li + li,
#layout-menu #menu-account li {
	border: none !important;
}

/*color*/
#layout-menu #menu-account li a,
#layout-menu #menu-account li a:link,
#layout-menu #menu-account li a:visited,
#layout-menu #menu-account li a:active,
#layout-menu #menu-account li a:hover,
#layout-menu #menu-account #user-logout a,
#layout-menu #menu-account #user-logout a:link,
#layout-menu #menu-account #user-logout a:visited,
#layout-menu #menu-account #user-logout a:active,
#layout-menu #menu-account #user-logout a:hover,
#layout-menu #menu-account .alert a,
#layout-menu #menu-account .alert a:link,
#layout-menu #menu-account .alert a:visited,
#layout-menu #menu-account .alert a:active,
#layout-menu #menu-account .alert a:hover {
	background: rgba(255,255,255,
0.5);
}

.g_bubble,
.g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.g_button a:hover,
a.button:hover,
a.confirmButton:hover,
button.button:hover,
button.confirmButton:hover,
button:hover,
div.g_odd,
html,
input.button:hover,
input.confirmButton:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
li.g_odd,
span.g_odd,
table table.filelist tr.g_odd,
tr.g_odd,
#layout-main,
#layout-main div.addtagentityrel_all div.suggestions > span.focus,
#layout-main div.addtagentityrel_all div.suggestions > span:hover,
#layout-main div.edit_actions span > *:hover,
#layout-main div.forum .g_bubble.infobox,
#layout-main div.forum div.g_bubble.header,
#layout-main div.forum div.g_bubble.navbar,
#layout-main div.forum div.g_bubble.options-box,
#layout-main div.forum div.g_bubble.posting-box,
#layout-main div.forum div.g_bubble.search,
#layout-main div.forum div.g_bubble.submit-box,
#layout-main div.forum div.g_bubble.threads,
#layout-main div.forum ul.topics li.g_odd.row,
#layout-main div.forum ul.topics li.g_odd.row,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-main div.search_all div.suggestions span:hover,
#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane_cfg div.body,
#layout-main div.tabbed_pane_cfg ul.tabs li.selected,
#layout-main div.tabbed_pane_cfg ul.tabs li:hover,
#layout-main div.userpage_all div.g_menu ul,
#layout-main div.userpage_all div.g_menu ul li.g_odd,
#layout-main div.votes_all div.graph div.group_odd,
#layout-main ul.g_list li.g_odd:hover,
#layout-main ul.g_list li.selected,
#layout-main ul.g_list li:hover,
#layout-search ul.quicksearch .g_bubble.stripe:hover,
#layout-search ul.quicksearch li.focus,
#layout-search ul.quicksearch li:hover,
#layout-tabs ul.main-tabs > li {
	background: #F5FAFF;
}

.g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_odd,
.g_odd .g_bubble,
input[type="password"]:focus,
input[type="password"]:hover,
input[type="text"]:focus,
input[type="text"]:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover,
#layout-main div.forum ul.topics li.row,
#layout-main div.search_all div.suggestions,
#layout-main div.tabbed_pane ul.tabs li,
#layout-search ul.quicksearch,
#layout-tabs ul.main-tabs > li.selected,
#layout-tabs ul.main-tabs > li:hover {
	background-color: #FFFFFF;
}

.g_bubble .name-colored,
.g_button a:hover,
.i_icon:hover,
a:hover,
button:hover,
h1 a:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
span.link:hover,
#layout-main a.filter:hover,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries a.name-colored,
#layout-main div.admin_all div.g_menu h4 span,
#layout-main div.chartag-list a:hover,
#layout-main div.cmt_entries a.username-colored,
#layout-main div.forum .g_bubble.infobox h3,
#layout-main div.forum a.topictitle:hover,
#layout-main div.forum a.username-colored,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-main div.search_all div.suggestions span:hover,
#layout-main div.tag-column a:hover,
#layout-main ul.g_list li:hover,
#layout-menu li.sub-menu span.tab {
    color: #2137AE !important;
}

#layout-main div.anime_all div.episodes table.filelist,
#layout-main div.mylist_all table.animelist table.filelist {
	background: #D3D7F3 url("images/stripe-dkblue.gif") repeat scroll left top;
}

#layout-main div.userpage_all div.g_menu ul li.g_odd:hover,
#layout-main div.userpage_all div.g_menu ul li:hover {
	background: transparent url("images/stripe-blue.gif") repeat scroll left top;
	color: #2D42AF !important;
}

th,
th a,
#layout-main div.forum div.g_bubble.threads,
#layout-main div.votes_all div.graph div.header,
#layout-main table tr.header,
#layout-main table tr.header th a {
	background-color: #305C97;
}