#layout-search div.search,
#layout-menu li.sub-menu ul li#user-logout a,
#layout-menu li.sub-menu ul li#user-xauth button,
#layout-main div.spoiler button.spoiler {
	background: none;
}

a,
a:visited,
a:active,
a:link,
th a,
.i_icon,
span.link,
h4 span.nolink a,
#layout-main a.filter,
#layout-main div.main_all div.account ul.tabs li.signup a {
	color: #105289;
}

.g_section > h2,
.g_section > form > h2,
select:hover,
select:focus,
textarea:hover,
textarea:focus,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus {
	border-color: #999999 !important;
}

a:hover,
span.link:hover,
.g_bubble .name-colored,
#layout-main div.main_all div.edit_actions span > *:hover,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries a.name-colored,
#layout-main div.main_all div.account ul.tabs li.signup:hover a,
#layout-main div.cmt_entries a.username-colored,
#layout-main div.forum a.topictitle:hover,
#layout-main div.forum a.username-colored,
#layout-menu li.sub-menu span.tab,
#layout-main div.forum .g_bubble.infobox h3 {
	color: #AA0000;
}

#layout-main div.cmt_all div.comment h4 {
	background-color: #969AA6;
}

#layout-main div.tabbed_pane ul.tabs li {
	background-color: #D3D5D9;
}

#layout-content {
	border-bottom-color:#7D7D7D;
	border-left-color:#9A9A9A;
	border-top-color:#9A9A9A;
}

table,
#layout-main div.info div.extra div table, {
	border-top-color: #DDDDDD;
}

button:hover,
span.test:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
#layout-main ul.g_list li:hover a,
#layout-main ul.g_list li.selected,
#layout-main ul.g_list li.selected:hover,
#layout-main ul.g_list li:hover,
#layout-main ul.g_list li.g_odd:hover,
#layout-main tr.header th.sortable:hover:not(.sorter-false),
#layout-main tr.header th.sortable:hover:not(.sorter-false) a,
#layout-menu li.user-xauth input[type="button"],
#layout-search .submit:hover,
#layout-main div.spoiler button.spoiler:hover,
*.g_button a:hover,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-main div.news h4,
#layout-main > h1,
#layout-main div.g_timedentry h4,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.info div.extra div h4,
#layout-main div.forum li.header div,
#layout-main div.search_all div.suggestions span:hover {
	color: #DDDDDD;
}

option,
table th,
#layout-menu a:link,
#layout-menu a:visited,
#layout-tabs ul.main-tabs li a,
#layout-main ul.g_list li a,
#layout-main div.pagination span a,
#menu-login li.user-xkeep label span,
#layout-search input,
#user-xname input,
#user-xpass input,
span.test,
button,
#layout-main ul.g_list li,
#layout-main ul.g_list li.g_odd,
input[type="button"],
input[type="submit"],
#layout-main table tr.header,
#layout-main div.votes_all div.graph div.header,
*.g_button a,
input[type="text"],
input[type="password"],
input.text,
textarea,
select,
#layout-search select,
#layout-search input.text,
#layout-main div.search_all div.suggestions {
	color: #CCCCCC;
}

#layout-main > h1 a,
#layout-main div.g_timedentry h4 a,
#layout-main div.g_timedentry p.comment a,
#layout-main div.g_timedentry p.comment,
#layout-main table tr.header a,
#layout-main div.animeatt_all div.review > h4 a,
#layout-main th > span.link,
#layout-main th > a:visited,
#layout-main th > a:active,
#layout-main th > a:link,
th .i_icon {
	color: #A2BFD7;
}

#layout-main table tr th > a:hover,
#layout-menu li:hover > a,
#layout-main > h1 a:hover,
#layout-main div.g_timedentry h4 a:hover,
#layout-main div.g_timedentry p.comment a:hover,
#layout-main div.animeatt_all div.review > h4 a:hover {
	color: #FFAA55;
}

button:hover,
span.test:hover,
*.g_button a:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
#layout-main ul.g_list li:hover a,
#layout-main ul.g_list li.selected,
#layout-main ul.g_list li.selected:hover,
#layout-main ul.g_list li:hover,
#layout-main ul.g_list li.g_odd:hover,
#layout-main tr.header th.sortable:hover:not(.sorter-false),
#layout-main tr.header th.sortable:hover:not(.sorter-false) a,
#layout-menu li.user-xauth input[type="button"],
#layout-search .submit:hover,
#layout-main div.spoiler button.spoiler:hover,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-main div.search_all div.suggestions span:hover {
	background-color:#58636E;
}

tr.g_odd,
li.g_odd,
span.g_odd,
div.g_odd,
.tooltip > span.text.g_bubble,
.g_bubble,
.g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
#layout-main div.votes_all div.graph div.group_odd,
#layout-main div.votes_all div.graph.eps div.g_odd,
#layout-main div.addtagentityrel_all #tag-list div.g_odd,
#layout-main div.forum div.g_bubble.search,
#layout-main div.forum div.g_bubble.navbar,
#layout-main div.forum div.g_bubble.posting-box,
#layout-main div.forum div.g_bubble.submit-box,
#layout-main div.forum div.g_bubble.options-box,
#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-main div.forum ul.topics li.g_odd.row,
#layout-main div.addtagentityrel_all div.suggestions > span.focus,
#layout-main div.addtagentityrel_all div.suggestions > span:hover {
	background-color: #B9BBBF;
}

html,
#layout-menu,
#layout-main div.format-buttons input,
#layout-main div.forum ul.topics li.row:hover,
#layout-main div.forum ul.topics li.g_odd.row:hover,
.g_definitionlist .g_odd .g_bubble,
.g_definitionlist .g_bubble .g_bubble,
.g_definitionlist .g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_odd {
	background-color: #B1B3B5;
}

.g_bubble .g_odd,
.g_odd .g_bubble,
.g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
#layout-main div.forum ul.topics li.row,
#layout-tabs ul.main-tabs li.selected,
#layout-tabs ul.main-tabs li:hover,
#layout-content,
body.nonav {
	background-color: #CFD1D4;
}

th,
th a,
input[type="button"],
input[type="submit"],
input[type="text"],
input[type="password"],
input.text,
textarea,
select,
span.test,
button,
*.g_button a,
.format-buttons select,
#layout-search input,
#user-xname input,
#user-xpass input,
#layout-tabs ul.main-tabs li,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.news h4,
#layout-main > h1,
#layout-main div.g_timedentry h4,
#layout-main ul.g_list li,
#layout-main ul.g_list li.g_odd,
#layout-main table tr.header,
#layout-main div.votes_all div.graph div.header,
#layout-menu li.sub-menu ul li#user-xpass:hover,
#layout-menu li.sub-menu ul li#user-xname:hover,
#layout-menu li.sub-menu ul li#user-xkeep:hover,
#layout-menu li.sub-menu ul li#user-xauth:hover,
#layout-main div.info div.extra div h4,
#layout-main div.spoiler button.spoiler,
#layout-search select,
#layout-search input.text,
#layout-menu li.sub-menu,
#layout-menu li.sub-menu ul,
#layout-main div.pagination span a,
#layout-main div.forum div.g_bubble.threads,
#layout-main div.search_all div.suggestions {
	background-color: #34394D;
}

#layout-main div.main_all div.account ul.tabs li.signup {
	background-color: #AA0000;
}

#menu-account li.alert a span:before,
#menu-account li.alert a span:after {
	color: #B32947;
}

#layout-main div.format-buttons .f_button {
	background-color: #BBBBBB;
}

#layout-main div.format-buttons *.f_button:hover,
#layout-main div.format-buttons *.f_button.selected {
	background-color: #CCCCCC;
}

span.test,
button,
#layout-main ul.g_list li,
#layout-main ul.g_list li.g_odd,
*.g_button a,
input[type="button"],
input[type="submit"],
#layout-search .submit,
input[type="text"],
input[type="password"],
input.text,
textarea,
select,
#layout-search select,
#layout-search input.text,
#layout-main div.pagination span strong,
#layout-main div.pagination span a,
#layout-main div.pagination span a:hover,
#layout-main div.format-buttons .f_button,
#layout-main div.g_menu.filter_menu div.settings input[type="text"],
#layout-main div.g_menu.filter_menu div.settings select,
#layout-main div.forum div.g_bubble.navbar div.bottom,
#layout-main div.votes_all div.graph div.group_odd,
#layout-main div.forum div.cmt_entries.history h4,
#layout-main div.votes_all div.graph.eps div.g_odd {
	border-color: #34394D;
}

.g_bubble,
.g_image,
#layout-main div.forum div.signature,
#layout-main div.forum .g_bubble.infobox .row + .row,
#layout-main div.cmt_entries div.profile,
#layout-main div.forum div.quickreply textarea,
#layout-main div.forum .g_bubble.infobox h3,
#layout-main div.forum .g_bubble.infobox div.data p.subtitle,
#layout-main div.addtagentityrel_all div.suggestions > span.focus,
#layout-main div.addtagentityrel_all div.suggestions > span:hover {
	border-color:#9A9A9A #7D7D7D #7D7D7D #9A9A9A;
}

.g_bubble.box > div.top div.name,
.g_bubble.stripe > div.data div.name,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries div.title,
#layout-tabs ul.main-tabs li,
#layout-main div.tabbed_pane ul.tabs li,
#layout-menu li.sub-menu ul li#user-xpass input,
#layout-menu li.sub-menu ul li#user-xname input,
#layout-main div.forum ul.topiclist div.row div,
#layout-main div.forum li.row + li.row,
#layout-main div.msg_all div.forum ul.topics div.check,
#layout-main div.tag-column .tag-block + .tag-block {
	border-color: #9A9A9A;
}

#layout-menu li.sub-menu,
#layout-main > h1,
#layout-main div.animeatt_all div.review > h4,
#layout-main div.news h4,
#layout-main div.g_timedentry h4 {
	border-color: #EEEEEE #8E8E8E #8E8E8E #EEEEEE;
}

#layout-main div.anime_all div.groups td.epbar div.done,
#layout-main div.group_all div.group_released td.epbar div.done {
	background-color: #4F99E8;
	border-bottom-color: #4F99E8;
}

#layout-main div.anime_all div.groups td.epbar div.done.mylist,
#layout-main div.group_all div.group_released td.epbar div.done.mylist {
	border-bottom-color: #7BE07B;
}

#layout-main div.anime_all div.groups td.epbar div.done,
#layout-main div.group_all div.group_released td.epbar div.done {
	background-color: #4F75E8;
	border-bottom-color: #4F75E8;
}

#layout-main div.anime_all div.groups td.epbar div.notdone,
#layout-main div.group_all div.group_released td.epbar div.notdone {
	background-color: #C3CFFF;
	border-bottom-color: #C3CFFF;
}

#layout-main div.anime_all div.groups td.epbar div.done.mylist,
#layout-main div.group_all div.group_released td.epbar div.done.mylist {
	border-bottom-color: #7EF27E;
}

#layout-main div.addsimilaranime_all div.addsimilaranime_entries div.profile div strong,
#layout-tabs ul.main-tabs li.selected a,
#layout-tabs ul.main-tabs li:hover a {
	color: #000000;
}

#layout-main div.addsimilaranime_all div.addsimilaranime_entries div.profile div {
	color: #666666;
}

#layout-main div.forum .g_bubble.infobox h3,
#layout-main div.forum .g_bubble.infobox div.data p.subtitle {
	border-bottom-color:#7D7D7D;
}

.g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody {
	background-color: #E6E4D1 !important;
}

.g_bubble.quotebody .g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody {
	background-color: #F0EDD5 !important;
}

#layout-main div.main_all div.g_section > h2 {
	background-color:#34394D;
	color:#DDDDDD;
	border-color:#EEEEEE #8E8E8E #8E8E8E #EEEEEE;
}

#layout-main div.main_all div.account ul.tabs li {
	border-top-color: #9A9A9A;
	border-left-color: #9A9A9A;
	border-right-color: #7D7D7D;
}

#layout-main div.main_all div.account ul.tabs li,
#layout-main div.main_all div.account ul.tabs li.signup:hover {
	background-color:#CFD1D4;
	border-bottom-color: #CFD1D4;
}

#layout-main div.main_all div.account ul.tabs li.signup a {
	color: #CFD1D4;
}

#layout-main div.main_all div.news.forum div.latestnews div.posted {
	color:#666666;
}

#layout-main div.forum div.g_bubble.rules {
	background-color:#ECD5D8;
	color:#BC2A4D;
	border-color: #DEBFC3 #C4939F #C4939F #DEBFC3;
}

#layout-tabs ul.main-tabs > li:hover,
#layout-tabs ul.main-tabs > li.selected {
	border-bottom-color: #CFD1D4;
}

#layout-tabs ul.main-tabs > li {
	border-bottom-color: #34394d;
}

/*tooltip*/
#imagepreview,
.tooltip span.text {
	background-color: #d3d5d9 !important;
	color: #000000;
	box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2);
	opacity: 0.95;
}

.tooltip span.text:before,
.tooltip span.text:after {
	border-color: rgba(211, 213, 217, 0);
	border-bottom-color: #d3d5d9;
}

/*quicksearch*/
#layout-search ul.quicksearch {
	background-color: #B9BBBF;
	border-color: #34394d;
}

#layout-search ul.quicksearch li:hover,
#layout-search ul.quicksearch li.focus {
	background-color:#BBBBBB;
}

/*tag cloud*/
#layout-main div.tag-column div.tag[data-anidb-weight="0"] .name a {
	color: rgba(0, 0, 0, 0.6);
}
#layout-main div.tag-column div.tag.abstract[data-anidb-weight="0"] .name a,
#layout-main div.tag-column span.not_added a {
	color: rgba(0, 0, 0, 0.3);
}
#layout-main div.chartag-list span.size0 a,
#layout-main div.chartag-list span.size1 a,
#layout-main div.tag-column div.tag[data-anidb-weight="100"] .name a {
	color: rgba(16, 82, 137, 0.5);
}
#layout-main div.chartag-list span.size2 a,
#layout-main div.tag-column div.tag[data-anidb-weight="200"] .name a {
	color: rgba(16, 82, 137, 0.6);
}
#layout-main div.chartag-list span.size3 a,
#layout-main div.tag-column div.tag[data-anidb-weight="300"] .name a {
	color: rgba(16, 82, 137, 0.7);
}
#layout-main div.chartag-list span.size4 a,
#layout-main div.chartag-list span.size5 a,
#layout-main div.tag-column div.tag[data-anidb-weight="400"] .name a {
	color: rgba(16, 82, 137, 0.8);
}
#layout-main div.chartag-list span.size6 a,
#layout-main div.chartag-list span.size7 a,
#layout-main div.tag-column div.tag[data-anidb-weight="500"] .name a {
	color: rgba(16, 82, 137, 1.0);
}
#layout-main div.chartag-list span.size8 a,
#layout-main div.chartag-list span.size9 a,
#layout-main div.chartag-list span.size10 a,
#layout-main div.tag-column div.tag[data-anidb-weight="600"] .name a {
	color: rgba(16, 82, 137, 1.0);
}
#layout-main div.tag-column div.tag[data-anidb-weight="100"] .weight {
	opacity: 0.3;
}
#layout-main div.tag-column div.tag[data-anidb-weight="200"] .weight {
	opacity: 0.4;
}
#layout-main div.tag-column div.tag[data-anidb-weight="300"] .weight {
	opacity: 0.6;
}
#layout-main div.tag-column div.tag[data-anidb-weight="400"] .weight {
	opacity: 0.8;
}

#layout-main div.chartag-list a:hover,
#layout-main div.tag-column a:hover {
	color: #AA0000 !important;
	opacity: 1.0 !important;
}

tr + tr td,
tr + tr th,
li.g_odd + li,
li + li.g_odd,
#layout-main #tagtree div.tag-column div.tag,
#layout-main div div.explanation div.description dl + dl,
#layout-main div.report_all div.body ul li + li,
#layout-main div.g_definitionlist tr th,
#layout-main div.votes_all div.graph div.group + div.group_odd,
#layout-main div.votes_all div.graph div.group_odd + div.group,
#layout-main div.votes_all div.graph.eps div.row + div.row,
#layout-main div.addtagentityrel_all #tag-list div.tag + div.tag {
	border-top-color: #999999;
}

#layout-main div.characterlist_all tr td + td,
#layout-main div.creatorlist_all tr td + td,
#layout-main div.clublist_all tr td + td,
#layout-main div.collectionlist_all tr td + td,
#layout-main div.grouplist_all tr td + td,
#layout-main div.songlist_all tr td + td,
#layout-main div.taglist_all tr td + td,
#layout-main div.userlist_all tr td + td,
#layout-main div.tag_all tr td + td,
#layout-main div.mylist_all td+td,
#layout-main div.myvotes_all td+td,
#layout-main div.mywishlist_all tr td+td,
#layout-main div.animelist_all tr td+td,
#layout-main div.lexicon_all table.animelist tr td+td,
#layout-main div.mynotifies_all tr td+td,
#layout-main div.mydb_all table tr td + td,
#layout-main div.modlatest_all table tr td + td,
#layout-main div.latest2_all table tr td + td,
#layout-main div.latest2_all table tr.rowspan td:first-child {
	border-left-color: #999999;
}

#layout-search input.text {
	box-shadow: 1px 1px 2px #8E8E8E inset;
}

#layout-search select {
	box-shadow: 0 1px 2px #8E8E8E inset;
}

#layout-menu li.sub-menu li + li {
	border-top-color: #454959;
}

#layout-main div.anime_all .staffblock + .staffblock table,
#layout-main div.ep_all .staffblock + .staffblock table,
#layout-main div.anime_all div.episodes tr.newtype td {
	border-top-color: #34394D;
}

#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-main div.tabbed_pane ul.tabs li.selected {
	border-bottom-color: #B9BBBF;
}

/*clickable logo*/
#layout-menu li.sub-menu ul li.main a:hover {
	background-color: transparent;
	background-image: none;
}

#layout-main div.forum hr,
#layout-main div.cmt_all div.cmt_add hr {
	background-color: #9A9A9A;
}

.ajax-file-upload:hover {
	opacity: 0.6;
}

tr,
#layout-main div.tabbed_pane div.body div.pane ul li:not(.row) .g_odd,
#layout-main div.anime_all div.data table.relationlist tr,
#layout-main div.profile_all div.tabbed_pane div.general table tr,
#layout-main div.profile_all div.tabbed_pane div.body div.pane ul li,
#layout-main div.report_all div.tabbed_pane div.body div.pane ul li,
#layout-main div.tabbed_pane div.body div.pane ul.contribute li,
#layout-main div.anime_all div.data table.relationlist tr {
	background-color: inherit;
}


#layout-main div.main_all div.edit_actions > span::before,
#layout-main div.main_all div.edit_actions > span::after,
#layout-main div.main_all div.edit_actions span > * {
	color: #C0DAF0;
}

#layout-main div.main_all div.account div.login input::-moz-placeholder {
    opacity: 1.0;
}