.tooltip span.text:after {
	margin-left: -10px;
}

.tooltip span.text:before {
	margin-left: -11px;
}

#layout-main div.tabbed_pane div.body {
	margin-top: -1px;
}

#layout-main .g_section:not(.tabbed_pane) > .g_bubble > table {
	padding: 2px;
}

#layout-tabs {
	margin-top: -3.1em;
}