tr+tr td {
	border-top: 1px #FFFFFF solid;
}

table {
	border: 2px #006699 solid;
	border-spacing: 0;
}

table.filelist tr.newep td {
	border-top: 1px solid #006699;
}

table table {
	border: none;
}

 a,
 img,
.g_image {
	border: none;
}

#layout-footer,
#layout-main,
#layout-nav,
#layout-tabs ul li a,
#layout-tabs ul li.g_odd a {
	border: 1px #98AAB1 solid;
}

#layout-main div.g_definitionlist table {
	border-color: #E5E5E5;
}

#layout-tabs ul li.selected a {
	border-bottom: 1px #E5E5E5 double;
}

#layout-main div.tabbed_pane ul.tabs li.selected {
	border-bottom: 1px #fefefe double;
}

.g_image,
#layout-main .g_description,
#layout-main .g_list,
#layout-main div.addepm div.ep,
#layout-main div.g_definitionlist table,
#layout-main div.g_timedentry,
#layout-main div.review div.text,
#layout-main div.tabbed_pane div.body,
#layout-main div.tabbed_pane ul.tabs li,
#layout-main ul,
#layout-menu ul {
	border: 1px #d1d7dc solid;
}

#layout-main h1 {
	border: 1px solid #03699c;
}

.g_image {
	padding: 1px;
}

.g_image,
#layout-main .g_definitionlist {
	padding: 1px;
}

#layout-main .block .g_definitionlist table {
	border: none;
	margin: 0;
}

#layout-main div.g_definitionlist tr th {
	border-top: 1px #FFFFFF solid;
	border-right: 1px #FFFFFF solid;
}

#layout-main div.forum div.comment,
#layout-main div.tabbed_pane ul.contribute {
	border: none;
}

#layout-main div.report_all div.body ul li {
	border-top: 1px solid #FFFFFF;
}

#layout-main div div.explanation div.description {
	border: 1px solid #D1D7DC;
}

#layout-main div div.explanation div.description dl + dl,
#layout-main div.report_all div.body ul li + li {
	border-top: 1px solid #FFFFFF;
}

#layout-main div div.explanation div.description table {
	border: none;
}

#layout-main div.anime_all .staffblock + .staffblock table,
#layout-main div.anime_all div.episodes tr.newtype td,
#layout-main div.ep_all .staffblock + .staffblock table {
	border-top: 2px solid #006699;
}

#layout-main div.userpage_all > div.g_section > h4 {
	border-radius: 5px;
	border-top: 1px solid #FFFFFF;
}

#layout-main div.info div.extra div table {
	border: none;
}