table {
	border-collapse: separate;
}

table table {
	border: none;
}

 a,
 img,
.g_image {
	border: none;
}

.g_image,
#layout-main .g_definitionlist table,
#layout-main .g_description,
#layout-main .g_timedentry h4 {
	border: 1px #98AAB1 dotted;
}

.g_image,
#layout-main .g_definitionlist {
	padding: 1px;
}

#layout-main .block .g_definitionlist table {
	border: none;
	margin: 0;
}

#layout-main div.anime_all .staffblock + .staffblock table,
#layout-main div.anime_all div.episodes tr.newtype td,
#layout-main div.ep_all .staffblock + .staffblock table {
	border-top: 2px #006699 double;
}

#layout-main div.anime_all div.episodes tr.heading th {
	padding: 4px 1px 7px 1px;
	border-bottom: black 2px solid;
}

#preferences div.g_section div.body {
	border: 1px solid #486187;
}

#layout-main div.tabbed_pane div.body,
#layout-main div.tabbed_pane ul.tabs li,
#layout-tabs ul li a {
	border: 1px solid #486187;
}

#layout-tabs + #layout-main {
	border-top: 1px solid #486187;
}

#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-tabs ul li.selected a {
	border-bottom: 1px #e7ebff double;
}

#layout-main div.tabbed_pane ul.tabs li:hover,
#layout-tabs ul li a:hover {
	border-bottom: 1px #e7ebff double;
}