@import "../zakura/zakura.css";

#layout-menu li.sub-menu
{
	height:20px;
}

#layout-content {
	margin-left: 0;
	margin-top: 2em;
}

#layout-menu > li
{
	background-attachement:scroll;
	background-color:transparent;
	background-image:url('images/layout/stripe-pink2.gif');
	border:1px solid #eec6dc;
	color:#de4799;
	display:block;
	float:left;
	font-weight:700;
	line-height:20px;
	padding-left:18px;
	padding-right:18px;
	padding-top:-20px;
}

#layout-menu > li ul
{
	border:1px solid #AFBEC7;
	border-top:0;
	display:none;
	font-weight:400;
	line-height:normal;
	margin-left:-19px;
	margin-top:20px;
	padding:0;
	position:absolute;
}

#layout-menu > li.alert
{
	color:#B00;
}

#layout-menu a
{
	display:block;
	padding:3px 8px;
}

#layout-menu a[title^=""] span
{
	display:none;
}

#layout-menu a[title^=""]:after
{
	content:attr(title);
}

#layout-menu span.tab
{
	display:inline;
	float:right;
}

#layout-menu > li.account 
{
	border: none;
}

#layout-menu > li.account  span.tab
{
	display: none;
}

#layout-menu > li:hover ul
{
	display:block;
}