#layout-menu {
	width: 174px;
	margin-left: 0;
	padding-top: 0.5em;
}

#layout-content {
	margin-left: 17em;
}

#layout-nav {
	margin-top: 93px;
}

#layout-search {
	top: 0;
}

#layout-menu li.sub-menu {
	margin-right: 1.5em;
	margin-bottom: 1em;
	padding: 0 0.5em 0.5em 2em;
}

#layout-menu li.sub-menu.main {
	padding-top: 0.7em;
}

#layout-menu li.sub-menu span.tab {
	padding: 0;
	z-index: 2;
	padding: 0.2em 0 0;
	margin-left: -0.7em;
}

#layout-menu li.sub-menu > ul:not(#menu-main) {
	z-index: 1;
	margin-top: -2.6em;
	padding-top: 2.5em;
}